@scrollbar-size: 8px;
@scrollbar-thumb-size: @scrollbar-size;
@scrollbar-margin: 8px;
@scrollbar-side-margin: 3px;

.scrollbar {
  position: absolute;
  z-index: 10;
  cursor: pointer;

  &.y-axis {
    height: calc(~'100%' - 2 * @scrollbar-margin);
    width: @scrollbar-size;
    margin: @scrollbar-margin @scrollbar-side-margin;

    &.borderless {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.x-axis {
    width: calc(~'100%' - 2 * @scrollbar-margin);
    height: @scrollbar-size;
    margin: @scrollbar-side-margin @scrollbar-margin;

    &.borderless {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.scrollbar-thumb {
  position: absolute;
  z-index: 11;
  cursor: pointer;
  border-radius: 4px;
  background-color: fade(@scrollbar-thumb-color, 30%);

  &.y-axis {
    width: @scrollbar-thumb-size;
    top: 0px;
  }

  &.x-axis {
    height: @scrollbar-thumb-size;
    left: 0px;
  }

  &.inverted {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.scrollbar-thumb-move,
.scrollbar-thumb:hover {
    background-color: fade(@scrollbar-thumb-color, 60%);

  &.inverted {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
