.tree-field > .tree {
  margin-left: @mandatory-indicator-width;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  background-color: @control-background-color;
  overflow: hidden; /* necessary due to rounded borders and background color*/

  &:focus {
    .focus-border;
  }
}
