@table-footer-height: 52px;
@table-control-padding: 14px;
@table-control-content-padding: 10px;

.table-footer {
  position: absolute;
  bottom: 0px;
  height: @table-footer-height;
  width: 100%;
    /* FIXME nowrap does not seem to work, when fixing this. If white-space can be removed, remove resetting below too (white-space: normal) */
/*   white-space: nowrap; */
  border-top: 1px solid @desktop-border-color;
}

.control-resize {
  position: absolute;
  width: 100%;
  left: 0px;
  height: 16px;
  cursor: row-resize;
  z-index: 1;
  border-top: 3px solid @desktop-border-color;
}

.control-container {
  position: absolute;
  overflow: hidden;
  outline: none;
  background-color: @body-background-color;
  bottom: @table-footer-height;
  width: 100%;
  height: 0px;
  display: none;
  z-index: 1;
  /* Reset nowrap, forms may have fields which need wrapping (e.g. label field) */
  white-space: normal;
}

.control-content {
  height: 100%;
  width: 100%;

  & .tab-box.in-table-control > .tab-area {
    margin-top: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    // right: 4px;

    &::after {
      height: 0px;
    }

    & > button {
      border-top: solid 3px transparent;
      border-bottom: solid 1px transparent !important;

      &.selected {
        border-top-color: @active-color;
      }

      &.marked:not(.selected) {
        border-top-color: @palette-gray-5;
      }
    }
  }

  & .tab-content {
    position: absolute;
    top: 31px;
  }
}

.control-group {
  float: left;

  .table-footer > & ~ & {
    margin-left: -1px;
  }
}

.control-filter {
  float: left;
  width: 200px;
  min-height: 26px;
  font-size: 13px;
  margin-top: (@table-footer-height - 26px) / 2;
  margin-left: @table-control-padding;
}

.control-info {
  float: right;
}

.table-info-load,
.table-info-filter,
.table-info-selection {
  float: left;
  padding: @table-control-padding / 2 @table-control-padding 0px @table-control-padding;
  position: relative;
  display: none;
  width: 0px;
  height: @table-footer-height;
  color: @footer-color;
  cursor: pointer;
  line-height: 19px;
  .overflow-nowrap;

  &::before {
    content: '';
    position: absolute;
    top: @table-control-padding / 2  + 2px;
    left: 0px;
    height: @table-footer-height - @table-control-padding - 4px;
    border-right: 1px solid @desktop-border-color;
  }

  & span.info-button {
   text-decoration: underline;
  }

  &:hover span.info-button {
   color: @active-color;
  }
}
