@table-header-padding-y: @table-row-padding-y;
@table-header-padding-left: @table-row-padding-left;

.table-header {
  position: relative;
  background-color: @panel-background-color;
  border-bottom: 1px solid @border-color;
  white-space: nowrap;
  overflow: hidden;
}

.sort-icon(@icon) {
  position: absolute;
  margin-top: -2px;
  right: 6px;
  content: @icon;
  color: @palette-gray-6;
}

.header-item {
  position: relative;
  display: inline-block;
  .font-text-normal(@bold);
  padding: @table-header-padding-y 6px @table-header-padding-y @table-header-padding-left;
  .overflow-ellipsis-nowrap;
  /* Vertical align is necessary for 2 things:
    1. Alignment in case of multiline headers.
    2. A correct header height, see http://stackoverflow.com/questions/20566710/overflowhidden-displayinline-block-moves-text-upwards */
  vertical-align: bottom;
  cursor: pointer;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;

  &.sort-asc,
  &.sort-desc {
    /* make room form sort-icon */
    padding-right: 20px;
  }

  &.sort-desc::after {
    .sort-icon(@icon-arial-long-arrow-down);
  }

  &.sort-asc::after {
    .sort-icon(@icon-arial-long-arrow-up)
  }

  &:hover, &.header-move {
    color: @hover-color;
  }

  &.header-move::after,
  &.menu-open::after {
    display: none;
  }

  &.menu-open {
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
    background-color: @control-background-color;
    color: @active-color;
    z-index: 1;
  }
}

.header-resize {
  position: absolute;
  display: inline-block;
  top: 0px;
  height: 100%;
  width: 17px;
  padding: 6px 8px;
  margin-left: -8px;
  background-color: @border-color;
  background-clip: content-box;
  cursor: col-resize;
  z-index: 1;

  .header-move & {
    background-color: @panel-background-color;
  }

  .menu-open + &.header-resize {
    background-color: @panel-background-color;
  }
}
