@color-messagebox-border: @palette-light-gray-2;
@messagebox-label-padding: 20px;

.messagebox {
  position: absolute;
  top: 25%;
  left: 50%;
  max-width: 300px;
  .drop-shadow;
  border-top: 5px solid @active-color;
  border-top-left-radius: @border-radius;
  border-top-right-radius: @border-radius;

  &.severity-error {
    border-top-color: @color-error;
  }
}

.messagebox.shown {
  .animation-name (fade-slidein-top);
  .animation-duration (0.5s);
}

.messagebox-content {
  border-left: 1px solid @color-messagebox-border;
  border-right: 1px solid @color-messagebox-border;
  background-color:white;
  padding: (26px - @messagebox-label-padding) / 2 26px 26px 26px;
}

.messagebox-label {
  padding-top: @messagebox-label-padding;
}

.messagebox-intro-text {
  font-weight: bold;
}

.messagebox-buttons {
  & button {
    position: relative;
    padding: 12px;
    background-color: @palette-light-gray-4;
    border: 1px solid @color-messagebox-border;
  }

  & > button:first-child {
    border-bottom-left-radius: @border-radius;
  }

  & > button:last-child {
    border-bottom-right-radius: @border-radius;
  }

  & > button:first-child ~ button {
    border-left-width: 0px;
  }

  & > button:focus{
    outline: none;
  }

  & > button:focus:before{
    .focus-border;
    z-index: 1;

    position: absolute;
    content: '';
    left: -1px;
    top: -1px;
    height: calc(~"100% + 2px");
    width: calc(~"100% + 2px");
  }

  & > button:first-child:focus:before {
    border-bottom-left-radius: @border-radius;
  }

  & > button:last-child:focus:before {
    border-bottom-right-radius: @border-radius;
  }
}
