<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scout.service.services">
      <service
            class="org.eclipse.scout.rt.ui.html.DefaultRequestInterceptor"
            createImmediately="false">
      </service>
      <service
            class="org.eclipse.scout.rt.ui.html.OsgiWebArchiveService"
            createImmediately="false">
      </service>
      <service
            class="org.eclipse.scout.rt.ui.html.HtmlTextProviderService"
            createImmediately="false">
      </service>
   </extension>
   <extension
         point="org.eclipse.scout.rt.server.commons.filters">
      <filter
            aliases="/"
            class="org.eclipse.scout.rt.ui.html.gzip.GZIPServletFilter">
      </filter>
   </extension>
</plugin>
