.button button {
  position: relative;
  height: 30px;
  color: @text-color;
  background-color: @button-background-color;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  cursor: pointer;

  &:not(.last) {
    margin-right: @menu-item-margin-right;
  }

  &.default-button {
    .font-text-normal(@bold);
    background-color: @palette-bsi-normal;
    color: @palette-white;
    border-width: 0;
  }

  &:hover {
    color: @hover-color;
  }

  &.default-button:not(:disabled):hover {
    color: @palette-white;
    background-color: @default-button-background-color;
  }

  &:focus {
    outline: none;
  }

  &:focus::before {
    .button-focus;
  }

  &:disabled {
    background-color: @palette-white;
    color: @disabled-color;
  }

  &.default-button:disabled {
    border-width: 1px;
  }

  &.selected {
    border-style: inset;
    border-right-color: @border-color;
    border-bottom-color: @border-color;
  }

}

button img {
  vertical-align: middle;
  margin-bottom: 1px;

  &.with-label {
    margin-right: 8px;
  }
}

.form-field.button,
.form-field.link-button {
  margin-left: @mandatory-indicator-width;
}

/* Link buttons in a form must have an underline, but link buttons in the menubar shouldn't */
.form-field.link-button > div {
  text-decoration: underline;
}

.button>.key-box {
  position: absolute;
  top: 8px;
}
