<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextListener class="org.eclipse.scout.rt.platform.logger.AutoRegisteringJulLevelChangePropagator" />

  <variable scope="context" name="mdcPattern" value="principal=%X{subject.principal.name}, scoutSession=%X{scout.session.id}, jobName=%X{scout.job.name}, cid=%X{scout.correlation.id}" />
  <variable scope="context" name="mdcPatternWithoutEmptyValues" value="%replace(${mdcPattern}){'(, )?\\w+=((?=\\1)|, |$)', ''}" />
  <variable scope="context" name="logPattern" value="%date{ISO8601} %-5level [%thread] %logger.%method\\(%file:%line\\) - %msg - MDC[${mdcPatternWithoutEmptyValues}]%n%ex" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="org.eclipse.scout.rt.platform.logger.LevelRangeFilter">
      <levelMin>TRACE</levelMin>
      <levelMax>INFO</levelMax>
    </filter>
    <encoder>
      <pattern>${logPattern}</pattern>
    </encoder>
  </appender>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="org.eclipse.scout.rt.platform.logger.LevelRangeFilter">
      <levelMin>WARN</levelMin>
      <levelMax>ERROR</levelMax>
    </filter>
    <target>System.err</target>
    <encoder>
      <pattern>${logPattern}</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="STDERR" />
  </root>

  <logger name="org.quartz" level="WARN" />

  <!-- Inclusion of optional, user-specific Logback configurations -->
  <include file="${LOGBACK_INCLUDE_XML}" optional="true" />

</configuration>
