@check-box-size: 18px;

.check-box-field > .field {
  padding: @borderless-field-padding-y 0px @borderless-field-padding-y 25px;
  outline: none;

  & > .check-box,
  & > .label {
    color: @control-color;
    cursor: pointer;
  }

  &.disabled > .check-box,
  &.disabled > .label {
    cursor: default;
  }

  & > .label {
    #scout.overflow-ellipsis-nowrap();
  }

  &.disabled > .label {
    color: @control-disabled-color;
  }

  &.has-inner-alignment {

    &.halign-left {
      text-align: left;
    }

    &.halign-center {
      text-align: center;
    }

    &.halign-right {
      text-align: right;
    }
  }

  & > .check-box {

    &:focus {
      outline: none;
    }

    /* ::before */

    &::before {
      #scout.checkbox-before();
      #scout.checkbox-before-border();
      top: 5px;
    }

    &.checked::before {
      #scout.checkbox-before-checked();
    }

    &:focus::before {
      #scout.checkbox-before-focus();
    }

    &.disabled::before {
      #scout.checkbox-before-disabled();
    }

    &.disabled:hover::before {
      #scout.checkbox-before-disabled-border();
    }
  }

  &.cell-editor-field {
    /* generate an invisible border to make it easier to work with, since other fields have a border too */
    border: 1px solid transparent;
    padding-top: @table-row-padding-y - @checkable-cell-padding-adjustment;
    padding-left: @table-cell-padding-left - 1px;
    padding-right: @table-cell-padding-left - 1px;

    & > .check-box::before {
      position: static;
    }
  }
}
