@check-box-size: 18px;

.check-box-field > .field {
  cursor: pointer;
  display: block;
  position: relative;
  padding: @borderless-field-padding-y 0px @borderless-field-padding-y 25px;
  margin-right: 15px;
  outline: none;
  white-space: nowrap;
  /* FIXME NBU overflow cannot be set, checkbox looks ugly because height is too small */
/*     .overflow-ellipsis-nowrap;     */

  &::before {
    .checkboxLabelBefore();
    top: 5px;
  }

  &:focus::before {
    .checkboxLabelBeforeFocus;
  }

  &.disabled:hover::before {
    .checkboxLabelBeforeDisabledBorder;
  }

  &::before {
    .checkboxLabelBeforeFocus;
  }

  &.checked::before {
    .checkboxLabelBeforeChecked;
  }

  &::before {
    .checkboxLabelBeforeBorder;
  }

  &.disabled::before {
    .checkboxLabelBeforeDisabled;
  }

  &.disabled {
    .checkboxLabelDisabled;
  }
}
