@check-box-size: 18px;

.check-box-field > .field {
  display: block;
  position: relative;
  padding: @borderless-field-padding-y 0px @borderless-field-padding-y 25px;
  margin-right: 15px;
  outline: none;
  /* FIXME NBU overflow cannot be set, checkbox looks ugly because height is too small */
/*     #scout.overflow-ellipsis-nowrap();     */

  & > .check-box,
  & > .label {
    color: @control-color;
    cursor: pointer;
    white-space: nowrap;
  }

  &.disabled > .label {
    color: @control-disabled-color;
  }

  & > .check-box {

    &:focus {
      outline: none;
    }

    &.disabled {
      #scout.checkbox-label-disabled();
    }

    /* ::before */


    &::before {
      #scout.checkbox-label-before();
      #scout.checkbox-label-before-border();
      top: 5px;
    }

    &:focus::before {
      #scout.checkbox-label-before-focus();
    }

    &.disabled::before {
      #scout.checkbox-label-before-disabled();
    }

    &.disabled:hover::before {
      #scout.checkbox-label-before-disabled-border();
    }

    &.checked::before {
      #scout.checkbox-label-before-checked();
    }
  }
}
