@check-box-size: 18px;

.check-box-field > .field {
  padding: @borderless-field-padding-y 0px @borderless-field-padding-y 0px;
}

.check-box-field > .field {
  & > div {
    cursor: pointer;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    outline: none;
    white-space: nowrap;
    /* FIXME NBU overflow cannot be set, checkbox looks ugly because height is too small */
/*     .overflow-ellipsis-nowrap;     */
  }

  & > div::before {
    .checkboxLabelBefore(0px, 0px, 0px, 10px, -2px);
  }

  & > div:focus::before {
    .checkboxLabelBeforeFocus;
  }

  & > div.disabled:hover::before {
    .checkboxLabelBeforeDisabledBorder;
  }

  & > div::before {
    .checkboxLabelBeforeFocus;
  }

  & > div.checked::before {
    .checkboxLabelBeforeChecked;
  }

  & > div::before {
    .checkboxLabelBeforeBorder;
  }

  & > div.disabled::before {
    .checkboxLabelBeforeDisabled;
  }

  & > div.disabled {
    .checkboxLabelDisabled;
  }
}
