.scrollbar {
position: absolute;
width: 10px;
height: 100%;
z-index: 1;
background-color: white;
cursor: pointer;
}

.scrollbar-thumb {
position: absolute;
width: 10px;
top: 0px;
z-index: 2;
background-color: #D4D4D4;
cursor: pointer;
}

.scrollbar-thumb-move, .scrollbar-thumb:hover{
background-color: #0082A1;
}
