.menu-item {
color: #0082A1;
overflow: hidden;
text-overflow: ellipsis;
cursor: pointer;
line-height: 23px;
padding: 4px 8px 0px 9px;
}

.menu-item:hover {
text-decoration: underline;
color: #FE9915;
}

.menu-buttons{
}

.menu-buttons-label{
color: #FE9915;
padding: 0px 8px 0px 9px;
line-height: 20px;
height: 0px;
}


.menu-button{
display:inline-block;
cursor: pointer;
padding: 0px 10px 0px 10px;
}

.menu-button:before{
font-family: fontAwesome;
font-size: 24px;
line-height: 31px;
color:#0082A1;
content: attr(data-icon) '\A';
}

.menu-button:hover:before{
color: #FE9915;
}
