@menu-margin-x: @bench-margin-x;
@menu-item-margin-right: 14px;

/* Mixins */
.menu-icon(@icon) {
  .font-icon;
  display: inline-block;
  font-size: 22px;
  line-height: @size-desktop-menu - 1px;
  content: @icon;
  color: @icon-color;
  vertical-align: -3px;
}

.menu-context {
  .drop-shadow;
  border: 1px solid @color-bench-light-border;
}

.sub-menu-icon {
  display: inline-block;
  position: relative;
  left: 0px;
  top: 3px;
  .font-icon;
  line-height: 18px;
  font-size: 18px;
  padding-left: 10px;
  content: @icon-angle-down;
}

/* Styles */

.menubar {
  position: relative;
  box-sizing: border-box;
  height: 55px;
  margin: 0 @menu-margin-x;
  padding: 6px 0 10px 0;

  & div, button {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
  }

}

.menu-separator {
  box-sizing: content-box;
  width: 1px;
  height: 30px;
  margin: 6px 19px 3px 19px - @menu-item-margin-right;
  background-color: @border-color;
}

.menu-button {
  position: relative;
  height: 30px;
  min-width: 110px;
  margin: 6px 0 3px 0;
  color: @text-color;
  background-color: @button-background-color;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  cursor: pointer;

  &:not(.last) {
    margin-right:14px;
  }

  &.default-button {
    .font-text-normal(@bold);
    background-color: @palette-bsi-green;
    color: @palette-white;
    border-width: 0;
  }

  &:hover {
    color: @hover-color;
  }

  &.default-button:not(:disabled):hover {
    color: @palette-white;
    background-color: @default-button-background-color;
  }

  &:focus {
    outline: none;
  }

  &:focus:before {
    .overlay(-3px, -3px, 6px, 6px);
    .focus-border;
    border-radius: @border-radius;
  }

  &:disabled {
    background-color: @palette-white;
    color: @disabled-color;
  }

  &.default-button:disabled {
    border-width: 1px;
  }

}

.menu-item {
  /* vertical-align:middle only works with line-height */
  height: 39px;
  line-height: 39px;
  white-space: nowrap;
  cursor: pointer;
  padding-top: 1px;
  display: inline-block;

  &[data-icon]:before {
    .menu-icon(attr(data-icon));
  }

  &[data-icon]:hover:before {
    color: @hover-color;
  }

  &:hover {
    color: @hover-color;
  }

  &.disabled {
    color: @disabled-color;
  }

  &:not(.last) {
    margin-right: @menu-item-margin-right;
  }

  &.menu-open {
    color: @active-color;
  }

  &.has-submenu:after {
   .sub-menu-icon;
  }

}

.taskbar-tools .menu-item {
  padding-top: 6px;
}

.menu-right {
  float: right;
  height: 23px;

  &:not(.last) {
    margin-right: 33px;
  }
}

.menu-textandicon[data-icon]:before {
  padding-right: 11px;
}

.popup {
  position: absolute;
  margin: auto;
  z-index: 10;

  & > .popup-head {
    position: absolute;
    box-sizing: border-box;
    line-height: 39px;
    padding: 0px 13px;
    white-space: nowrap;
    background-color: white;
    border: solid 1px @menu-border-color;
    border-bottom: none;
    .drop-shadow();
  }
}

.popup-body {
  position: absolute;
  top: 39px;
  border: solid 1px @menu-border-color;
  background-color: @palette-white;
  .drop-shadow();

  & > .menu-item {
    border-bottom: solid 1px @menu-border-color;
    display: block;
    width: 100%;
    padding-left: 15px;
  }

  & > .menu-item:last-child {
    border-bottom: none;
  }
}

.popup-head {
  color: @active-color;

  &.has-submenu:after {
    .sub-menu-icon;
    transform: rotate(180deg);
    padding-right: 10px;
    padding-left: 0;
    top: 5px;
  }

  &[data-icon]:before {
    .menu-icon(attr(data-icon));
    color: @hover-color;
  }
}

.popup-deco {
  position: absolute;
  top: 39px;
  height: 1px;
  left: 1px;
  background-color: @palette-white;
}

