/* Mixins */
.menu-icon(@icon) {
  .font-icon;
  display: inline-block;
  font-size: 22px;
  line-height: @size-desktop-menu - 1px;
  content: @icon;
  color:#666;
  vertical-align:-3px;
}

.menu-context {
  .drop-shadow;
  border: 1px solid @color-bench-light-border;
}

.sub-menu-icon {
  display:inline-block;
  position:relative;
  left:0px;
  top:3px;
  .font-icon;
  line-height:18px;
  font-size:18px;
  padding-left:10px;
  content:@icon-angle-down;
}

/* Styles */

.menubar {
  position:relative;
  box-sizing:border-box;
  height:55px;
  margin:0 20px;
  padding:6px 0 10px 0;

  & div, button {
    box-sizing:border-box;
    display:inline-block;
    vertical-align:middle;
  }

}

.menu-separator {
  box-sizing:content-box;
  width:1px;
  height:30px;
  margin:6px 19px 3px 19px;
  background-color:#d6d6d6;
}

.menu-button {
  height:30px;
  min-width:110px;
  margin:6px 0 3px 0;
  color:#333;
  background-color:@color-bench-light;
  border:1px solid @color-bench-light-border;
  border-radius: @border-radius;

  &:not(.last) {
    margin-right:14px;
  }

  &+ .default-button {
    .font-text-normal(@bold);
    background-color:#389db6;
    color:white;
    border:none;
  }

  &:focus {
    color: white;
    border-color:@color-focus;
    background-color: @color-focus;
    outline: none;
  }
}

.menu-item {
  /* vertical-align:middle only works with line-height */
  height:39px;
  line-height:39px;
  white-space:nowrap;
  cursor:pointer;
  padding-top:1px;

  &[data-icon]:before {
    .menu-icon(attr(data-icon));
  }

  &[data-icon]:hover:before {
    color:@color-bench-text-hover;
  }

  &:hover {
    color:@color-bench-text-hover;
  }

  &.disabled {
    color:@color-bench-semi;
  }

  &:not(.last) {
    margin-right:14px;
  }

  &.menu-open {
    color:@color-bench-text-active;
  }

  &.has-submenu:after {
   .sub-menu-icon;
  }

}

.menu-right {
  float:right;
  height:23px;

  &:not(.last) {
    margin-right:33px;
  }
}

.menu-textandicon[data-icon]:before {
  padding-right: 11px;
}

.popup {
  position:absolute;
  margin:auto;
  z-index:10;

  & > .popup-head {
    position:absolute;
    box-sizing:border-box;
    line-height:39px;
    padding:0px 13px;
    white-space: nowrap;
    background-color:white;
    border:solid 1px #ccc;
    border-bottom:none;
    .drop-shadow();
  }
}

.popup-body {
  position:absolute;
  top:39px;
  border:solid 1px #ccc;
  background-color:white;
  .drop-shadow();

  & > .menu-item {
    border-bottom:solid 1px #ccc;
    display:block;
    width:100%;
    padding-left:15px;
  }

  & > .menu-item:last-child {
    border-bottom:none;
  }
}

.popup-head {

  color:@color-bench-text-active;

  &.has-submenu:after {
    .sub-menu-icon;
    transform: rotate(180deg);
    padding-right:10px;
    padding-left:0;
    top:5px;
  }

  &[data-icon]:before {
    .menu-icon(attr(data-icon));
    color:@color-bench-text-hover;
  }
}

.popup-deco {
  position:absolute;
  top:39px;
  height:1px;
  left:1px;
  background-color:white;
}

