.menu-icon(@icon) {
  display: inline-block;
  .font-icon;
  font-size: 22px;
  line-height: @size-desktop-menu - 1px;
  content: @icon;
  color:#666666;
}

.menubar {
  width: 100%;
  position: relative;
  height: @size-desktop-menu;
  overflow: hidden;
  margin: 11px 0 14px 20px;
}

.menubar div, button {
  display:inline-block;
  vertical-align:middle;
  font-family:arial;
  font-size:13px;
  box-sizing:border-box;
}

.menu-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  /* -1px used to cancel out effects of border-top */
  line-height: @size-desktop-menu - 1px;
  color: @color-bench-text;
  padding:0 10px;

  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;

  &:not(.last) {
    margin-right:10px;
  }

  &:hover {
    color: @color-bench-text-hover;
  }

  &.disabled {
    color: @color-bench-semi;
  }

  &.menu-right {
    float: right;
  }

  &.menu-right.menu-open {
    border-left: 1px solid @color-bench-light-border;
    border-right: 1px solid @color-bench-light-border;
    border-top:  1px solid @color-bench-light-border;
    color: @color-bench-text-active;
  }

  &.menu-open {
    color: @color-bench-text-active;
  }

  &[data-icon]:before {
    .menu-icon(attr(data-icon));
  }

  &.has-submenu:after {
    display: inline-block;
    position: relative;
    left: 0px;
    top: 2px;
    .font-icon;
    line-height: 18px;
    font-size: 18px;
    padding-left: 10px;
    content: @icon-angle-down;
  }

}

.menu-item-iconandtext[data-icon]:before {
  /* margin between icon and text */
  margin-right: 6px;
  vertical-align: -3px;
}

.menu-separator {
  background-color:#d6d6d6;
  box-sizing:content-box;
  width:1px;
  height:30px;
  margin:0 19px 0 19px;
}

/* context menu */

.menu-context {
  box-shadow: 2px 6px 14px -6px @color-bench-semi;
  border: 1px solid @color-bench-light-border;
}

.menu-container {
  .menu-context;
  position: absolute;
  z-index: 10;
  white-space: nowrap;

  &.menu-right:before {
    content: ' ';
    width: 42px;
    border-bottom: 1px solid @color-bench;
    position:absolute;
    top: -1px;
    right: -1px;
  }

  &.menu-window {
    padding-top: @size-table-header - 5px;
    cursor: pointer;
  }
}

.menu-container .menu-item {
  display: block;
  background-color: @color-bench;
  padding: 0px 12px 0px 12px;
  line-height: @size-table-header - 3px;
  border-bottom: 1px solid @color-bench-light-border;
  cursor: pointer;
  color: @color-bench-text;
  width:100%;

  &:hover{
    color: @color-bench-text-hover;
  }
}

.menu-button {
  background-color:@color-bench-light;
  color:@color-bench-text;
  border:1px solid @color-bench-light-border;
  min-width:110px;
  height:30px;
  -moz-border-radius:3px;
  border-radius:3px;
}

.menu-button:not(.last) {
  margin-right:14px;
}

.menu-button+.default-button {
  background-color:@color-bsi-green-semi;
  color:white;
  border:none;
  font-weight:bold;
}

