@tooltip-arrow-size: 14px;
@tooltip-border-size: 1px;
@tooltip-border: @tooltip-border-size solid @tooltip-border-color;

.tooltip {
  position: absolute;
  background-color: @tooltip-background-color;
  border: @tooltip-border;
  color: @tooltip-color;
  #scout.drop-shadow();
  max-width: 300px;
  white-space: normal;
}

.tooltip-content {
  background-color: @tooltip-background-color;
  padding: 8px 12px;
  position: relative;
  min-width: 60px; /* Prevents tooltips with very short text from looking "strange" */

  & span.bold {
    font-weight: bold;
  }

  & span.small {
    font-size: 11px;
    color: @palette-gray-6;
  }

}

.tooltip-arrow {
  position: absolute;
  width: @tooltip-arrow-size;
  height: @tooltip-arrow-size;
  background-color: @tooltip-background-color;
  border: @tooltip-border;
  #scout.transform(rotate(45deg));
  #scout.drop-shadow();
}

.tooltip-arrow.arrow-bottom {
  bottom: -(@tooltip-arrow-size / 2);
  margin-left: -(@tooltip-arrow-size / 2) - @tooltip-border-size;
}

.tooltip-arrow.arrow-top {
  top: -(@tooltip-arrow-size / 2);
  margin-left: -(@tooltip-arrow-size / 2) - @tooltip-border-size;
}

.tooltip-error {
  background-color: @error-background-color;
  border-color: @error-color;

  & .tooltip-arrow {
    background-color: @error-background-color;
    border-color: @error-color;
  }

  & .tooltip-content {
    background-color: @error-background-color;
  }
}

.tooltip-warning {
  background-color: @palette-blue-0;
  border-color: @palette-blue-3;

  & .tooltip-arrow {
    background-color: @palette-blue-0;
    border-color: @palette-blue-3;
  }

  & .tooltip-content {
    background-color: @palette-blue-0;
  }
}

.tooltip-info {
  background-color: @palette-gray-2;
  border-color: @palette-gray-4;

  & .tooltip-arrow {
    background-color: @palette-gray-2;
    border-color: @palette-gray-4;
  }

  & .tooltip-content {
    background-color: @palette-gray-2;
  }
}
