/* Replaces table.css */

.table {
height: 100%;
overflow: hidden;
}

.table-data {
position: relative;
height: calc(100% - 85px); /*85px is table footer/control*/
}

.table-row {
  position:relative;
  padding: 4px 8px 4px 12px;
  border-bottom: 1px solid #EEE;
}

.table-row-single {
  height: 45px;

  /* center vertically */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: center;

  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: center;
}

.table-row:active {
  /* touch feedback */
  background-color: #eee;
}

.table-row.row-selected {
  background-color: #eee;
}

.table-row > h3 {
  font-size: 16px;
  margin: 0 0;
}

.table-row > p {
  margin: 0 0;
  line-height: 24px;
}

.table-row > p:after {
  font-family: fontAwesome;
  content: "\F054";
  color: #D4D4D4;
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  top: 50%;
  margin-top: -11px;
  right: 0px;
}
