.table-data {
  padding: 0px;
}

.table-row, .table-row-sum {
  padding: 4px 8px 4px 12px;
  margin-bottom: 0px;
  border-bottom: 1px solid #EEE;
  border-right: 0px;
  border-left: 0px;
}

.table-row > h3 {
  font-size: 16px;
  margin: 0 0;
}

.table-row > p {
  margin: 0 0;
  line-height: 24px;
}


.table-row > p:after {
  font-family: fontAwesome;
  content: "\F054";
  color: #D4D4D4;
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  top: 50%;
  margin-top: -11px;
  right: 0px;
}


.table-row.select-top,
.table-row.select-middle,
.table-row.select-bottom,
.table-row.select-single {
  border: 0px;
  border-radius: 0px;

  padding: 4px 8px 4px 12px !important;
  background-color: #fe9915;
  color: white;
}
