@wizard-progress-height: 60px;
@wizard-progress-border-width: 3px;
@wizard-progress-content-h-padding: 15px;
@wizard-progress-separator-width: 10px;
@wizard-progress-separator-line-width: 2px;

@wizard-progress-step-background-color: @palette-gray-2;
@wizard-progress-step-foreground-color: @text-color;
@wizard-progress-step-separator-color: @palette-gray-4;
@wizard-progress-active-step-background-color: @item-selection-background-color;
@wizard-progress-active-step-foreground-color: @wizard-progress-step-foreground-color;
@wizard-progress-active-step-separator-color: @wizard-progress-step-separator-color;
@wizard-progress-disabled-step-background-color: @background-color;
@wizard-progress-disabled-step-foreground-color: @text-disabled-color;

.wizard-steps {
  height: @wizard-progress-height;
  margin-left: @mandatory-indicator-width;
  margin-right: 0;
  white-space: nowrap; /* Allows the last wizard-step to be 100% without line break */

  overflow: hidden;
  border: @wizard-progress-border-width solid @border-color;
  /* If wizard progress field is in the root-group-box and there is a menubar, */
  /* disable the top-border (because the menubar already has a border) */
  .menubar ~ .group-box-body > .wizard-progress-field > & {
    border-top-color: transparent;
    margin-top: -@wizard-progress-border-width;
  }

  /* This creates a new stacking context: */
  position: relative;
  z-index: 0;
}

.wizard-step {
  display: inline-block;
  height: @wizard-progress-height - (2 * @wizard-progress-border-width);
  line-height: @wizard-progress-height - (2 * @wizard-progress-border-width);
  position: relative;

  &:last-child {
    width: 100%; /* Stretch to right border, requires white-space: nowrap on container */

    & > .wizard-step-content {
      max-width: none;
    }
  }

  /* Step types */
  color: @wizard-progress-step-foreground-color;
  background-color: @wizard-progress-step-background-color;
  &.disabled {
    color: @wizard-progress-disabled-step-foreground-color;
    background-color: @wizard-progress-disabled-step-background-color;

    & .wizard-step-separator::after {
      /* border-left-color must match background color of .wizard-step */
      border-left-color: @wizard-progress-disabled-step-background-color;
    }
  }
  &.active {
    color: @wizard-progress-active-step-foreground-color;
    background-color: @wizard-progress-active-step-background-color;

    & .wizard-step-separator::after {
      /* border-left-color must match background color of .wizard-step */
      border-left-color: @wizard-progress-active-step-background-color;
    }
    & .wizard-step-separator::before {
      border-left-color: @wizard-progress-active-step-separator-color;
    }
  }
  &.before-active {
    & .wizard-step-separator::before {
      border-left-color: @wizard-progress-active-step-separator-color;
    }
  }
  &.all-before-active {
  }
  &.all-after-activeXXXXXXXX {
    color: @wizard-progress-disabled-step-foreground-color;
    background-color: @wizard-progress-disabled-step-background-color;

    & .wizard-step-separator::after {
      /* border-left-color must match background color of .wizard-step */
      border-left-color: @wizard-progress-disabled-step-background-color;
    }
  }

  /* Step content */
  & > .wizard-step-content {
    display: inline-block;
    max-width: 200px;
    line-height: normal;
    vertical-align: middle;
    margin-top: -2px; /* TODO BSH Why is this necessary? inline-block seems to add some implicit margins, which causes the block not to be vertically centered */
    min-height: 30px;

    /* Spacing */
    padding-left: @wizard-progress-separator-width + @wizard-progress-content-h-padding;
    padding-right: @wizard-progress-content-h-padding;

    & > .wizard-step-title {
      #scout.overflow-ellipsis-nowrap();
      font-weight: bold;
    }
    & > .wizard-step-sub-title {
      #scout.overflow-ellipsis-nowrap();
    }
  }
  &:first-child > .wizard-step-content {
    padding-left: @wizard-progress-content-h-padding;
  }

  /* Step separator */
  .wizard-step-separator {
    /* Arrow separators (::after is behind ::before) */
    &::after,
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: (@wizard-progress-height / 2) - @wizard-progress-border-width;
      left: 100%;
      height: 0;
      width: 0;
      margin-top: -((@wizard-progress-height / 2) + 4);
      border-top: ((@wizard-progress-height / 2) + 4) solid transparent;
      border-bottom: ((@wizard-progress-height / 2) + 4) solid transparent;
      border-left: @wizard-progress-separator-width solid transparent;
      z-index: 1; /* draw over next .wizard-step */
    }
    &::after {
      /* border-left-color must match background color of .wizard-step */
      border-left-color: @wizard-progress-step-background-color;
    }
    &::before {
      margin-left: @wizard-progress-separator-line-width;
      border-left-color: @wizard-progress-step-separator-color;
    }
  }


  /* Hover state */
  &.action-enabled:hover {
    cursor: pointer;

    & > .wizard-step-content > .wizard-step-title {
      text-decoration: underline;
    }
  }
}
