# Set default behaviour, in case users don't have core.autocrlf set.
* text eol=lf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.7z binary
*.bmp binary
*.clx binary
*.dat binary
*.der binary
*.dll binary
*.doc binary
*.docx binary
*.eml binary
*.eot binary
*.ER1 binary
*.exe binary
*.frx binary
*.gif binary
*.icns binary
*.ico binary
*.jar binary
*.jks binary
*.jpg binary
*.msg binary
*.pdf binary
*.PDF binary
*.pdn binary
*.png binary
*.pptx binary
*.psd binary
*.ttf binary
*.vsd binary
*.woff binary
*.woff2 binary
*.xls binary
*.xlsm binary
*.xlsx binary
*.xlt binary
*.zip binary
*.class binary
*.so binary
*.ai binary
*.gz binary
*.tar binary
*polite.ini binary
*.ise binary
