/* SCOUT GUI 0.2 */
/* (c) Copyright 2013-2014, BSI Business Systems Integration AG */
/* position, size, look, others */

/* font definition */

@font-face {
font-family: fontAwesome;
src: url('awesome.woff') format('woff');
}

@font-face {
font-family: fontDax;
src: url('dax.woff') format('woff');
}

/* global section, adjust for usage as portlet*/

*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

html, body {
height: 100%;
width: 100%;
margin: 0px;
overflow: hidden;
font-family: fontDax, Arial, sans-serif;
font-size: 14px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;}

/* for all classes */

body.col-resize *, body.col-resize {
cursor:col-resize !important;
}

body.row-resize *, body.row-resize {
cursor:row-resize !important;
}

/* desktop */

#Desktop {
width: 100%;
height: 100%;
}

/* views */

#DesktopViews {
width: 100%;
height: 57px;
min-width: 1024px;
border-bottom: 1px solid #CCC;
background: #FFF;
overflow: hidden;
}

.view-item {
position: relative;
float: left;
margin: 18px 0px 0px 40px;
padding-bottom: 10px;
font-size: 18px;
line-height: 26px;
color: #9C9C9C;
cursor: pointer;
white-space: nowrap;}

.view-item:hover{
color: #595959;
border-bottom: 2px solid #595959;
}

.view-item.selected {
color: #FE9915 !important;
border-bottom: 2px solid #FE9915;
}

#ViewAdd {
float: left;
height: 57px;
width: 45px;
padding: 24px 0px 0px 20px;
margin-left: 15px;
cursor: pointer;
}

#ViewAdd:before{
font-family: fontAwesome;
font-size: 14px;
color: #0082A1;
content: "\f067";
}

#ViewAdd:hover:before{
color:#FE9915;
}

.view-remove{
position: absolute;
top: -10px;
right: -10px;
height: 25px;
width: 10px;
padding-left: 5px;
}

.view-item:hover .view-remove:after{
font-family: fontAwesome;
font-size: 9px;
color: #0082A1;
content: "\f00d";
}

.view-remove:hover:after {
color:#FE9915 !important;
}

#ViewLogo {
float: right;
margin-top: 13px;
width: 225px; /*animate to 57px;*/
height: 33px;
background: url("logo.png");
background-size: cover;
}

/* tools */

#DesktopTools{
position: absolute;
right: 0px;
top: 58px;
height: calc(100% - 58px);
width: 80px;
border-left: 1px solid #CCC;
background-color: #FFF;
overflow: hidden;
}

.tool-item{
float: right;
height: 58px;
width: 80px;
padding: 15px 15px 15px 15px;
text-align: center;
cursor: pointer;
color:#FFF;}

.tool-item:before{
font-family: fontAwesome;
font-size: 30px;
color:#0082A1;
content: attr(data-icon) '\A';
}

.tool-item:hover{
color:#0082A1;
}

.tool-item.selected, .tool-item.selected:before{
color:#FE9915 !important;
}

.tool-item.selected:hover:before{
content: "\f00d" '\A';
}

.tool-item.disabled:hover, .tool-item.disabled:before{
cursor: default;
color:#CCC;
}

.tool-open{
position: absolute;
right: 80px;
top: 58px;
width: 0px;  /*animate to 300px;*/
height: calc(100% - 58px);
border-left:1px solid #CCC;
background-color: rgba(255, 255, 255, 0.95);
overflow: hidden;
z-index: 1;
}

#DesktopDialogs{
}

/* tree */

#DesktopTree{
position: relative;
width: 300px;
height: calc(100% - 58px);
overflow:hidden;
min-height: 100px;}

#DesktopTree > .scrollbar{
right: 19px;
margin-top: 10px;
margin-bottom: 10px;
}

#DesktopTreeScroll{
position: absolute;
top: 0px;
width: calc(100% - 11px);
height: 100%;
padding: 15px 0px 0px 10px;
}

#DesktopTreeResize{
position: absolute;
top: 0px;
right: 0px;
height: 100%;
width:21px;
background-color: #CCC;
border: 10px solid #FFF;
cursor: col-resize;
}

.tree-item{
position: relative;
float: left;
width: 100%;
line-height: 32px;
padding-left: 30px;
white-space: nowrap;
cursor: pointer;
overflow: hidden;

}

.tree-item-control{
position: absolute;
left: -1px;
top: -2px;
}

.tree-item-control:before{
font-family: fontAwesome;
font-size: 24px;
padding: 3px 3px 3px 3px;
content: "\F111";
color: #CCC;
}

.tree-item.can-expand > .tree-item-control:before{
content:"\F0A9";
}

.tree-item:hover > .tree-item-control:before{
color:#9C9C9C;
}

.tree-item.selected > .tree-item-control:before{
color:#FE9915 !important;
}

.tree-item.expanded > .tree-item-control:hover:before{
content:"\F057" !important;
}

.tree-item-menu{
position: absolute;
right: -1px;
top: -2px;
}

.selected > .tree-item-menu:before, .tree-item:hover > .tree-item-menu:before{
font-family: fontAwesome;
font-size: 24px;
content:"\F0C9";
color: #CCC;
background-color: #fff;
padding: 3px 3px 3px 3px;}

.tree-item-menu:hover:before{
color:#9C9C9C !important;
}

#TreeItemAnimate{
width: 100%;}

/* bench */

#DesktopBench{
position: absolute;
left: 300px;
top: 58px;
height: calc(100% - 58px);
width: calc(100% - 380px);
}

/* main table*/

#DesktopTable {
height: 100%;
width: 100%;}

#DesktopTableHeader{
border-bottom: 1px solid #EEE;
border-left: 2px solid #FFF;
}

.header-item{
position: relative;
overflow: hidden;
display: inline-block;
font-weight: bold;
padding: 7px 2px 2px 6px;
cursor:pointer;
}

.header-resize{
position: absolute;
top: 30px;
right: -7px;
cursor: col-resize;
height:29px;
width:1px;
background-color: #EEE;
border-left: 10px solid #FFF;
border-right:10px solid #FFF;
border-top:2px solid #FFF;
}

.header-item:hover .header-resize{
top: 0px  !important;
}

.header-control{
position: absolute;
top: 4px;
right: 12px;
cursor: pointer;
height: 29px;
width: 29 px;}

.header-control:before{
font-family: fontAwesome;
font-size: 16px;
color: #FFF;
content:"\F0C9";
padding: 4px 4px 4px 4px;}

.header-item:hover .header-control:before{
color: #CCC;
}
.header-control:hover:before{
color:#9C9C9C;
}

.header-item-up .header-control:before, .header-item-down .header-control:before{
color:#CCC;
}

/*
#header_menu {
z-index: 200000;
position: fixed;
padding: 0px 0px 0px 0px;
border: 2px solid #0082A1;
border: 2px solid #0082A1;
background-color:white;
overflow: visible;
}

#header_menu_exit, #header_menu_sort_up, #header_menu_sort_down, #header_menu_filter, #header_menu_add, #header_menu_more{
padding: 7px 8px 7px 7px;
cursor: pointer;
font-family: FontAwesome;
font-size: 16px;
color:#0082A1;
text-align:center;}

#header_menu_exit:hover, #header_menu_sort_up:hover, #header_menu_sort_down:hover, #header_menu_filter:hover, #header_menu_add:hover, #header_menu_more:hover{
color: #FE9915;
}

#header_menu_exit:before     {content: "\F0C9";}
#header_menu_sort_up:before   {content: "\F160";}
#header_menu_sort_down:before  {content: "\F161";}
#header_menu_filter:before    {content: "\F0B0";}
#header_menu_add:before      {content: "\F067";}
#header_menu_more:before    {content: "\F141";}

.header_menu_selected:before{
color: #FE9915;
}

#table_data{
height:calc(100% - 70px);
width: 100%;
overflow: hidden;
position: relative;
}

#table_scroll{
height:calc(100% - 70px);
position: absolute;
}

.data_row {
overflow: hidden;
white-space: nowrap;
position:relative;
padding: 2px 0px 2px 0px;
border-left: 2px solid #FFF;
border-right: 2px solid #FFF;
margin-bottom: -2px;
}

.data_row > div{
display: inline-block;
padding: 5px 2px 3px 6px;
background-color: #FFF;
border-bottom: 1px solid #EEE;
}


.data_row.row_top{
padding: 0px 0px 2px 0px !important;
border-top: 2px solid #0082a1;
border-left: 2px solid #0082a1;
border-right: 2px solid #0082a1;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
}

.data_row.row_middle{
border-left: 2px solid #0082a1;
border-right: 2px solid #0082a1;
}

.data_row.row_bottom{
padding: 2px 0px 0px 0px !important;
border-bottom: 2px solid #0082a1;
border-left: 2px solid #0082a1;
border-right: 2px solid #0082a1;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}

.data_row.row_single{
padding: 0px 0px 0px 0px !important;
border-top: 2px solid #0082a1;
border-bottom: 2px solid #0082a1;
border-left: 2px solid #0082a1;
border-right: 2px solid #0082a1;
border-radius: 7px;
}

#row_menu{
position: absolute;
left: -25px;
top: 0px;
background-color: #FFF;
padding: 5px 6px 3px 6px;
cursor: pointer;
border: 2px solid #0082a1;
border-radius: 7px;}

#row_menu:before{
font-family: FontAwesome;
font-size: 18px;
content:"\F0C9";
color: #0082a1;
}

#node_menu:hover:before{
color:#9C9C9C !important;
}
/*

/* menu */

#MenuControl{
position: fixed;
height: 37px;
width: 37px;
z-index: 4;
border-top: 2px solid #0082A1;
border-left: 2px solid #0082A1;
border-bottom: 2px solid #0082A1;
background-color: white;
cursor: pointer;
padding-left: 8px;
}

#MenuControl:before{
font-family: fontAwesome;
font-size: 24px;
content:"\F0C9";
line-height: 34px;
color: #0082A1; }

#MenuControl:hover:before{
color: #FE9915;
}

#MenuSelect{
position: fixed;
z-index: 3;
border: 2px solid #0082A1;
background-color:white;
white-space: nowrap;
padding: 3px;}

.menu-item{
color: #0082A1;
cursor: pointer;
line-height: 23px;
padding: 4px 8px 0px 9px;
}

.menu-item:hover {
text-decoration: underline;
color: #FE9915;
}

#MenuButtons{
height: 53px;
}

#MenuButtonsLabel{
color: #FE9915;
padding: 0px 8px 0px 9px;
line-height: 20px;
}

.menu-button{
display:inline-block;
cursor: pointer;
padding: 0px 10px 0px 10px;
}

.menu-button:before{
font-family: fontAwesome;
font-size: 24px;
line-height: 31px;
color:#0082A1;
content: attr(data-icon) '\A';
}

.menu-button:hover:before{
color: #FE9915;
}

/* scrollbar */

.scrollbar {
position: absolute;
width: 16px;
height: 100%;
z-index: 1;
padding: 0px 3px 0px 3px;
background-color: white;
cursor: pointer;
}

.scrollbar-thumb {
position: absolute;
width: 10px;
top: 0;
z-index: 2;
background-color: #D4D4D4;
cursor: pointer;
}

.scrollbar-thumb-move, .scrollbar-thumb:hover{
background-color: #0082A1;
}


/* old stuff */


