@tabbox-padding-x: 20px;
@tabbox-focus-arrow-width: 15px;

.tab-area {
  margin-top: @group-margin-top;
  margin-left: @mandatory-indicator-width;
  white-space: nowrap;
  overflow: hidden;

  & > button {
    position: relative;
    .font-text-normal(@bold);
    color: @title-color;
    border: none;
    background-color: transparent;
    height: 32px;
    padding: 0  @tabbox-padding-x;
    border-bottom: solid 3px transparent;
    border-top: solid 1px transparent;
    cursor: pointer;

    &.selected {
      color: @active-color;
      border-bottom-color: @active-color;
    }

    &.marked:not(.selected) {
      border-bottom-color: @palette-gray-5;
    }

    &:hover {
      color: @hover-color;
    }

    &:focus {
      outline: none;
    }

    &:focus::before {
      .font-icon;
      content: @icon-angle-right;
      color: @active-color;
      position: absolute;
      left: @tabbox-padding-x - @tabbox-focus-arrow-width;
      width: @tabbox-focus-arrow-width;
    }
  }

  &::after {
    width: 100%;
    height: 3px;
    margin-top: -3px;
    background-color: @palette-gray-4;
    content: '';
    display: block;
  }

  & > .overflow-tab-item {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 0 20px;

    &::before {
      .font-icon;
      font-size: 17px;
      color: @icon-color;
      content: @icon-ellipsis-v;
    }
  }
}
