.date-field input {
  .text-field-with-icon(@icon-calendar);
}

/** Prediction input field is in the back of the actual input field -> make actual input field transparent */
.date-field .predict {
  color: @disabled-color;
  background-color: @control-background-color;

  & + input {
    background-color: transparent;
  }
}

/* date box */
.field.has-error ~ .date-box{
  border-color: @color-error;
}

.date-box {
  margin-top: 5px;
  height: 233px;
  width: 252px;
  position: absolute;
  background-color: @control-background-color;
  z-index: 100;
  border: 1px solid @popup-border-color;
  border-radius: @border-radius;
  .drop-shadow();

  /* necessary for animation */
  overflow: hidden;
}

/* necessary for animation */
.date-box-viewport {
  position: relative;
  height: 100%;
  padding: 0px 6px;

}

/* necessary for animation */
.date-box-month {
  display: inline-block;
}

.date-box-weekday{
  width: 34px;
  height: 30px;
  line-height: 30px;
  float: left;
  text-align: center;
}


.date-box-day{
  width: 26px;
  margin: 1px 4px 1px 4px;
  height: 26px;
  line-height: 25px;
  float: left;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid transparent;

  &.center-nice{
    padding-right: 2px;
  }

  &:hover {
    color: @active-color;
  }

  &.date-box-out{
    color: @palette-light-gray-3;
  }

  &.date-box-weekend{
    color:#777777;
  }

  &.date-box-out-weekend{
    color: #aaa;
  }

  &.date-box-now{
    background-color: @palette-light-gray-4;
  }

  &.date-box-select{
    background-color: @palette-bsi-light-green-0;
    border: 1px solid @active-color;
  }
}

.date-box-header{
  line-height: 30px;
  height: 30px;
  padding: 0px 18px;
  background-color: @color-bench-light;
  border-bottom: 1px solid @color-bench-light-border;
}

.date-box-separator{
  position: absolute;
  top: 59px;
  left: 0px;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid @color-bench-light-border;
}

.date-box-header-month{
  text-align: center;
  cursor: default;
  font-size: 13px;
  padding-top: 1px;
}

.date-box-left-y,
.date-box-left-m,
.date-box-right-y,
.date-box-right-m{
  text-align: center;
  width: 22px;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
  .font-icon;
  font-size: 17px;

  &:hover{
    color: @active-color;
  }
}

.date-box-left-y,
.date-box-left-m{
  float: left;
}

.date-box-left-y:before {
  content: @icon-angle-double-left;
}

.date-box-left-m:before {
  content: @icon-angle-left;
}

.date-box-right-y,
.date-box-right-m{
  float: right;
}

.date-box-right-y:before {
  content: @icon-angle-double-right;
}

.date-box-right-m:before {
  content: @icon-angle-right;
}
