.date-field input {
  .text-field-with-icon('\f073');
}

/* date box */

.date-field > .predict {
  color: @color-bench-semi;
}

.field.has-error ~ .date-box{
  border-color: @color-error;
}

.date-box{
  height: 224px;
  width: 224px;
  position: absolute;
  background-color: #FFF;
  border: 1px solid @color-bench-text-active;
  padding: 6px;
  z-index: 100;

  /* necessary for animation */
  overflow: hidden;
}

/* necessary for animation */
.date-box .viewport {
  position: absolute;
  height: 100%;
}

/* necessary for animation */
.date-box-month {
  display: inline-block;
}

.date-box-weekday,
.date-box-day{
  width: 30px;
  margin: 0px;
  height: 26px;
  line-height: 26px;
  float: left;
  left: 100px;
  text-align: center;
  cursor: default;
}

.date-box-day:hover {
  color: @color-bench-text-active;
}

.date-box-weekday{
  font-weight: bold;
  color: #000;
}

.date-box-day{
  cursor: pointer;
}

.date-box-weekend{
  color:#777777;
}

.date-box-out{
  color:#d2d2d2;
}

.date-box-out-weekend{
  color: #aaa;
}

.date-box-now{
  font-weight: bold !important;
}

.date-box-select{
  width: 30px;
  line-height: 26px;
  height: 26px;
  font-weight:normal;
  background-color: #ededed;
}

.date-box-header{
  line-height: 26px;
  height: 26px;
  width: 211px;
  float: left;
  color: @color-bench-text-active;
  margin: 0px 0px 5px 0px;
}

.date-box-header-month{
  text-align: center;
  cursor: default;
  font-size:13px;
}

.date-box-left-y,
.date-box-left-m,
.date-box-right-y,
.date-box-right-m{
  text-align: center;
  width: 20px;
  height: 14px;
  cursor: pointer;
  .font-icon(bold);
  margin: 0px 2px 0px 0px;
  font-size: 18px;
}

.date-box-left-y:hover,
.date-box-left-m:hover,
.date-box-right-y:hover,
.date-box-right-m:hover{
  color: @color-bench-highlight;
}

.date-box-left-y,
.date-box-left-m{
  float: left;
}

.date-box-left-y:before {
  content:"\f100";
}

.date-box-left-m:before {
  content:"\f104";
}

.date-box-right-y,
.date-box-right-m{
  float: right;
}

.date-box-right-y:before {
  content:"\f101";
}

.date-box-right-m:before {
  content:"\f105";
}
