.radio-button>label {
  padding: 0px 0px 0px 25px;
}

.radio-button {
  & label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-right: 15px;
    font-size: 13px;
  }

  & label:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 5px;
  }

  & label:hover:before {
    border: 2px solid @hover-color;
  }

  & input[type=radio] {
    /* no visiblity and display change to be focusable */
    position: absolute;
    width: 22px;
    height: 22px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
  }

  & input[type=radio]:disabled + label:hover:before {
    border: 2px solid @border-color;
  }

  & input[type=radio]:checked + label:before {
    .font-icon;
    content: @icon-circle;
    color: @palette-black;
    font-size: 8px;
    text-align: center;
    line-height: 15px;
  }

  & input[type=radio]:focus + label:before {
    border-color: @focus-color;
    background-color: @focus-color-glow;
    outline: none;
  }

  & label:before {
    border: 2px solid @border-color;
    border-radius: 10px;
  }

  & input[type=radio]:disabled + label:before {
    background-color: @disabled-color;
  }

  & input[type=radio]:disabled + label {
    cursor: default;
  }
}
