.proposal-field {

  & input {
    .text-field-with-icon(@icon-pencil);
  }
}

.smart-field {

  & input {
    .text-field-with-icon(@icon-search);
  }

  /* Multiline SmartField */
  & .multiline {
    border-bottom-color: @border-color;
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    padding-left: 10px;
    height: 28px;
  }

  /* DIV below the smart field containing the additional lines */
  & .multiline-field {
    background-color: @control-background-color;
    border:solid 1px @border-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
    border-top: none;
    padding: 3px 10px;
    .overflow-ellipsis-nowrap;
    .user-select(text);

    .disabled & {
      background-color: @control-disabled-background-color;
    }
  }

   & input.multiline ~ .icon {
    margin-right: -15px;
    top: 0;
  }
}

.smart-field-popup {
  position: absolute;
  border: solid 1px @popup-border-color;
  border-radius:  @border-radius;
  overflow: hidden;
  z-index: 10;
  margin-top: 5px;
  background-color: white;
  .drop-shadow();
  .focus-border;
}

.measurement {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.proposal-chooser {
  & > .active-filter, & > .status {
    background-color: @panel-background-color;
    border-top: solid 1px @border-color;
    height: @logical-grid-height;
    padding: 7px 8px 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & .table-row.selected {
    background-color: @item-selection-background-color;
    border-color: @item-selection-border-color;
  }
}

.elipsis {
  padding-left: 3px;
}

.animate-dot {
  position: relative;
  .animation-name(animateDot);
  .animation-duration(1650ms);
  .animation-iteration-count(infinite);
}

.delay-0 { .animation-delay(0ms); }
.delay-1 { .animation-delay(200ms); }
.delay-2 { .animation-delay(400ms); }
