.proposal-field {

  & input, .input-field {
    #scout.text-field-with-icon(@icon-pencil);
  }
}

.smart-field {

  & input, .input-field {
    #scout.text-field-with-icon(@icon-search);
  }

  /* Multiline SmartField */
  & .multiline {
    border-bottom-color: @border-color;
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    padding-left: 10px;
    height: 28px;
  }

  /* DIV below the smart field containing the additional lines */
  & .multiline-field {
    background-color: @control-background-color;
    border:solid 1px @border-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
    border-top: none;
    padding: 3px 10px;
    #scout.overflow-ellipsis-nowrap();
    #scout.user-select(text);

    .disabled & {
      background-color: @control-disabled-background-color;
    }
  }

   & input.multiline ~ .icon {
    margin-right: -15px;
    top: 0;
  }
}

.smart-field-popup {
  position: absolute;
  border: solid 1px @popup-border-color;
  border-radius:  @border-radius;
  overflow: hidden;
  background-color: @palette-white;
  #scout.drop-shadow();
  #scout.focus-border();

  &.down {
    margin-top: 5px;
  }

  &.up {
    margin-bottom: 5px;
  }

  &.mobile {
    background-color: @table-header-background-color;
  }
}

.measurement {
  position: absolute;
  top: 0px;
  left: 0px;
}

.proposal-chooser {
  & > .active-filter, & > .status {
    background-color: @panel-background-color;
    border-top: solid 1px @item-selection-border-color;
    height: @logical-grid-height;
    padding: 7px 8px 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* Avoids a bug where the table is overlapping the status-field by 1 pixel */
  & .table {
    overflow: hidden;
  }

  & .table-row {
    padding-left: @text-field-padding-x - 8px;
  }

  & .table-row.selected,
  & .tree-node.selected {
    background-color: @item-selection-background-color;
    border-color: @item-selection-border-color;
  }

  /* Change color of last element to avoid double-border effect */
  & .table-row:last-of-type.selected, & .tree-node:last-of-type.selected {
    border-bottom-color: @item-selection-background-color;
  }

  & .table-row:last-of-type, & .tree-node:last-of-type {
    border-bottom-color: transparent;
  }
}

.proposal-chooser-container {
  position: absolute;
  border-top: solid 1px @border-color;
  background-color: @control-background-color;

  & > .proposal-chooser > .table {
    overflow: inherit;
  }
}

.elipsis {
  padding-left: 3px;
}

.animate-dot {
  position: relative;
  #scout.animation-name(animateDot);
  #scout.animation-duration(1650ms);
  #scout.animation-iteration-count(infinite);
}

.delay-0 { #scout.animation-delay(0ms); }
.delay-1 { #scout.animation-delay(200ms); }
.delay-2 { #scout.animation-delay(400ms); }
