.glasspane {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  #scout.animation(fade-in ease-in 1);
  #scout.animation-duration(0.25s);
  outline: none;
  z-index: 100;
  cursor: default;

  &.busy {
    /* Make glasspane transparent and disable animation */
    background-color: transparent;
    #scout.animation(none);
    cursor: wait;
  }

  &.dark {
    background-color: rgba(0, 0, 0, 0.1);
    #scout.animation(fade-in ease-in 1);
    #scout.animation-duration(0.25s);
  }
}

.glasspane-parent {
  pointer-events: none; /* Disable hover effects and clicks */
}
