.smart-field input {
  .text-field-with-icon(@icon-search);
}

.smart-field-popup {
  position:absolute;
  border:solid 1px @popup-border-color;
  border-radius: @border-radius;
  z-index:101;
  margin-top:5px;
  background-color:white;
  .drop-shadow();
}

.smart-field-popup > .options {
  position:absolute;
  overflow:hidden;
  /*overflow-y: scroll;*/
}

.smart-field-popup > .status {
  background-color:#eee;
  position:absolute;
  bottom:0px;
  width:100%;
  padding:2px 0 3px 0;
}

.smart-field-popup > .options > div {
  border-bottom:solid 1px #ccc;
  padding:2px 0 3px 0;
}

.smart-field-popup > .options div.selected {
  background-color:@color-bench-select;
}

.smart-field-popup > .options div:hover {
  background-color:@color-bench-select;
}

/* Multiline SmartField */
.smart-field .text-field {
  border-bottom-color: @palette-light-gray-4;
  border-top-left-radius: @border-radius;
  border-top-right-radius: @border-radius;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width:100%;
  padding-left:10px;
  height:28px;
}

.smart-field .multiline-field {
  background-color: @control-background-color;
  border:solid 1px @border-color;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: @border-radius;
  border-bottom-left-radius: @border-radius;
  border-top:none;
  padding:3px 10px;
}

/* TODO AWE: (smartfield) mit C.GU besprechen: evtl. etwas an der FormLayout impl. ändern?
 * Kann man das Icon nicht einfach nur per CSS platziern?
 */
.smart-field .text-field ~ .icon {
  margin-right:-15px;
  top:0;
}

