.smart-field input {
  .text-field-with-icon(@icon-search);
}

.smart-field-popup {
  border:solid 1px @color-bsi-green;
  position:absolute;
  z-index:101;
  margin-top:5px;
  background-color:white;
  box-shadow: 5px 5px 2px #ccc;
}

.smart-field-popup > .options {
  position:absolute;
  overflow:hidden;
  /*overflow-y: scroll;*/
}

.smart-field-popup > .status {
  background-color:#eee;
  position:absolute;
  bottom:0px;
  width:100%;
  padding:2px 0 3px 0;
}

.smart-field-popup > .options > div {
  border-bottom:solid 1px #ccc;
  padding:2px 0 3px 0;
}

.smart-field-popup > .options div.selected {
  background-color:@color-bench-select;
}

.smart-field-popup > .options div:hover {
  background-color:@color-bench-select;
}
