.graph-svg {
  width: 100%;
  height: 100%;
  /* Prevent borders outside visible area */
  padding: 2px;
}

.graph-node {
  stroke: @palette-white;
  stroke-width: 2px;
  cursor: pointer;

  &.center {
    fill: @palette-orange-3;
    stroke: @palette-orange-4;
  }
  &.internal {
    fill: @palette-gray-4;
    stroke: @palette-gray-5;
  }
  &.person {
    fill: @palette-blue-4;
    stroke: @palette-blue-5;
  }
  &.relation {
    fill: @palette-red-3;
    stroke: @palette-red-4;
  }
  &.business {
    fill:@palette-green-3;
    stroke: @palette-green-4;
  }
  &.department {
    fill: @palette-blue-2;
    stroke: @palette-blue-3;
  }
  &.company {
    fill: @palette-orange-2;
    stroke: @palette-orange-3;
  }
}

.graph-node-text {
  fill: @palette-black;
  text-anchor: middle;
  dominant-baseline: central;
  visibility:hidden;

  &:hover {
    cursor: pointer;
  }
}

.graph-node:hover + .graph-node-text{
  visibility:visible;
}

.graph-link {
  stroke: @palette-gray-4;
  stroke-width: 2;
}

.graph-link-text {
  fill:@palette-gray-5;
  text-anchor: middle;
  dy: 20px;
}
