.form {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: @background-color;
}

.detach-menu {
  &::before {
    .menu-icon(@icon-detach);
  }
  &:hover::before {
     color:@hover-color;
  }
}

.dialog {
  position: absolute;
  background-color: @background-color;
  border: solid 1px @border-color;
  border-top: 5px solid @active-color;
  border-top-left-radius: @border-radius;
  border-top-right-radius: @border-radius;
  .drop-shadow;
  margin: 10px;

  &.shown {
    .animation(fadeIn ease-in 1);
    .animation-duration(0.15s);
  }

  & > .title-box {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px; /* Leave space for 'x' closable */

    & > .title {
      .overflow-ellipsis-nowrap;
      .font-text-large;
      color: @active-color;
    }

    & > .sub-title {
      .overflow-ellipsis-nowrap;
      .font-text-normal;
      color: @active-color;
    }
  }

  & > .closable {
    position: absolute;
    right: 5px;
    margin: 8px;
    .font-icon;
    font-size: 17px;
    cursor: pointer;
    color: @icon-light-color;

    &::before {
      content: @icon-remove;
    }

    &:hover {
      color: @hover-color;
    }
  }
}
