@menubar-height: @logical-grid-height;

.menubar {
  position: relative;
  height: @menubar-height;
  border-bottom: 1px solid @border-color;
  white-space: nowrap;

  & > div {
    position: relative; /* reset a possible different value (e.g. set by .form-field) which might cause 'display: inline-block' to be ignored for the computed style */
    display: inline-block;
    height: @menubar-height;
    line-height: @menubar-height;
    vertical-align: middle;
  }

  & .button button {
    min-width: 110px;
    margin-right: @menu-item-margin-right;
  }
  & .button.last.right-aligned button {
    margin-right: 0;
  }

  &.bottom {
    border-top: 1px solid @border-color;
    border-bottom: 0;
  }

  & > .menu-item,
  & > .link-button > .menu-item {
    height: @menubar-height;
    line-height: @menubar-height;
  }

  & > .menu-separator {
    margin-top: 4px;
    height: @logical-grid-height - 12px;
  }
}

.main-menubar {
  margin-left: @bench-margin-x;
  margin-right: @bench-margin-x;
  height: 55px;
  padding-top: 11px;

  & > .menu-item[data-icon]::before {
    font-size: 22px;
  }
}
