.tree-field > .tree {
  margin-left: @mandatory-indicator-width;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  background-color: @control-background-color;

  &.disabled {
    background-color: @control-background-disabled-color;
  }
}
