
.tree-item{
position: relative;
float: left;
width: 100%;
height: 34px;
line-height: 30px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
cursor: pointer;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 28px;
border: 2px solid #fff;
transition: height 0.2s;
transition: padding 0.2s;}

.tree-item-control{
position: absolute;
left: -1px;
top: -1px;
width: 29px;
height: 30px;
line-height: 24px;
padding: 4px 4px 4px 4px;
}

.tree-item-control:before{
font-family: fontAwesome;
font-size: 18px;
color: #CCC;
line-height: 24px;
padding: 4px 4px 4px 4px;
}

.tree-item.can-expand > .tree-item-control:before{
content:"\F067";
}

.tree-item:hover > .tree-item-control:before{
color:#9C9C9C;
}

.tree-item.selected > .tree-item-control:before{
color:#0082a1 !important;
}

.tree-item.selected {
border: 2px solid #0082a1;
border-radius: 7px;
}

.tree-item.expanded > .tree-item-control:hover:before, 
.tree-item.selected > .tree-item-control:hover:before{
color:#FE9915 !important;
}

.tree-item-menu{
position: absolute;
right: 0px;
top: 0px;
background-color: #FFF;
padding-right: 4px;
}

.tree-item.selected > .tree-item-menu:before{
font-family: fontAwesome;
font-size: 18px;
content:"\F0C9";
color: #0082a1;
background-color: #fff;
padding: 3px 3px 3px 3px;
}

.tree-item.selected.menu-open {
border-bottom-right-radius: 0;
}

.tree-item.selected.menu-open > .tree-item-menu:hover:before{
content: "\f00d";
}

.tree-item-menu:hover:before{
color:#FE9915 !important;
}

#TreeItemAnimate{
width: 100%;
}

.tree-menu-container{
position: absolute;
border-bottom: 2px solid #0082A1;
border-left: 2px solid #0082A1;
border-right: 2px solid #0082A1;
background-color: #FFF;
white-space: nowrap;
padding: 2px;
min-width: 140px;
}


.tree-item .key-box {
left: 3px;
top: 7px;
width: 20px;
}


