.compact-tree {
  & .process {
    cursor: pointer;
    line-height: 18px;

    &:hover {
      color:@hover-color;
    }

    &.selected {
      text-decoration:underline;
      color:@active-color;
    }
  }

  & input {
    width: 100%;
    height: @logical-grid-height;
  }

  /* This wrapper DIV is required because CSS3 column flow does not work
   * when height is fixed and DIV is scrollable vertically.
   */
  & .nodes-wrapper {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    width: 360px;
    height: 168px;
  }

  & .nodes {
    columns: 105px 2;
    -moz-columns: 105px 2;
    -webkit-columns: 105px 2;

    column-gap: 24px;
    -moz-column-gap: 24px;
  }

  & .section {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;

    /* Hack for FF, because column-break-inside does not yet work for all elements, only for tables
   * see: https://bugzilla.mozilla.org/show_bug.cgi?id=549114
   */
    display: table;
    width:125px;
    margin-bottom: 16px;

    & .title {
      line-height: 18px;
      font-weight: bold;
    }
  }

}
