.tree {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  & .scrollbar-thumb {
    background-color: rgba(205, 205, 205, 0.3);
  }

  & .scrollbar-thumb-move,
  & .scrollbar-thumb:hover{
    background-color: rgba(205, 205, 205, 0.6);
  }
}

.tree-item{
  position: relative;
  width: 100%;
  max-height: 37px;
  line-height: 37px;
  .font-text-plus;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding-right: 8px;

  &.parent {
    .font-text-plus(@bold);
  }

  &.children {
  }

  &.group {
    background-color: @color-nav-semi;
  }

  &.selected {
    background-color: @body-background-color;
    color: @text-color;
  }

}

.navigation-breadcrumb .tree-item{
  overflow: visible;
  white-space: initial !important;
  text-align: center  !important;
  display: none;
  max-height: 80px;
  line-height: 21px;
  padding: 12px 2px 12px 2px !important;
  border-bottom: 1px solid @color-bench;

  &.parent, &.children, &.selected {
    .font-text-plus;
    display: block;
    background-color: @color-nav-semi;
  }

  &.selected {
    background-color: @color-bench;
    color: @text-color;
  }
}

.tree-item-control{
  position: relative;
  display: inline-block;
  top: 0px;
  left: -12px;
  line-height: 37px;
  min-width: 38px;
  padding-right: 13px;
  padding-left: 16px;
  margin-left: -18px;
  margin-right: -15px;
  transition: transform 0.3s;

  &:before{
    .font-icon;
    font-size: 20px;
    vertical-align: -2px;
    content: @icon-angle-right;
  }

  .tree-item.leaf > &:before {
    content: '';
  }

  .tree-item:selected > &:before{
    color: @text-color;
  }

  &.tree-item-control:hover{
    color: @highlight-color;
  }

  .tree-item.expanded > & {
    /* Adding 0.001 is necessary for firefox, otherwise it shifts the icon left a little when the animation finishes. */
    /* See https://bugzilla.mozilla.org/show_bug.cgi?id=739176 */
    .transform(rotate(90.001deg));
  }

  .navigation-breadcrumb & {
    display: none;
  }
}

/* bread crumb arrows */

.navigation-breadcrumb .parent:before,
.navigation-breadcrumb .parent:after,
.navigation-breadcrumb .selected:before {
  position: absolute;
  left: 50%;
  margin-left: -13px;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  z-index: 3;
}
.navigation-breadcrumb .parent:before {
  border-color: @color-bench transparent transparent transparent;
  border-width: 8px 13px 0 13px;
  bottom: -9px;
}
.navigation-breadcrumb .parent:after {
  border-color: @color-nav-semi transparent transparent transparent;
  border-width: 8px 13px 0 13px;
  bottom: -8px;
}
.navigation-breadcrumb .selected:before {
  border-color: @color-bench transparent transparent transparent;
  border-width: 8px 13px 0 13px;
  bottom: -9px;
}

.navigation-breadcrumb .parent.leaf:before,
.navigation-breadcrumb .parent.leaf:after,
.navigation-breadcrumb .selected.leaf:before {
  display: none;
}

/* key handling */

.tree-item .key-box {
  left: 3px;
  top: 7px;
  width: 20px;
}
