.tree {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.tree-item {
  display: block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid transparent;

  /* leave some space for the scrollbar */
  padding-right: 6px;
  /* set top/bottom padding for item */
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: @tree-item-control-size;

  &.parent {
  }

  &.children {
  }

  &.group {
  }

  &.selected {
    background-color: @selection-row-background-color;
    border: 1px solid @selection-row-border-color;

    .disabled & {
      background-color: @selection-row-background-disabled-color;
      border-color: @selection-row-border-disabled-color;
    }
  }
}

.tree-item-control {
  display: block;
  position: absolute;
  top: auto;
  left: auto;
  transition: transform 0.3s;
  cursor: pointer;

  /* adjust control position */
  margin-left: -@tree-item-control-size - 1px;
  margin-top: -1px;

  /* for good animation, ensure that the control is a square and the icon is centered */
  width: @tree-item-control-size;
  height: @tree-item-control-size;
  line-height: @tree-item-control-size;
  text-align: center;

  &:before {
    .font-icon;
    font-size: @tree-item-control-size;
    content: @icon-angle-right;
    color: @border-color;

    .tree-item.leaf > & {
      content: '';
    }

    .tree-item-control:hover& {
      color: @highlight-color;
    }

    .disabled & {
      color: @palette-gray-5;
    }
    .disabled .tree-item-control:hover& {
      color: @palette-gray-3;
    }
  }

  .tree-item.expanded > & {
    /* The "imprecise" angle is a workround for firefox to prevent shifting the animation a little when the animation finishes. */
    /* See https://bugzilla.mozilla.org/show_bug.cgi?id=739176 */
    .transform(rotate(89.99deg));
  }
}

/* key handling */

.tree-item .key-box {
  left: 3px;
  top: 7px;
  width: 20px;
}
