<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scout.service.services">
      <service
            class="org.eclipse.scout.rt.server.servlet31.ServletHelperService"
            createImmediately="true"
            factory="org.eclipse.scout.service.DefaultServiceFactory">
      </service>
   </extension>

</plugin>
