.root-group-box {
  margin: 0;
  background-color:#eee;
  box-sizing:border-box;
  position:relative;
}

.group-box {
  margin-bottom:10px;
  background-color:#ccc;
  box-sizing:border-box;
  position:relative;
}

.group-box-title {
  border-bottom : 1px solid black;
  color: #5D5D5D;
  font-weight: bold;
  text-shadow: 6px 1px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF;
}

.group-box-title-border {
  border-top: 1px solid #CCCCCC;
  display: block;
  height: 8px;
  margin-top: -8px;
}


/* TODO AWE: move to right file */
ul.sequence-box {
  margin:0;
  padding:0;
}

ul.sequence-box li {
  list-style: none;
  display: inline;
}
