.root-group-box {
  margin: 0;
  /* DEBUG background-color:#eee;*/
  box-sizing:border-box;
  position:relative;
}

.group-box {
  margin-bottom:10px;
  /* DEBUG background-color:#ccc;*/
  box-sizing:border-box;
  position:relative;
}

.group-box-title {
  width:100%;
  border-bottom: 1px solid #ccc;
  padding-top: -8px;
  margin-top: 8px;
}

.group-box-title span {
  font-weight:bold;
  background-color:white;
  color:#5D5D5D;
  padding-left:15px;
  padding-right:8px;
}

td {
  vertical-align:top;
}

/* also used for sequence-box */
.cols-1 td, .cols-1 li {
  width:100%;
}

.cols-2 td, .cols-2 li {
  width:50%;
}

.cols-3 td, .cols-3 li {
  width:33.3%;
}

.cols-4 td, .cols-4 li {
  width:25%;
}
