@group-margin-top: 14px;
@group-margin-bottom: 16px;

.root-group-box {
  box-sizing: border-box;
  margin: 0 @bench-margin-x;
  overflow: hidden;
}

.group-box {
  box-sizing: border-box;
  width: 100%;
}

.group-box-title {
  width: 100%;
  margin-top: @group-margin-top;
  border-bottom: 3px solid @color-bench-light-border;
  padding-bottom: 6px;

  & span {
   .font-text-normal(@bold);
   color: @title-color;
 }
}

.group-box-body {
  position: relative;

  margin: @group-margin-top 0 @group-margin-bottom 0;

  &.margin-invisible {
    margin: 0;
  }
}

.button-bar {
  position: relative;
  height: 28px;
}

.button-bar > .process {
  position: absolute;
  top: 0px;
  left: 0px;
}

.button-bar .form-field {
  position: static;
  display: inline-block;
}

.button-bar .field {
  position: static;
}

.button-bar > .system {
  position: absolute;
  top: 0px;
  right: 0px;
}

