@group-margin-top: 14px;
@group-margin-bottom: 16px;

.root-group-box {
  overflow: hidden;
}

.root-group-box > .group-box-body,
.root-group-box > .group-box-title {
  /* group-box-body may be scrollable.
  that's why the body has a padding instead of the root-group-box (to place the scrollbars inside the body) */
  padding-left: @bench-margin-x - @mandatory-indicator-width;
  padding-right: @bench-margin-x;
}

.group-box {
  width: 100%;
}

.group-box-title {
  width: calc(~"100%" - @mandatory-indicator-width);
  margin-top: @group-margin-top;
  margin-left: @mandatory-indicator-width;
  border-bottom: 3px solid @desktop-border-color;
  padding-bottom: 6px;

  & span {
   .font-text-normal(@bold);
   color: @title-color;
 }
}

.group-box-body {
  position: relative;
  overflow: hidden;
  padding: @group-margin-top 0 @group-margin-bottom 0;

  &.y-padding-invisible {
    padding-top: 0;
    padding-bottom: 0;
  }
}
