@group-padding-top: 14px;
@group-margin-top: 20px;

.root-group-box {
  box-sizing: border-box;
  margin: 0 @bench-margin-x 25px @bench-margin-x;
  padding-top: 19px;
  overflow: hidden;
}

.group-box {
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}

.group-box-title {
  width: 100%;
  border-bottom: 3px solid @color-bench-light-border;
  padding-top: -8px;
  padding-bottom: 6px;
  margin-top: @group-margin-top;
  margin-bottom: @group-padding-top;

  & span {
   .font-text-normal(@bold);
   color: @title-color;
 }
}

.group-box-body {
  position: relative;
}

.button-bar {
  position: relative;
  height: 28px;
}

.button-bar > .process {
  position: absolute;
  top: 0px;
  left: 0px;
}

.button-bar .form-field {
  position: static;
  display: inline-block;
}

.button-bar .field {
  position: static;
}

.button-bar > .system {
  position: absolute;
  top: 0px;
  right: 0px;
}

