Composite.mobileViewsArea {
  background-color: #FFFFFF;
  padding: 0px 0px 0px 0px;
}

Composite.mobileFormHeader {
  background-color: #67a8ce;
}

CLabel.actionBarContainer {
  color: white;
  font: bold 17px Arial, Helvetica, sans-serif;
  background-color: transparent;
}

Composite.mobileTableActionBarContainer {
  background-image: gradient(
    linear, left top, left bottom,
    from( #DDEBF4 ),
    to( #d4e1e7 )
  );
}

Button.mobile-datechooser-dialog-last-year, Button.mobile-datechooser-dialog-last-year:hover {
  background-image: url( theme/img/datetime/last-year_30x30.png );
  border-radius: 5px;
}

Button.mobile-datechooser-dialog-last-month, Button.mobile-datechooser-dialog-last-month:hover {
  background-image: url( theme/img/datetime/last-month_30x30.png );
  border-radius: 5px;
}

Button.mobile-datechooser-dialog-next-year, Button.mobile-datechooser-dialog-next-year:hover {
  background-image: url( theme/img/datetime/next-year_30x30.png );
  border-radius: 5px;
}

Button.mobile-datechooser-dialog-next-month, Button.mobile-datechooser-dialog-next-month:hover {
  background-image: url( theme/img/datetime/next-month_30x30.png );
  border-radius: 5px;
}