<?xml version="1.0" encoding="UTF-8"?>
<web-app
  metadata-complete="true"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <display-name>${displayName}</display-name>

  <welcome-file-list>
    <welcome-file>redir.html</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>org.eclipse.scout.rt.server.commons.WebappEventListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.eclipse.scout.rt.server.commons.HttpSessionMutex</listener-class>
  </listener>

  <!-- filters for API access -->
  <filter>
    <filter-name>RestAuthFilter</filter-name>
    <filter-class>${package}.api.RestAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestAuthFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>ServerRunContextFilter</filter-name>
    <filter-class>org.eclipse.scout.rt.server.context.ServerRunContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ServerRunContextFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>GzipServletFilter</filter-name>
    <filter-class>org.eclipse.scout.rt.server.commons.servlet.filter.gzip.GzipServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GzipServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- JAX-RS Jersey Servlet that processes REST requests -->
  <servlet>
    <servlet-name>api</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.eclipse.scout.rt.rest.RestApplication</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>api</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

  <!-- UI Servlet that provides resources (js, html, css, ...) -->
  <servlet>
    <servlet-name>UiServlet</servlet-name>
    <servlet-class>org.eclipse.scout.rt.ui.html.UiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UiServlet</servlet-name>
    <url-pattern>/ui/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <!-- Session timeout in minutes -->
    <session-timeout>60</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
    </cookie-config>
  </session-config>

</web-app>
