.form {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: @body-background-color;
}

.form > .menubar, .dialog > .menubar  {
  border-bottom: 3px solid @desktop-border-color;

  &.bottom {
    position: absolute;
    bottom: 0;
    width: calc(~"100% - " @menu-margin-x*2);

    border-top: 1px solid @desktop-border-color;
    border-bottom: 0;
  }
}

.detach-menu {
  &:before {
    .menu-icon(@icon-detach);
  }
  &:hover:before {
     color:@hover-color;
  }
}

.dialog {

  position: absolute;
  background-color: @body-background-color;
  border: solid 1px @desktop-border-color;
  border-top: 5px solid @active-color;
  border-top-left-radius: @border-radius;
  border-top-right-radius: @border-radius;
  .drop-shadow;

  &.shown {
     opacity:0; /* make things invisible upon start */
     .animation (fadeIn ease-in 1);
     .animation-duration (0.15s);
     .animation-fill-mode (forwards);
  }
}
