.form {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: @body-background-color;
}

.form > .menubar {
  border-bottom: 3px solid @color-bench-light-border;

  &.bottom {
    position: absolute;
    bottom: 0;
    width: calc(~"100% - " @menu-margin-x*2);

    border-top: 1px solid @color-bench-light-border;
    border-bottom: 0;
  }
}

.detach-menu {
  &:before {
    .menu-icon(@icon-detach);
  }
  &:hover:before {
     color:@hover-color;
  }
}
