.notifications {
  position: fixed;
  right: 10px;
  top: 0;
  height: 100%;
  margin-top: 60px;
  width: 0; /* Don't block access to the elements in the background */
}

/*** Animation: slide-in ***/

@-webkit-keyframes notification-slide-in { .keyframes-notification-slide-in(); }
@keyframes notification-slide-in { .keyframes-notification-slide-in(); }

/**
 * Slides in the notification from the right end of the screen
 * and increases the size of the bottom margin to move down existing
 * notifications.
 */
.keyframes-notification-slide-in() {
  0%   { left: 250px; margin-bottom: 0;   }
  80%  { left: 15px;                      }
  100% { left: 0;     margin-bottom: 20px;}
}

.animation-notification-slide-in() {
  #scout.animation-name(notification-slide-in);
  #scout.animation-duration(0.3s);
  #scout.animation-iteration-count(1);
  #scout.animation-timing-function(ease-out);
}

.notification-slide-in {
  .animation-notification-slide-in();
}

/*** Animation: fade-out ***/

@-webkit-keyframes notification-fade-out { .keyframes-notification-fade-out(); }
@keyframes notification-fade-out { .keyframes-notification-fade-out(); }

.keyframes-notification-fade-out() {
  0%   { opacity: 1.0; margin-bottom:  20px; }
  100% { opacity:   0; margin-bottom: -37px; }
}

.animation-notification-fade-out() {
  #scout.animation-name(notification-fade-out);
  #scout.animation-duration(0.3s);
  #scout.animation-iteration-count(1);
  #scout.animation-timing-function(ease-out);
}

.notification-fade-out {
  .animation-notification-fade-out();
}

.notification {
  position: relative;
  width: 250px;
  float: right;
  border-left: 3px solid @active-color;
  background-color: @palette-white;
  margin-bottom: 20px;
  #scout.drop-shadow();

  &.ok {
    border-left-color: @palette-green-3;
  }

  &.info {
    border-left-color: @palette-blue-4;
  }

  &.warning {
    border-left-color: @palette-orange-3;
  }

  &.error {
    border-left-color: @palette-red-3;
  }
}

.notification-content {
  border: 1px solid @border-color;
  border-left-width: 0;
  padding: 10px;

  & > .closer {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.offline-message > .reconnect-animated::after {
  #scout.animation(rotation 0.9s linear infinite);
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top-color: @palette-gray-9;
  border-left-color: @palette-gray-9;
  width: 14px;
  height: 14px;
  margin-top: -3px;
}
