.tab-area {
  margin-top: @group-margin-top;
  background-image: url('bg_tab_area.png');
  background-repeat: repeat-x;
  background-position: center bottom;

  & > button {
    position: relative;
    .font-text-normal(@bold);
    color: @title-color;
    border: none;
    background-color: transparent;
    height: 32px;
    padding: 0  20px;
    border-bottom: solid 3px transparent;
    border-top: solid 1px transparent;
    cursor: pointer;

    &.selected {
      color: @active-color;
      border-bottom-color: @active-color;
    }

    &.marked:not(.selected) {
      border-bottom-color: @palette-gray;
    }

    &:hover {
      color: @hover-color;
    }
    
    &:focus {
      outline: none;
    }

    &:focus:before {
      content: '>';
      position: absolute;
      color: @active-color;
      left: 5px;
      //border-left: solid 2px @active-color;
    }

  }
}

.tab-content {
  padding-top: @group-padding-top;
}
