@tabbox-padding-x: 20px;
@tabbox-focus-arrow-width: 15px;

.tab-area {
  margin-top: @group-margin-top;

  & > button {
    position: relative;
    .font-text-normal(@bold);
    color: @title-color;
    border: none;
    background-color: transparent;
    height: 32px;
    padding: 0  @tabbox-padding-x;
    border-bottom: solid 3px transparent;
    border-top: solid 1px transparent;
    cursor: pointer;
    z-index: 2;

    &.selected {
      color: @active-color;
      border-bottom-color: @active-color;
    }

    &.marked:not(.selected) {
      border-bottom-color: @palette-gray;
    }

    &:hover {
      color: @hover-color;
    }

    &:focus {
      outline: none;
    }

    &:focus:before {
      .font-icon;
      content: @icon-angle-right;
      color: @active-color;
      position: absolute;
      left: @tabbox-padding-x - @tabbox-focus-arrow-width;
      width: @tabbox-focus-arrow-width;
    }
  }

  &:after {
    width: 100%;
    height: 3px;
    margin-top: -3px;
    z-index: 1;
    background-color: @palette-light-gray-2;
    content: '';
    display: block;
  }
}
