.tab-area {
  margin-top: @group-margin-top;
  background-image:url('bg_tab_area.png');
  background-repeat:repeat-x;
  background-position:center bottom;

  & > button {
    color:@text-color;
    border:none;
    background-color:transparent;
    height:32px;
    padding:0 10px;
    border-bottom:solid 3px transparent;

    &.selected {
      color:@active-color;
      border-bottom-color: @active-color;
    }

    &:hover {
      color:@hover-color;
    }

    &:focus {
      outline: none;
      color: @focus-color;
      border-bottom-color: @focus-color
    }
  }
}

.tab-content {
  padding-top: @group-padding-top;
}
