.tag-field > .field {
  .input-field();

  &.alternative {
    .input-field.alternative();
  }

  user-select: none;
  padding: 0 0 0 @tag-field-tag-margin-right;

  &:not(.multiline) {
    white-space: nowrap;
  }

  & > .tag-bar {
    display: inline-block;
  }

  & > input {
    border: none;
    padding: 0 3px;
    height: 100%;
    background-color: transparent;

    &.fullwidth {
      width: 100%;
      padding: 0 0 0 @text-field-padding-x - @tag-field-tag-margin-right;

      &.alternative {
        padding-left: @text-field-alternative-padding-left;
        padding-right: @text-field-alternative-padding-right;
      }
    }

    &.focused, &:focus {
      box-shadow: none;
    }

    &.has-error {
      background-color: transparent;
    }
  }
}
