.tag-field > .field {
  .input-field();

  &.alternative {
    .input-field.alternative();
  }

  user-select: none;
  padding: 0 0 0 @tag-field-tag-margin-right;

  &:not(.multiline) {
    white-space: nowrap;
  }

  & > input {
    border: none;
    padding: 0 3px;
    height: 100%;
    background-color: transparent;

    &.fullwidth {
      width: 100%;
      padding: 0 0 0 @text-field-padding-x - @tag-field-tag-margin-right;

      &.alternative {
        padding-left: @text-field-alternative-padding-left;
        padding-right: @text-field-alternative-padding-right;
      }
    }

    &.focused, &:focus {
      box-shadow: none;
    }

    &.has-error {
      background-color: transparent;
    }
  }
}

.tag-element,
.overflow-icon {
  display: inline-block;
  user-select: none;
  white-space: nowrap;
  color: @tag-text-color;
  outline: none;

  border-radius: 2px;
  background-color: @tag-element-background-color;
  padding: 0 5px;
  height: @tag-field-tag-height;
  line-height: @tag-field-tag-height;
  margin: @tag-field-tag-margin-y @tag-field-tag-margin-right 0 0;

  &:hover:not(.disabled) {
    background-color: @tag-element-background-color-hover;
  }

  &.focused {
    background-color: @palette-cyan-4;

    & > .tag-remove-icon::before {
      color: @palette-black;
    }
  }
}

.tag-element {
  & > .tag-text {
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
    display: inline-block;
    vertical-align: middle;
  }
}

.overflow-icon {
  &::before {
    #scout.font-icon();
    position: relative;
    font-size: 10px;
    content: @icon-chevron-down;
    color: @tag-icon-color;
  }

  &:hover {
    background-color: @tag-element-background-color-hover;
    cursor: pointer;
  }

  &.focused::before {
    color: @palette-black;
  }
}

.tag-remove-icon {
  padding-left: 3px;
  display: inline-block;
  vertical-align: middle;

  &::before {
    #scout.font-icon();
    position: relative;
    content: @icon-remove;
    color: @tag-icon-color;
  }

  &:hover {
    cursor: pointer;

    &::before {
      color: @palette-black;
    }
  }
}

.tag-input {
  border: none;
  outline: none;
}
