.tag-field > .field {
  height: 30px;
  border: solid 1px gray;
  border-radius: 3px;
  user-select: none;

  &:not(.multiline) {
    white-space: nowrap;
  }

  & > input {
    border: none;
    padding: 0 3px;
    background-color: yellow;

    &.fullwidth {
      width: 100%;
    }

    &.focused, &:focus {
      box-shadow: none;
    }
  }
}

.tag-element, .overflow-icon {
  display: inline-block;
  user-select: none;
  white-space: nowrap;

  border-radius: 2px;
  background-color: #ddd;
  padding: 0 5px;
  margin-right: 3px;
  height: 22px;
  line-height: 20px;
  margin: 3px 0 0 3px;

  &:hover {
    background-color: #aacbff;
  }
}

.overflow-icon {
  font-weight: bold;

  &:hover {
    background-color: #aacbff;
    cursor: pointer;
  }
}

.tag-element-remove {
  font-weight: bold;
  padding-left: 6px;

  &:hover {
    cursor: pointer;
  }
}

.tag-input {
  border: none;
  outline: none;
}
