<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.eclipse.scout.service.services">
    <service class="org.eclipse.scout.rt.client.services.common.bookmark.BookmarkService" factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"/>
    <service class="org.eclipse.scout.rt.client.services.common.platform.PlatformService" factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"/>
    <service class="org.eclipse.scout.rt.client.services.common.exceptionhandler.internal.InternalClientExceptionHandlerService" factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"/>
    <service class="org.eclipse.scout.rt.client.services.common.file.FileService" factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"/>
    <service class="org.eclipse.scout.rt.client.services.common.session.internal.ClientSessionRegistryService"/>
    <service class="org.eclipse.scout.rt.client.services.common.progress.internal.SimpleProgressService"/>
    <service class="org.eclipse.scout.rt.client.services.common.prefs.FileSystemUserPreferencesStorageService"/>
    <service class="org.eclipse.scout.rt.client.services.common.clientnotification.internal.ClientNotificationConsumerService"/>
    <service class="org.eclipse.scout.rt.client.services.common.perf.internal.PerformanceAnalyzerService"/>
    <service class="org.eclipse.scout.rt.client.ui.desktop.navigation.internal.NavigationHistoryService" createImmediately="false" factory="org.eclipse.scout.rt.client.services.ClientServiceFactory" ranking="-1"/>
    <proxy class="org.eclipse.scout.rt.client.services.common.code.CodeServiceClientProxy" createImmediately="true" factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"/>
    <proxy class="org.eclipse.scout.rt.client.services.common.security.AccessControlServiceClientProxy" createImmediately="true" factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"/>
    <proxy class="org.eclipse.scout.rt.client.services.lookup.BatchLookupServiceClientProxy" factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"/>
    <proxy class="org.eclipse.scout.rt.client.services.common.security.PermissionServiceClientProxy" factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"/>
    <proxy class="org.eclipse.scout.rt.shared.services.common.ping.IPingService" factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"/>
    <proxy class="org.eclipse.scout.rt.shared.services.common.security.ILogoutService" factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"/>
    <proxy class="org.eclipse.scout.rt.shared.services.common.bookmark.IBookmarkStorageService" factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"/>
    <proxy class="org.eclipse.scout.rt.shared.services.common.file.IRemoteFileService" factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"/>
    <proxy class="org.eclipse.scout.rt.shared.services.common.calendar.IHolidayCalendarService" factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"/>
    <service class="org.eclipse.scout.rt.client.services.common.shell.DefaultShellService" createImmediately="false"/>
    <service class="org.eclipse.scout.rt.client.services.common.icon.IconProviderService" createImmediately="false" factory="org.eclipse.scout.rt.client.services.ClientServiceFactory" ranking="-100"/>
    <service class="org.eclipse.scout.rt.shared.services.common.text.ScoutTextProviderService" createImmediately="false" factory="org.eclipse.scout.service.DefaultServiceFactory" ranking="-50"/>
    <proxy class="org.eclipse.scout.rt.shared.services.common.processing.IServerProcessingCancelService" factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"/>
    <service
          class="org.eclipse.scout.rt.client.services.common.search.DefaultSearchFilterService"
          createImmediately="false"
          factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"
          ranking="-1"
          session="org.eclipse.scout.rt.client.IClientSession">
    </service>
    <service
          class="org.eclipse.scout.rt.client.busy.BusyManagerService"
          createImmediately="false"
          ranking="-1000">
    </service>
    <service
          class="org.eclipse.scout.rt.client.services.common.session.DefaultClientSessionService"
          createImmediately="false"
          factory="org.eclipse.scout.rt.client.services.ClientServiceFactory" >
    </service>
    <service
          class="org.eclipse.scout.rt.client.services.lookup.DefaultLookupCallProvisioningService"
          createImmediately="false"
          factory="org.eclipse.scout.rt.client.services.ClientServiceFactory">
    </service>
    <service
          class="org.eclipse.scout.rt.shared.services.lookup.DefaultCodeLookupCallFactoryService"
          createImmediately="false"
          factory="org.eclipse.scout.rt.client.services.ClientServiceFactory">
    </service>
  </extension>
</plugin>
