/* color basics */

@color-nav: #41525E;
@color-nav-semi: #506678;
@color-nav-light: #DADADA;
@color-nav-select: #FFFFFF;
@color-nav-text: #FFFFFF;

@color-bench: #FFFFFF;
@color-bench-semi: #CCCCCC;
@color-bench-midi: #DBDBDB;
@color-bench-light: #F6F6F6;
@color-bench-light-border: #DDDDDD;
@color-bench-verylight-border: #EBEBEB;

@color-bench-text: #333333;
@color-bench-text-hover: #0082A1;
@color-bench-text-active: #0082A1;

@color-bench-select: #ECF3F7;
@color-bench-select-border: #0082A1;

@color-bench-highlight: #FE9915;


/* TODO AWE: (css/colors) ueber naming diskutieren */
@color-error: #FF6060;
@color-error-light: #FFE0E0;
@color-bsi-orange: #FE9915;
@color-bsi-green: #0082A1;
@color-bsi-green-semi: #389db6;
