@font-face {
font-family: fontAwesome;
font-style: normal;
font-weight: 400;
src: url('awesome.woff') format('woff');
}

@font-face {
font-family: fontScout;
font-style: normal;
font-weight: 400;
src: local('Open Sans'), local('OpenSans'), url('open_sans_normal.woff') format('woff');
}

.font-icon(@weight: 400) {
font-family: fontAwesome;
font-weight: @weight;
}

.font-text-small(@weight: 400) {
font-family: fontScout, sans-serif;
font-weight: @weight;
font-size: 11px;
}

.font-text-normal(@weight: 400) {
font-family: fontScout, sans-serif;
font-weight: @weight;
font-size: 13px;
}

.font-text-plus(@weight: 400) {
font-family: fontScout, sans-serif;
font-weight: @weight;
font-size: 14px;
}

.font-text-large(@weight: 400) {
font-family: fontScout, sans-serif;
font-weight: @weight;
font-size: 16px;
}


