@field-with-icon-padding: 20px;

.text-field {
  border:none;
  border-bottom:solid 1px #ccc;

  &:disabled {
    background-color:white;
    border-bottom: none;
    /* compensate missing border due to border-box model */
    /*//FIXME CGU hacky, why 2px, border is 1px? does not work well with zoom...*/
    padding-bottom: 2px;
  }
  &:focus {
    border-bottom:solid 1px @color-bsi-orange;
    outline: none;
  }
  &.has-error {
    border-bottom: solid 1px @color-error;
  }
}

/** expects a sibling html element with class 'icon' **/
.text-field-with-icon (@icon) {
  .text-field;
  padding-left: 20px;

  & ~ .icon {
    position: absolute;
  }

  & ~ .icon:before {
    .font-icon;
    font-size: 12px;
    content: @icon;
    line-height: @logical-grid-height;
  }

  &.disabled {
    padding-left: 0px;
  }

  &.disabled ~ .icon{
    display: none;
  }
}
