@text-field-padding: 10px;

.glow(@color, @radius: 5px) {
  box-shadow: 0 0 @radius @color;
}

.drop-shadow(@x: 2px, @y: 6px, @blur: 14px, @spread: -6px, @alpha: 0.2) {
  box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.focus-border() {
  outline: none;
  border: 1px solid @focus-color;
  .glow(@focus-color-glow);
}

.transform(@args) {
  -webkit-transform: @args;
  -ms-transform: @args;
  transform: @args;
}

.selection() {
    background: @selection-background;
    color: @selection-color;
}

.overlay(@left: 0px, @top: 0px, @diffW: 0px, @diffH: 0px) {
  position: absolute;
  content: '';
  left: @left;
  top: @top;
  width: calc(~"100% +" @diffW);
  height: calc(~"100% +" @diffH);
}

/* Expects a sibling html element with class 'icon' **/
.text-field-with-icon (@icon) {
  padding-right: @text-field-padding + 15px;

  & ~ .icon {
    position: absolute;
    margin-right: @text-field-padding;
    cursor: text;
  }

  & ~ .icon:before {
    .font-icon;
    font-size: 13px;
    content: @icon;
  /* TODO AWE: (smartfield) wieso braucht das icon eine line-height?
   * wird doch sowieso absolut positioniert.
   */
    line-height: @logical-grid-height;
    color: @text-field-icon-color;
  }

  &:focus ~ .icon:before {
    color: @focus-color;
  }

  &.has-error ~ .icon:before {
    color: @color-error;
  }

  &.disabled {
    padding-right: @text-field-padding;
  }

  &.disabled ~ .icon {
    display: none;
  }
}

