@field-with-icon-padding: 20px;
@field-border-width: 1px;

.text-field {
  padding: 0;
  
  /* Add transparent border to compensate missing border due to border-box model */
  border: @field-border-width solid transparent;
  border-bottom-color: @color-bench-semi;

  &:disabled {
    background-color:white;
    border-bottom-color: transparent;
  }
  &:focus {
    border-bottom-color: @color-bsi-orange;
    outline: none;
  }
  &.has-error {
    border-bottom-color: @color-error;
  }
}

/** expects a sibling html element with class 'icon' **/
.text-field-with-icon (@icon) {
  .text-field;
  padding-left: 20px;

  & ~ .icon {
    position: absolute;
  }

  & ~ .icon:before {
    .font-icon;
    font-size: 12px;
    content: @icon;
    line-height: @logical-grid-height;
  }

  &.disabled {
    padding-left: 0px;
  }

  &.disabled ~ .icon{
    display: none;
  }
}
