@field-with-icon-padding: 20px;
@text-field-padding: 10px;

.glow(@color) {
  box-shadow: 0 0 5px @color;
}

.drop-shadow(@x: 2px, @y: 6px, @blur: 14px, @spread: -6px, @alpha: 0.2) {
  box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.text-field {
  background-color: @control-background-color;
  padding: 0 @text-field-padding;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  color: @text-color;

  &:disabled {
    background-color: @palette-light-gray-4;
    color: @palette-dark-gray-3;
  }

  &:focus {
    border-color: @focus-color;
    .glow(@focus-color-glow);
    outline: none;
  }

  &.has-error {
    border-color: @color-error;
    background-color: @color-error-light;
  }

  &.has-error:focus {
    .glow(@color-error);
  }
}

/** expects a sibling html element with class 'icon' **/
.text-field-with-icon (@icon) {
  .text-field;
  padding-right: @text-field-padding + 15px;

  & ~ .icon {
    position: absolute;
    margin-right: @text-field-padding;
    cursor: text;
  }

  & ~ .icon:before {
    .font-icon;
    font-size: 13px;
    content: @icon;
  /* TODO AWE: (smartfield) wieso braucht das icon eine line-height?
   * wird doch sowieso absolut positioniert.
   */
    line-height: @logical-grid-height;
    color: @icon-color;
  }

  &:focus ~ .icon:before {
    color: @focus-color;
  }

  &.has-error ~ .icon:before {
    color: @color-error;
  }

  &.disabled {
    padding-right: @text-field-padding;
  }

  &.disabled ~ .icon {
    display: none;
  }
}

.text-area() {
   /* these two properties are required for FF, otherwise the editable textarea is 2px too large,
   * and the DOM inspector does not include these 2 pixels.
   */
  margin: 0 auto;
  padding: 5px @text-field-padding;
  background-color: @control-background-color;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  color: @text-color;

  &:focus {
    outline: none;
    border-color: @focus-color;
   .glow(@focus-color-glow);
  }
}
