@size-desktop-navigation: 290px;
@desktop-taskbar-height: 50px;
@bench-margin-x: 20px;

@border-radius: 3px;
/* also defined in scout.HtmlEnvironment (graphics.js) */
@logical-grid-height: 30px;
@mandatory-indicator-width: 8px;

@tree-item-control-size: 15px;
@outline-item-control-size: 20px;
@tree-item-control-checkbox-size: 20px+@tree-item-control-size;
@tree-item-checkbox-size: 20px;

