<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <timestamp key="tsByMinute" datePattern="yyyyMMdd-HHmm"/>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
    <file>${catalina.base}/logs/${rootArtifactId}-${tsByMinute}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.base}/logs/${rootArtifactId}-${tsByMinute}-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>100</maxHistory>
    </rollingPolicy>
    <encoder class="org.eclipse.scout.rt.platform.logger.FixedPatternLogbackEncoder" />
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>

  <logger name="org.quartz" level="WARN" />
</configuration>
