/* Button */
Button {
  cursor: default;
  color: white;
  font: bold 12px Arial, Helvetica, sans-serif;
  background-color: transparent;
}

Button[PUSH], Button[TOGGLE], Button[BORDER] {
  background-image: gradient(
    linear, left top, left bottom,
    from( #7ab9dd ),
    to( #67a8ce )
  );
  color: #ffffff;
  animation: hoverOut 500ms ease-out;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 5px;
}

Button[PUSH]:disabled, Button[TOGGLE]:disabled {
  background-image: gradient(
    linear, left top, left bottom,
    from( #dee1e7 ),
    to( #c2d4de )
  );
  cursor: default;
  color: #6B7B84;
  background-color: transparent;
}

Button[PUSH]:hover, Button[TOGGLE]:hover {
  background-image: gradient(
    linear, left top, left bottom,
    from( #55aedb ),
    to( #489aca )
  );
}

Button[PUSH]:pressed, Button[TOGGLE]:pressed {
  animation: none;
}

Button-FocusIndicator[PUSH], Button-FocusIndicator[TOGGLE] {
/* XXX hstaudacher we need to add a border radius when bug 346436 is fixed */
  background-color: transparent;
  border: 1px solid #b0cce3;
  margin: 1px;
  padding: 0px;
  opacity: 1;
}

Button[TOGGLE]:selected {
  background-image: gradient(
    linear, left top, left bottom,
    from( #4b8cbd ),
    color-stop( 35%, #65a5cf ),
    color-stop( 75%, #6bacd1 ),
    to( #67a8ce )
  );
}

Button[TOGGLE]:selected:disabled {
  background-image: gradient(
    linear, left top, left bottom,
    from( #9ebcd1 ),
    color-stop( 35%, #c4d6e0 ),
    color-stop( 75%, #c8d9e1 ),
    to( #c2d4de )
  );
  cursor: default;
  color: #ffffff;
  background-color: transparent;
}

Button[TOGGLE]:selected:hover {
  background-image: gradient(
    linear, left top, left bottom,
    from( #347ab8 ),
    color-stop( 35%, #4797cc ),
    color-stop( 75%, #4b9fce ),
    to( #489aca )
  );
}

/* Link */
Link-Hyperlink {
/* XXX hstaudacher Theme text decorator when bug 346438 is fixed */
  color: red;
}

Link-Hyperlink:disabled {
  color: #2a5a76;
}
