/*Datefield*/
Composite.datefield {
  padding: 0px 0px 0px 0px;
  border: 1px solid #95b7c1;
  border-radius: 4px;
}

Composite.datefield-disabled {
  padding: 0px 0px 0px 0px;
  border: 1px solid #c9dadf;
  border-radius: 4px;
}

Text.datefield {
  border-radius: 4px;
  background-image: none;
  background-color: transparent;
}

Text.datefield:disabled {
  background-color: #f4f8fc;
}

Text.datefield[BORDER]:disabled {
  background-color: #f4f8fc;
}

Button.datefield {
  background-image: url( theme/img/button/datefield_date.png );
  border-radius: 5px;
}

Button.datefield:selected {
  background-image: url( theme/img/button/datefield_date_selected.png );
}

Button.datefield:disabled {
  background-image: url( theme/img/button/datefield_date_disabled.png );
}

Button.datefield:hover {
  background-image: url( theme/img/button/datefield_date_mouse_over.png );
}

/* DateChooserDialog */
Shell.datechooser-dialog {
  border: 2px solid #67a8ce;
  border-radius: 0px;
  background-color: #f4f8fc;
}

Composite.datechooser-dialog {
  background-color: transparent;
}

Label.datechooser-dialog {
  background-color: #f4f8fc;
  font: bold 12px Arial, Helvetica, sans-serif;
}

Table.datechooser-dialog {
  background-color: #f4f8fc;
}

Table-GridLine.datechooser-dialog:vertical {
/* XXX hstaudacher: This comment can be removed when bug 347755 is fixed.
   At the moment the Gridline styling does not work and the datechooser has
   white vertical gridlines instead of none
 */
  color: #f4f8fc;
}

TableColumn.datechooser-dialog {
  background-image: none;
  background-color: transparent;
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #000000;
}

Button.datechooser-dialog-last-year, Button.datechooser-dialog-last-year:hover {
  background-image: url( theme/img/datetime/last-year.png );
  border-radius: 5px;
}

Button.datechooser-dialog-last-month, Button.datechooser-dialog-last-month:hover {
  background-image: url( theme/img/datetime/last-month.png );
  border-radius: 5px;
}

Button.datechooser-dialog-next-year, Button.datechooser-dialog-next-year:hover {
  background-image: url( theme/img/datetime/next-year.png );
  border-radius: 5px;
}

Button.datechooser-dialog-next-month, Button.datechooser-dialog-next-month:hover {
  background-image: url( theme/img/datetime/next-month.png );
  border-radius: 5px;
}
