/* Group */
Group {
  color: #4a4a4a;
  background-color: transparent;
/* XXX hstaudacher we need to fix the border and set the border top when bug 346630 is fixed */
  border: none;
  border-radius: 2px 2px 2px 2px;
  font: bold 12px Arial, Helvetica, sans-serif;
}

Group-Frame {
  margin: 8px 0px 0px 0px;
  padding: 18px 11px 6px 11px;
}

Group-Label {
  padding: 0px 3px 0px 3px;
  background-color: transparent;
  border: none;
  color: #2a5a76;
  margin: 1px 10px;
}

/* GroupBox with empty border */
Group.empty {
  color: #4a4a4a;
}

Group-Frame.empty {
  padding: 6px 12px 6px 12px;
  border: none;
}

/* Group box with line */
Composite.groupBoxWithLineFrame {
  padding: 6px 12px 6px 12px;
  border: none;
}

Label.GroupBoxLine {
  background-color: #9CC1DA;
}

Label.GroupBoxLabel {
  background-color: transparent;
  color: #2a5a76;
  font: bold 12px Arial, Helvetica, sans-serif;
}

Composite.groupBoxButtonBar {
  padding: 0px 12px 6px 12px;
}
