/* CLabel start */
CLabel {
  color: #000000;
  background-color: transparent;
  background-image: none;
  border: none;
  padding: 3px;
  cursor: default;
  opacity: 1;
}

CLabel:disabled {
  color: #2a5a76;
  background-color: transparent;
  background-image: none;
  border: none;
  padding: 3px;
  cursor: default;
  opacity: 1;
}

CLabel[BORDER] {
  border: 1px solid #a4a4a4;
  border-radius: 2px;
}
/* CLabel end */

/* Label start */
Label {
  color: #000000;
  background-color: transparent;
  background-image: none;
  border: none;
  text-decoration: none;
  cursor: default;
  opacity: 1;
}

Label:disabled {
  color: #2a5a76;
}

Label[BORDER] {
  border: 1px solid #a4a4a4;
  border-radius: 2px;
}

Label-SeparatorLine {
  background-image: none;
  background-color: transparent;
  border: 1px solid #a4a4a4;
  border-radius: 0px;
  width: 2px;
}

Label-SeparatorLine[SHADOW_IN] {
  border: 1px inset;
}

Label-SeparatorLine[SHADOW_OUT] {
  border: 1px outset;
}
/* Label end */

Text.onFieldLabel {
  color: gray;
  font: italic 12px Arial, Helvetica, sans-serif;
}
