Button.menuButton {
  background-image: url( theme/img/button/icon_menu.png );
  background-color: #ffffff;
  border-radius: 5px 5px 0px 0px;
  color: #FE9A23;
  font: bold 12px Arial, Helvetica, sans-serif;
  padding: 8px 15px;
}
Button.menuButton:selected, Button.menuButton:selected:hover,
Button.menuButton:pressed, Button.menuButton:hover {
  background-image: url( theme/img/button/icon_menu_mouse_over.png );
}
