/**
 *  RwtScoutTabBox / RwtScoutTabItem     start
 */
Composite.tabboxContainer {
  background-color: #cde3ee;
}

Composite.tabboxButton {
  padding: 0px;
  opacity: 1;
  background-color: #ebf4f8;
  background-image: none;
  border: none;
}

Button.tabboxButton,
Button.tabboxButton:selected, Button.tabboxButton:selected:hover,
Button.tabboxButton:pressed, Button.tabboxButton:hover {
  background-image: none;
  color: #295973;
  padding: 8px 15px;
  font: 12px Arial, Helvetica, sans-serif; /* not bold */
  padding: 6px 8px 7px 8px;
}

Button.tabboxButton-marked,
Button.tabboxButton-marked:selected, Button.tabboxButton-marked:selected:hover,
Button.tabboxButton-marked:pressed, Button.tabboxButton-marked:hover {
  background-image: url( theme/img/button/icon_changed.png);
/* background-repeat: no-repeat; /* XXX Currently not supported by RAP */
/* background-position: bottom right; /* XXX Currently not supported by RAP */
  color: #295973;
  padding: 8px 15px;
  font: 12px Arial, Helvetica, sans-serif; /* not bold */
  padding: 6px 6px 7px 10px;
}

Button.tabboxButton-active,
Button.tabboxButton-active:pressed, Button.tabboxButton-active:selected,
Button.tabboxButton-active:selected:hover, Button.tabboxButton-active:hover {
  background-image: none;
  background-color: #ebf4f8;
  border-radius: 5px 5px 0px 0px;
  color: #000000;
  font: 12px Arial, Helvetica, sans-serif; /* not bold */
  padding: 6px 8px 7px 8px;
}

Button.tabboxButton-active-marked,
Button.tabboxButton-active-marked:pressed, Button.tabboxButton-active-marked:selected,
Button.tabboxButton-active-marked:selected:hover, Button.tabboxButton-active-marked:hover {
  background-image: url( theme/img/button/icon_changed-marked.png);
/* background-repeat: no-repeat; /* XXX Currently not supported by RAP */
/* background-position: bottom right; /* XXX Currently not supported by RAP */
/* background-color: #ebf4f8; /* XXX Would work in FF and Webkit, but not in IE. A svg element is generated which does not include bg color. Workaround: bg is set in image */
  border-radius: 5px 5px 0px 0px;
  color: #000000;
  font: 12px Arial, Helvetica, sans-serif; /* not bold */
  padding: 6px 6px 7px 10px;
}

Button-FocusIndicator.tabboxButton-active, Button-FocusIndicator.tabboxButton-active-marked {
  border: none;
}

/** RwtScoutTabBox / RwtScoutTabItem  end */