/* Table */
Table {
  background-color: white;
  background-image: none;
  color: #4a4a4a;
  border: none;
  padding: 0px;
}

Table:disabled {
  background-color: #f4f8fc;
  background-image: none;
  color: #2a5a76;
  border: none;
  padding: 0px;
}

Table[BORDER] {
  border: none;
}

/* Shouldn't actually be necessary because it's already declared in table.default.css of org.eclipse.rap.rwt.
   But without explicitly setting it the background color is set to white which overrides selection and hover state. */
Table-RowOverlay {
  background-color: transparent;
  color: inherit;
  background-image: none;
}

Composite.tableField {
  background-color: white;
  background-image: none;
  border: 1px solid #95b7c1;
  border-radius: 4px;
  padding: 2px;
}

Composite.tableFieldDisabled {
  background-color: white;
  background-image: none;
  border: 1px solid #c9dadf;
  border-radius: 4px;
  padding: 2px;
}

/* Composite.wideTableStatusContainer{ */
/*   padding: 0px 0px 0px 0px; */
/*   background-color: #EBF4F8; */
/* } */
Composite.wideTableStatus {
  background-color: #EBF4F8;
}

Label.wideTableStatus {
  color: #264159;
  border: 3px solid transparent;
}

Label.wideTableStatus_warning {
  color: #FE9A23;
}

Label.wideTableStatus_error {
  color: #CC0000;
}

/* Composite.tableStatusContainer{ */
/*   padding: 2px 0px 0px 0px; */
/* } */
Composite.tableStatus {
  background-color: #DDEBF4;
}

Label.tableStatus {
  color: #264159;
  border: 3px solid transparent;
}

Label.tableStatus_warning {
  color: #FE9A23;
}

Label.tableStatus_error {
  color: #CC0000;
}

TableColumn {
  font: bold 12px Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  padding: 9px 4px 5px 4px;
  background-image: none;
  color: #000000;
  border-bottom: 1px solid #e1efec;
/* XXX hstaudacher we need to theme the column separator when bug 347771 is fixed */
}

/* Workaround for malfunctioning ":disabled" behaviour, see comment in org.eclipse.scout.rt.ui.rap.basic.table.RwtScoutTable.setEnabledFromScout(boolean) */
TableColumn.customDisabled {
  color: #2a5a76;
}

TableColumn:hover {
  background-image: none;
  border-bottom: 1px solid #e1efec;
}

TableItem {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

TableItem:hover {
  background-color: #f1f8fe;
}

TableItem:selected {
  color: inherit;
  background-color: #e5f3fe;
}

TableItem:selected:unfocused {
  color: inherit;
  background-color: #e5f3fe;
}

TableColumn-SortIndicator {
  background-image: none;
}

TableColumn-SortIndicator:up {
  background-image: url( theme/img/column/table_sort_asc.png );
}

TableColumn-SortIndicator:down {
  background-image: url( theme/img/column/table_sort_desc.png );
}

Table-Cell {
  spacing: 3px;
  padding: 4px 3px 3px 3px;
}

Table-GridLine {
  color: transparent;
}

Table-GridLine:header {
  color: #e1efec;
}

Table-GridLine:horizontal {
  color: #e1efec;
}

Table-Checkbox {
/**
 * For backward compatibility we have to keep the width property.
 * Deprecated, use "margin" instead.
 **/
  width: 21px;
  margin: 0px;
  background-image: url( theme/img/button/check_box.png );
}

Table-Checkbox:disabled {
  background-image: url( theme/img/button/check_box_disabled.png );
}

Table-Checkbox:selected {
  background-image: url( theme/img/button/check_box_selected.png );
}

Table-Checkbox:selected:disabled {
  background-image: url( theme/img/button/check_box_disabled_selected.png );
}
