/* Text */
Text {
  border: none;
  padding: 0px 3px;
  background-image: none;
  color: #464a4e;
  background-color: white;
}

Text:disabled {
  border: none;
  padding: 0px 3px;
  background-image: none;
  background-color: #f4f8fc;
  color: #2a5a76;
}

Text[SINGLE][BORDER] {
  border: 1px solid #95b7c1;
  border-radius: 4px;
}

Text[SINGLE][BORDER]:disabled {
  border: 1px solid #c9dadf;
  background-color: #f4f8fc;
}

Text[MULTI][BORDER] {
  border: 1px solid #95b7c1;
  border-radius: 4px;
/*
 * padding currently has no effect because of bug 253644
 * [TODO] remove comment if bug fixed
 */
  padding: 0px 0px 0px 4px;
}

Text[MULTI][BORDER]:disabled {
  border: 1px solid #c9dadf;
  background-color: #f4f8fc;
}

Text-Message {
  color: #a7a6aa;
}
