/*Timefield*/
Composite.timefield {
  padding: 0px 0px 0px 0px;
  border: 1px solid #95b7c1;
  border-radius: 4px;
}

Composite.timefield-disabled {
  padding: 0px 0px 0px 0px;
  border: 1px solid #c9dadf;
  border-radius: 4px;
}

Text.timefield {
  border-radius: 4px;
  background-image:none;
  background-color: transparent;
}

Text.timefield:disabled {
  background-color: #f4f8fc;
}

Text.timefield[BORDER]:disabled {
  background-color: #f4f8fc;
}

Button.timefield {
  background-image: url( theme/img/button/datefield_time.png );
  border-radius: 5px;
}

Button.timefield:selected {
  background-image: url( theme/img/button/datefield_time_selected.png );
}

Button.timefield:disabled {
  background-image: url( theme/img/button/datefield_time_disabled.png );
}

Button.timefield:hover {
  background-image: url( theme/img/button/datefield_time_mouse_over.png );
}

/* TimeChooserDialog */
Shell.timechooser-dialog {
  border: 2px solid #67a8ce;
  border-radius: 0px;
  background-color: #f4f8fc;
}

Composite.timechooser-dialog {
  background-color: transparent;
}
