Composite.toolButtonBar {
  background-image: none;
  background-color: #67a8ce;
  border-radius: 5px 0px 0px 0px;
}

Composite.toolButtonBar-active {
  background-image: none;
  background-color: #67a8ce;
/* XXX hstaudacher new radius is not applied on the client. Should be fixed automatically with bug 346683 */
  border-radius: 5px 0px 0px 0px;
}

Button.toolButtonBarCollapseButton {
  background-image: url( theme/img/button/icon_slider.png );
  background-color: #67a8ce;
/*   padding: 8px 15px; */
/*   border-radius: 0px 0px 0px 0px; */
}
Button.toolButtonBarCollapseButton:pressed, Button.toolButtonBarCollapseButton:selected,
Button.toolButtonBarCollapseButton:selected:hover, Button.toolButtonBarCollapseButton:hover {
  background-image: url( theme/img/button/icon_slider_mouse_over.png );
}

Button.toolButton {
  background-image: none;
  color: #000000;
}

Button.toolButton:selected, Button.toolButton:selected:hover,
Button.toolButton:pressed, Button.toolButton:hover {
  background-image: none;
}

Button.toolButton-active {
  background-image: none;
  background-color: #cde3ee;
  border-radius: 5px 5px 0px 0px;
  color: #FE9A23;
  font: bold 12px Arial, Helvetica, sans-serif;
}

Button-FocusIndicator.toolButton-active {
  border: none;
}

Button.toolButton-active:pressed, Button.toolButton-active:selected,
Button.toolButton-active:selected:hover, Button.toolButton-active:hover {
  background-image: none;
}

Label.toolButton {
  background-image: none;
  background-color: #67a8ce;
  border-radius: 5px 0px 0px 0px;
  color: #FFFFFF;
  font: bold 12px Arial, Helvetica, sans-serif;
  cursor: pointer;
}
