Composite.formTabArea {
  background-color: #DDEBF4;
}

Composite.formTab {
  background-color: transparent;
  border-radius: 8px 8px 0px 0px;
/* XXX hstaudacher We need to add the box-shadow when bug 346645 is fixed */
  padding: 2px 5px 0px 5px;
}

Composite.formTab-active {
  background-color: #ffffff;
  border-radius: 8px 8px 0px 0px;
/* XXX hstaudacher We need to add the box-shadow when bug 346645 is fixed */
  padding: 2px 5px 0px 5px;
}

Button.formTabClose {
  background-color: transparent;
  background-image: url( theme/img/form/form-close.png );
  padding: 2px 5px 0px 6px;
}

Button.formTabClose:hover {
  background-color: transparent;
  background-image: url( theme/img/form/form-close-hover.png );
}

Button.formTabActivate {
  background-image: none;
  background-color: transparent;
  color: #2a5a76;
  padding: 2px 5px 0px 6px;
}

Button.formTabActivate:hover {
  background-image: none;
  background-color: transparent;
  color: #2a5a76;
  font: bold 12px Arial, Helvetica, sans-serif;
  padding: 2px 5px 0px 6px;
}

Button.formTabActivate-active {
  background-image: none;
  background-color: transparent;
  color: #2a5a76;
  font: bold 12px Arial, Helvetica, sans-serif;
  padding: 2px 5px 0px 6px;
}

Button.formTabActivate-active:hover {
  background-image: none;
  background-color: transparent;
  color: #2a5a76;
  font: bold 12px Arial, Helvetica, sans-serif;
  padding: 2px 5px 0px 6px;
}

Button-FocusIndicator.formTabActivate-active {
  border: none;
}
