.string-field  {

  & > .field {
    width: 100%; /* must be set for IE9 */

    &.has-inner-alignment {

      &.halign-left {
        text-align: left;
      }

      &.halign-center {
        text-align: center;
      }

      &.halign-right {
        text-align: right;
      }
    }
  }

  &.has-action {

    & > input[type=text] {
      #scout.text-field-with-icon(@icon-arrow-right);

      ~ .icon {
        cursor: pointer;
      }
    }
  }
}

