<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.scout.rt.ui.swing.formfields">
     <formField
           active="true"
           modelClass="org.eclipse.scout.svg.client.svgfield.ISvgField"
           name="SVG field"
           scope="default">
        <uiClass
              class="org.eclipse.scout.svg.ui.swing.svgfield.SwingScoutSvgField">
        </uiClass>
     </formField>
  </extension>

   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.scout.svg.ui.swing.internal.TestApplication">
         </run>
      </application>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.scout.svg.ui.swing.app"
            name="SVG Swing Test">
         <property
               name="appName"
               value="SVG Swing Test">
         </property>
      </product>
   </extension>

</plugin>




