<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.scout.rt.ui.swing.formfields">
     <formField
           active="true"
           modelClass="org.eclipse.scout.svg.client.svgfield.ISvgField"
           name="SVG field"
           scope="default">
        <uiClass
              class="org.eclipse.scout.svg.ui.swing.svgfield.SwingScoutSvgField">
        </uiClass>
     </formField>
  </extension>
</plugin>




