@tablefield-selection-border-width: 1px;

.table-field > .table {
  margin-left: @mandatory-indicator-width;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  background-color: @control-background-color;

  &.disabled {
    background-color: @control-background-disabled-color;
  }
}

.table-field.single > .table {
  border: 0;
  border-bottom: 0;
  border-radius: 0;
  background-color: transparent;
}

.table-field .menubar {
  height:39px;
  border-bottom:none;
  margin-left: @table-row-padding-left;
  margin-right: @table-row-padding-left;
  padding: 0;

  & > .menu-item {
    padding-top:0;

    &[data-icon]::before {
      font-size: 18px;
      line-height: @logical-grid-height;
    }
  }

  & > .menu-separator {
    height: @logical-grid-height - 10px;
  }
}
