@tablefield-selection-border-width: 1px;

.table-field > .table {
  border: 1px solid @border-color;
  border-radius: @border-radius;
  background-color:@control-background-color;
}

.table-field > .table:focus {
  outline: none;
  border-color: @focus-color;
  .glow(@focus-color-glow);
}

.table-field > .table > .table-header,
.table-field > .table > .table-header > .header-resize  {
  height: @logical-grid-height;
}

.table-field .table-header > .header-item {
  line-height: @logical-grid-height;
}

.table-field .menubar {
  height:39px;
  padding:0 0 0 0;
  border-bottom:none;

  & > .menu-item {
    padding-top:0;

    &[data-icon]:before {
      font-size: 18px;
      line-height: @logical-grid-height;
    }
  }

  & > .menu-separator {
    height: @logical-grid-height - 10px;
  }
}

.table-field > .table > .table-data .table-row > .table-cell {
  padding-top: @table-row-padding - 6;
  padding-bottom: @table-row-padding - 6;
}
