.date-field > .field > input {
  position: absolute;
}

.date-field > .field > input.date {
  .text-field-with-icon(@icon-calendar);
}

.date-field > .field > input.time {
  .text-field-with-icon(@icon-clock,~'.time');
}

/** Prediction input field is in the back of the actual input field -> make actual input field transparent */
.date-field > .field > .predict {
  color: @disabled-color;
  background-color: @control-background-color;

  & + input {
    background-color: transparent;
  }
}

.date-picker-popup {
  &.down {
    margin-top: 5px;
  }

  &.up {
    margin-bottom: 5px;
  }
}
