.date-field > .field {

  & > input, .input-field {
    position: absolute;

    &.date {
      #scout.text-field-with-icon(@icon-calendar);
    }

    &.time {
      #scout.text-field-with-icon(@icon-clock, ~'.time');
    }
  }

  /** Prediction input field is in the back of the actual input field -> make actual input field transparent */
  & > .predict {
    color: @disabled-color;
    background-color: @control-background-color;

    &.has-error {
      background-color: @error-background-color;
    }

    & + input {
      background-color: transparent;
    }
  }
}

.date-picker-popup {
  &.down {
    margin-top: 5px;
  }

  &.up {
    margin-bottom: 5px;
  }
}
