<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2010, 2023 BSI Business Systems Integration AG
  ~
  ~ This program and the accompanying materials are made
  ~ available under the terms of the Eclipse Public License 2.0
  ~ which is available at https://www.eclipse.org/legal/epl-2.0/
  ~
  ~ SPDX-License-Identifier: EPL-2.0
  -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

  <display-name>${displayName}</display-name>

  <welcome-file-list>
    <welcome-file>redir.html</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>org.eclipse.scout.rt.server.commons.WebappEventListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.eclipse.scout.rt.server.commons.HttpSessionMutex</listener-class>
  </listener>

  <!-- filters for API access -->
  <filter>
    <filter-name>RestAuthFilter</filter-name>
    <filter-class>${package}.api.RestAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestAuthFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>HttpServerRunContextFilter</filter-name>
    <filter-class>org.eclipse.scout.rt.server.context.HttpServerRunContextFilter</filter-class>
    <init-param>
      <param-name>session</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>HttpServerRunContextFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>GzipServletFilter</filter-name>
    <filter-class>org.eclipse.scout.rt.server.commons.servlet.filter.gzip.GzipServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GzipServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- JAX-RS Jersey Servlet that processes REST requests -->
  <servlet>
    <servlet-name>api</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jakarta.ws.rs.Application</param-name>
      <param-value>org.eclipse.scout.rt.rest.RestApplication</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.wadl.disableWadl</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>api</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>


 <!-- UI Servlet that provides resources (js, html, css, ...) -->
  <servlet>
    <servlet-name>UiServlet</servlet-name>
    <servlet-class>org.eclipse.scout.rt.ui.html.UiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UiServlet</servlet-name>
    <url-pattern>/ui/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <!-- Session timeout in minutes -->
    <session-timeout>60</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
      <secure>true</secure>
    </cookie-config>
  </session-config>

  <context-param>
    <param-name>logbackDisableServletContainerInitializer</param-name>
    <param-value>true</param-value>
  </context-param>

</web-app>
