.collapse-handle {
  position: absolute;
  display: table;
  z-index: 10;
  bottom: 0;
  margin-bottom: 9px;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.4);

  &.navigation-open {
    left: auto;
    margin-right: 5px;
    right: 0;
  }

  &.navigation-closed {
    left: 0;
    right: auto;
    padding-left: 1px;
    margin-bottom: 36px;
    border-color: @collapse-handle-border-color;
  }

  &.one-visible {
    cursor: pointer;

    &:active > .collapse-handle-body {
      background-color: @collapse-handle-active-background-color;
    }
  }
}

.collapse-handle-body {
  position: relative;
  display: table-cell;
  padding: 8px;
  background-color: @collapse-handle-background-color;
  color: fade(@collapse-handle-color, 75%);
  border: 1px solid fade(@collapse-handle-border-color, 75%);
  border-radius: 3px;
  cursor: pointer;

  &::before {
    #scout.font-icon();
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-right: 1px;
  }

  &.left {
    &.both-visible {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &::before {
      content: @icon-angle-left;
    }
  }

  &.right {
    &.both-visible {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
    }

    &::before {
      content: @icon-angle-right;
    }
  }

  &:active {
    background-color: @collapse-handle-active-background-color;
  }

}

