<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextListener class="org.eclipse.scout.rt.platform.logger.AutoRegisteringJulLevelChangePropagator" />

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
    <!-- Sample for Tomcat Log Folder -->
    <file>${catalina.base}/logs/${groupId}.${rootArtifactId}.server.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.base}/logs/${groupId}.${rootArtifactId}.server-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>100</maxHistory>
    </rollingPolicy>
    <encoder class="org.eclipse.scout.rt.platform.logger.FixedPatternLogbackEncoder" />
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>

  <logger name="org.quartz" level="WARN" />
</configuration>
