@calendar-header-height: 45px;

.calendar-icon(@icon, @size) {
  .font-icon;
  display: inline-block;
  position: relative;
  font-size: @size;
  line-height: 29px;
  width: 29px;
  content: @icon;
  color: @icon-color;
  text-align: center;
}

.calendar {
  width: 100%;
  height: 100%;
  min-height: 400px;
}


.calendar-header {
  height: @calendar-header-height;
  min-width: 420px;

  & .calendar-range {
    float: left;

    & .calendar-previous,
    & .calendar-next {
      cursor: pointer;
      display: inline-block;
    }

    & .calendar-select {
      display: inline-block;
      font-size: 17px;
      position: relative;
      top: -5px;
      left: 2px;
    }

    & .calendar-previous:hover::before,
    & .calendar-next:hover::before {
      color: @hover-color;
    }

    & .calendar-previous::before {
      .calendar-icon(@icon-angle-left, 29px);
    }

    & .calendar-next::before {
      .calendar-icon(@icon-angle-right, 29px);
    }
  }

  & .calendar-commands {
    float: right;

    & * {
      display: inline-block;
      cursor: pointer;
    }

    & .calendar-today::before {
      .calendar-icon(@icon-target, 20px);
    }

    & .calendar-mode-day::before {
      .calendar-icon("1", 20px);
     }

    & .calendar-mode-work::before {
      .calendar-icon("5", 20px);
     }

    & .calendar-mode-week::before {
      .calendar-icon("7", 20px);
     }

    & .calendar-mode-month::before {
      .calendar-icon("31", 20px);
     }

    & .calendar-toggle-year::before {
      .calendar-icon(@icon-clock, 20px);
     }

    & .calendar-toggle-list::before {
      .calendar-icon(@icon-menu, 20px);
     }

    & .calendar-separator {
      box-sizing: content-box;
      width: 20px;
      height: 25px;
    }

    & *:hover::before, & *:hover,
    & .selected::before, & .selected {
      color: @hover-color;
    }

  }

}

.calendar-year-container {
  display: inline-block;
  width: 0%;
  padding: 0;
  height: calc(~"100%" - @calendar-header-height);
  background-color: @palette-white;
  overflow: hidden;

  & .calendar-year {
    width: 270px;
    padding: 0px 10px;
    height: 100%;

    & .year-title {
      position: relative;
      width: calc(~"100%" - 20px);
      height: @calendar-header-height;
    }

    & .year-title-item {
      display: inline-block;
      padding-right: 15px;
      line-height: @calendar-header-height;
      font-size: 17px;
      color: @palette-gray-4;
      cursor: pointer;

      &.selected {
        color: @palette-gray-6;
        cursor: default;
      }

      &.ui-selected {
        background-color: red;
      }

      &:hover {
        color: @palette-gray-6;
      }
    }


     & .year-title:after{
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0px;
      bottom: -1px;
      content: " ";
      background-color: @palette-gray-4;
    }

    & .year-month{
      margin-top: 18px;
      position: relative;
      padding-top: 20px;
      padding-right: 15px;
      float: left;
      height: 85px;
      width: 125px;

      font-size: 17px;
      color: red;
    }

      & .year-month:before{
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100px;
      width: 100%;
      content: attr(data-title);
      font-size: 17px;
      color: @palette-green-4;
    }

    & .year-day{
      position: relative;
      float: left;
      width: 15px;
      text-align: right;
      color: @palette-gray-6;
      font-size: 10px;
      height: 12px;
      padding: 1px;
      line-height: 12px;
      cursor: pointer;
    }

    & .year-range{
      background-color: @palette-green-0;
    }

    & .year-range-day{
      background-color: @palette-green-3;
    }

    & .year-hover{
      background-color: @palette-orange-0 !important;
    }

    & .year-hover-day{
      background-color: @palette-orange-2 !important;
    }
  }

}

.calendar-list-container {
  display: inline-block;
  width: 0%;
  padding: 0;
  height: calc(~"100%" - @calendar-header-height);
  background-color: @palette-white;
  overflow: hidden;

  & .calendar-list {
    width: 270px;
    padding: 0px 0px 0px 30px;
    height: 100%;

    & .list-title {
      position: relative;
      width: calc(~"100%" - 10px);
      height: @calendar-header-height;
      line-height: @calendar-header-height;
      font-size: 17px;
      color: @palette-gray-6;

      &:after{
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0px;
        bottom: -1px;
        content: " ";
        background-color: @palette-gray-4;
      }
    }

    & .calendar-component {
      position: relative;
      float: left;
      font-size: 10px;
      line-height: 20px;
      height: auto;
      padding-left: 4px;
      .overflow-ellipsis;
      min-height: 20px;
      margin-top: 12px;
      width: calc(~"100%" - 10px);
      background-color:  @palette-white !important;
      border-left: 4px solid  @palette-gray-4;
      text-align: left;

      & .component-link {
        position: absolute;
        top: 0px;
        right: 6px;
        cursor: pointer;

        &:hover{
          color: @hover-color;
        }
      }

    }
  }
}

.calendar-grid {
  display: inline-block;
  width: 60%;
  height: calc(~"100%" - @calendar-header-height);
  overflow: hidden;

  & .calendar-week-header,
  & .calendar-week {
    display: block;
    width: 100%;
  }

  & .calendar-week-header {
    height: @calendar-header-height;
  }

  & .calendar-week {
    position: relative;
    height: calc(~"(100%" - @calendar-header-height ~") / 6");
  }

  & .calendar-week-name{
    width: @calendar-header-height;
  }

  & .calendar-day-name,
  & .calendar-week-name,
  & .calendar-day {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    text-align: center;
    z-index: 2;

    &.selected {
      box-shadow:  1px 1px 10px -1px @item-selection-border-color;
    }

    &.ui-selected {
      background-color: @palette-cyan-0;
    }
  }

  & .calendar-day {
    padding: 0px;
  }

  & .calendar-week-name {
    font-size: 10px;
    color: @palette-gray-4;
    vertical-align: middle;
  }

  & .calendar-day::after,
  & .calendar-day-name::after{
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: " ";
    background-color: @palette-gray-4;
  }

  & .calendar-week::after{
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0px;
    top: 0px;
    content: " ";
    background-color: @palette-gray-4;
  }


  & .calendar-day-name {
    line-height: @calendar-header-height;
    color: @palette-gray-6;
  }

  & .calendar-day::before {
    position: absolute;
    font-size: 17px;
    content: attr(data-day-name);
    color: @palette-gray-6;
    left: 7px;
    top: 5px;
    z-index: 2;
  }

  & .out::before {
    color: @palette-gray-4;
  }

  & .weekend::before {
    color: @palette-blue-4;
  }

  & .weekend-out::before {
    color: @palette-blue-2 ;
  }

  & .now::before {
    color: @palette-orange-3;
  }

  & .calendar-week-axis {
    position: absolute;
    left: @calendar-header-height - 6px;
    width:  calc(~"100%" - 8px);
  }

  & .calendar-week-axis::after {
    position: absolute;
    height: 1px;
    width: 100%;
    content: " ";
    background-color: @palette-gray-2;
  }

  & .calendar-week-axis::before {
    position: absolute;
    font-size: 10px;
    top: -5px;
    left: -30px;
    color: @palette-gray-4;
    content: attr(data-axis-name);
   }

  & .calendar-week-task {
    position: absolute;
    left: 0px;
    width:  100%;
  }

  & .calendar-week-task::after {
    position: absolute;
    height: 1px;
    width: 100%;
    content: " ";
    background-color: @palette-gray-4;
  }

  & .calendar-week-task::before {
    position: absolute;
    font-size: 10px;
    top: 5px;
    left: 9px;
    color: @palette-gray-4;
    content: attr(data-axis-name);
  }

  & .calendar-component {
    position: relative;
    float: left;
    font-size: 10px;
    line-height: 20px;
    height: 20px;
    padding-left: 4px;
    .overflow-ellipsis;
    min-height: 20px;
    margin-left: 32px;
    width: calc(~"100%" - 38px);
    margin-bottom: -3px;
    border-left: 4px solid;
    text-align: left;
    margin-top: 6px;

    &.many-items {
      width: calc(~"50%" - 38px);
      margin-right: -20px;
    }

    & .component-link {
      position: absolute;
      top: 0px;
      right: 6px;
      cursor: pointer;

      &:hover {
        color: @hover-color;
      }
    }
  }

  & .component-day,
  & .component-task {
    position: absolute;
    word-break: break-all;
    left: 7px;
    border-style: wave;
    margin-left: 0px;
    width: calc(~"100%" - 14px);
   }

  & .component-open-top {
    overflow: visible !important;
    padding-top: 10px;

    & .component-link {
      top: 10px;
    }


    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      left: calc(~"50%" - 8px);
      top: -10px;
      transform: rotate(45deg);
      background-color: @palette-white;
    }
  }

  & .component-open-bottom {
    overflow: visible !important;

    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      left: calc(~"50%" - 8px);
      bottom: -10px;
      transform: rotate(45deg);
      background-color: inherit;
    }
  }
}

.calendar-component {

  /* Default colors used when component has no specific class */
  background-color: @palette-blue-1;
  border-left-color:  @palette-blue-2;

  &:hover {
    background-color: @palette-blue-2;
    border-left-color: @palette-blue-3;
  }

  &.comp-selected {
    background-color: @palette-blue-3;
    border-left-color: @palette-blue-4;
  }

  /* Colors for type Appointment */
  &.calendar-appointment {
    background-color: @palette-orange-0;
    border-left-color: @palette-orange-2;

    &:hover {
      background-color: @palette-orange-2;
      border-left-color: @palette-orange-3;
    }

    &.comp-selected {
      background-color: @palette-orange-3;
      border-left-color: @palette-orange-4;
    }
  }

  /* Colors for type Task */
  &.calendar-task {
    background-color: @palette-cyan-0;
    border-left-color: @palette-cyan-2;

    &:hover {
      background-color: @palette-cyan-2;
      border-left-color: @palette-cyan-3;
    }

    &.comp-selected {
      background-color: @palette-cyan-3;
      border-left-color: @palette-cyan-4;
    }
  }
}

