@calendar-header-height: 45px;
@calendar-header-buttons: 30px;
@calendar-title-height: 25px;

.calendar-icon(@icon, @size) {
  .font-icon;
  display: inline-block;
  position: relative;
  font-size: @size;
  line-height: 29px;
  width: 29px;
  content: @icon;
  color: @icon-color;
  text-align: center;
}

.calendar {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.calendar-header {
  height: @calendar-header-height;
  line-height: @calendar-header-height;

  min-width: 420px;
  text-align: center;

  & .busyindicator-label::before {
    margin-top: -14px;
  }

  & .calendar-range {
    float: left;
    padding-left: 8px;

    & .calendar-previous,
    & .calendar-today,
    & .calendar-next {
      cursor: pointer;
      float: left;
      height: @calendar-header-buttons;
      color: @text-color;
      background-color: @button-background-color;
      border: 1px solid @border-color;
      border-radius: @border-radius;
      cursor: pointer;
      white-space: nowrap;
      margin-right: 5px;

      line-height: @calendar-header-buttons;

      &:hover {
        color: @hover-color;
      }
    }

    & .calendar-today {
      width: 65px;
    }


    & .calendar-select {
      height: @calendar-header-buttons;
      line-height: @calendar-header-buttons;
      float: left;
      font-size: 16px;
      margin-left: 15px;
    }

    & .calendar-previous:hover::before,
    & .calendar-next:hover::before {
      color: @hover-color;
    }

    & .calendar-previous::before {
      .calendar-icon(@icon-angle-left, 20px);
    }

    & .calendar-next::before {
      .calendar-icon(@icon-angle-right, 20px);
    }
  }

  & .calendar-commands {
    float: right;

    & .calendar-mode,
    & .calendar-toggle-year,
    & .calendar-toggle-list {
      height: @calendar-header-buttons;
      line-height: @calendar-header-buttons;
      float: left;
      cursor: pointer;
    }

    & .calendar-mode {
      width: 65px;

      border-top: 1px solid @border-color;
      border-bottom: 1px solid @border-color;
      border-left: 1px solid @border-color;

      &.first {
        border-left: 1px solid @border-color;
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
      }

      &.last {
        border-right: 1px solid @border-color;
        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
        margin-right: 5px;

      }

      &.selected{
        background-color: @item-selection-background-color;
      }
    }

    & .calendar-toggle-year,
    & .calendar-toggle-list {
      margin-left: 5px;
    }


    & .calendar-toggle-year::before {
      .calendar-icon(@icon-calendar, 20px);
     }

    & .calendar-toggle-list::before {
      .calendar-icon(@icon-th-list, 20px);
     }

    & *:hover::before, & *:hover,
    & .selected::before, & .selected {
      color: @hover-color;
    }
  }
}

.calendar-component {
  position: relative;
  float: left;
  line-height: 24px;
  height: 24px;
  padding-left: 4px;
  .overflow-ellipsis;
  min-height: 20px;
  width: calc(~'100%' - 32px);
  border-left: 4px solid;
  text-align: left;

  & span.bold {
    font-weight: bold;
  }

  & span.small {
    font-size: 11px;
    color: @palette-gray-6;
  }

  /* Default colors used when component has no specific class */
  background-color: @palette-blue-1;
  border-left-color:  @palette-blue-2;

  &:hover {
    background-color: @palette-blue-2;
    border-left-color: @palette-blue-3;
  }

  &.comp-selected {
    background-color: @palette-blue-3;
    border-left-color: @palette-blue-4;
  }

  /* Colors for type Appointment */
  &.calendar-appointment {
    background-color: @palette-orange-0;
    border-left-color: @palette-orange-2;

    &:hover {
      background-color: @palette-orange-2;
      border-left-color: @palette-orange-3;
    }

    &.comp-selected {
      background-color: @palette-orange-3;
      border-left-color: @palette-orange-4;
    }
  }

  /* Colors for type Task */
  &.calendar-task {
    background-color: @palette-cyan-0;
    border-left-color: @palette-cyan-2;

    &:hover {
      background-color: @palette-cyan-2;
      border-left-color: @palette-cyan-3;
    }

    &.comp-selected {
      background-color: @palette-cyan-3;
      border-left-color: @palette-cyan-4;
    }
  }
}


.calendar-list-container {
  display: inline-block;
  width: 0%;
  padding: 0;
  height: calc(~'100%' - @calendar-header-height);
  background-color: @palette-white;
  overflow: hidden;

  & .calendar-list {
    width: 270px;
    padding: 0px 0px 0px 30px;
    height: 100%;

    & .list-title {
      position: relative;
      width: calc(~'100%' - 10px);
      height: @calendar-title-height;
      line-height: @calendar-title-height;
      font-weight: bold;
      color: @text-color;

      &::after {
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0px;
        bottom: -1px;
        content: '';
        background-color: @palette-gray-4;
      }
    }

    & .calendar-component {
      height: auto;
      width: calc(~'100%' - 10px);
      background-color: @palette-white !important;
      margin-top: 12px;
    }
  }
}

.calendar-grid {
  display: inline-block;
  width: 60%;
  height: calc(~'100%' - @calendar-header-height);
  overflow: hidden;

  & .calendar-week-header,
  & .calendar-week {
    display: block;
    width: 100%;
    white-space: nowrap;
  }

  & .calendar-week-header {
    height: @calendar-title-height;
  }

  & .calendar-week {
    position: relative;
    height: calc(~'(100%' - @calendar-title-height ~') / 6');
  }

  & .calendar-week-name{
    width: @calendar-header-height;
  }

  & .calendar-day-name,
  & .calendar-week-name,
  & .calendar-day {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    z-index: 1; /* draw over grid */

    &.ui-selected {
      background-color: @palette-cyan-0;
    }
  }

  & .calendar-day {
    padding: 0px;
  }

  & .calendar-week-name {
    font-size: 11px;
    color: @palette-gray-5;
    padding-top: 9px;
    text-align: center;
  }

  & .calendar-day::after,
  & .calendar-day-name::after{
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background-color: @palette-gray-4;
  }

  & .calendar-week::after{
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background-color: @palette-gray-4;
  }


  & .calendar-day-name {
    line-height: @calendar-title-height;
    padding-left: 7px;
  }

  & .calendar-day::before {
    position: absolute;
    content: attr(data-day-name);
    color: @palette-gray-6;
    left: 7px;
    top: 7px;
    z-index: 1; /* draw over calendar items */
  }

  & .out::before {
    color: @palette-gray-4;
  }

  & .weekend::before {
    color: @palette-blue-5;
  }

  & .weekend-out::before {
    color: @palette-blue-3 ;
  }

  & .now::before {
    color: @highlight-color;
    font-weight: bold;
  }

  & .selected.now::before{
    left: 4px;
    top: 3px;
    font-weight: normal;
    border: solid 4px @highlight-color;
    border-radius: 50%;
    background-color:  @highlight-color;
    color: @palette-white;
  }

  & .selected::before {
    text-align: center;
    left: 4px;
    top: 3px;
    width: 23px;
    height: 23px;
    border: solid 4px @item-selection-border-color;
    border-radius: 50%;
    background-color:  @item-selection-border-color;
    color: @palette-white;

  }

  /* helps to center days between 10 and 19 nicer */
  & .selected.center-nice::before {
      padding-right: 2px;
  }

  & .calendar-week-axis {
    position: absolute;
    left: @calendar-header-height - 6px;
    width:  calc(~'100%' - 8px);
  }

  & .calendar-week-axis::after {
    position: absolute;
    height: 1px;
    width: 100%;
    content: '';
    background-color: @palette-gray-2;
  }

  & .calendar-week-axis::before {
    position: absolute;
    font-size: 11px;
    top: -5px;
    left: -30px;
    color: @palette-gray-5;
    content: attr(data-axis-name);
   }

  & .calendar-week-task {
    position: absolute;
    left: 0px;
    width:  100%;
  }

  & .calendar-week-task::after {
    position: absolute;
    height: 1px;
    width: 100%;
    content: '';
    background-color: @palette-gray-4;
  }

  & .calendar-week-task::before {
    position: absolute;
    font-size: 11px;
    top: 5px;
    left: 9px;
    color: @palette-gray-5;
    content: attr(data-axis-name);
  }

  & .calendar-component {
    margin-left: 32px;
    margin-bottom: 1px;
    margin-top: 1px;

  }

  & .component-day,
  & .component-task {
    position: absolute;
    word-break: break-all;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 24px;
    line-height: 24px;
   }

  & .component-open-top {
    overflow: visible !important;
    padding-top: 10px;

    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      left: calc(~'50%' - 8px);
      top: -8px;
      transform: rotate(45deg);
      background-color: @palette-white;
    }
  }

  & .component-open-bottom {
    overflow: visible !important;

    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      left: calc(~'50%' - 8px);
      bottom: -8px;
      transform: rotate(45deg);
      background-color: inherit;
    }
  }
}
