#login-box {
  border: 1px solid @palette-gray-4;
  background-color: @background-color;
  max-width: 420px;
  margin: 150px auto;
  padding: 40px 70px;
  .drop-shadow();

  & input, button {
    width: 100%;
    height: 45px;
    margin: 15px 0;
    font-size: 16px;
  }
}

#login-button {
  position: relative;
  border: 0;
  color: @default-button-color;
  background-color: @default-button-background-color;
  cursor: pointer;

  &:hover {
    background-color: @default-button-hover-background-color;
  }

  &:focus {
    outline: none;
  }

  &:focus::before {
    .button-focus;
  }

  &.disabled {
    cursor: default;
  }

  &.disabled:hover {
    background-color: @default-button-background-color;
  }
}

.login-button-loading {
  .animation(rotation 0.9s linear infinite);
  content: '';
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0);
  border-top-color: @default-button-color;
  border-left-color: @default-button-color;
  width: 25px;
  height: 25px;
}

#login-error {
  display: none;
  color: @error-color;
  background-color: @error-background-color;
  border: 1px solid @error-border-color;
  border-radius: @border-radius;
  padding: 5px @text-field-padding;
  text-align: center;
}
