#logout-box {
  border: 1px solid @palette-gray-4;
  background-color: @background-color;
  max-width: 320px;
  margin: 200px auto;
  padding: 40px 50px;
  #scout.drop-shadow();
  text-align: center;
}

#logout-text {
  #scout.font-text-large();
  font-weight: bold;
  margin-bottom: 15px;
}
