@tablefield-selection-border-width: 1px;

.list-box > .field > .table {
  border: 1px solid @border-color;
  border-radius: @border-radius;
  background-color: @control-background-color;
  padding: 2px 0px;

  &.disabled {
    background-color: @control-background-disabled-color;
  }
}

.list-box .menubar {
  height: 39px;
  border-bottom: none;
  margin-left: @table-row-padding-left;
  margin-right: @table-row-padding-left;
  padding: 0;

  & > .menu-item {
    padding-top:0;

    &[data-icon]::before {
      font-size: 18px;
      line-height: @logical-grid-height;
    }
  }

  & > .menu-separator {
    height: @logical-grid-height - 10px;
  }
}
