.control-analysis:before {
  content: @icon-target;
}

.control-analysis-content {
  padding: @table-control-content-padding;
}

/* command buttons */

.command-container {
  float: left;
  padding: 15px 20px 10px 20px;


  & .command {
    position: relative;
    width: 90px;
    height: 90px;
    cursor: pointer;
    text-align: center;
    white-space: normal;
    padding: 38px 5px 0px 5px;
    overflow: visible;
  }

  & .command:before {
    position: absolute;
    top: 0;
    left: 0;
    .font-icon;
    color: @chart-color-empty;
    font-size: 34px;
    width: 90px;
    text-align: center;
  }

  & .command.new:before {
    content: @icon-add;
  }

  & .command.delete:before { content: @icon-remove;  }
  & .command.search:before { content: @icon-search;  }

  & .command:hover { color: @active-color; }
  & .command:hover:before { color: @active-color; }

  & .simulator {
    padding: 10px 5px 0px 5px;
    color: @chart-color-empty;
  }
}

/* venn */

.venn-container {
  float: left;
  height: 335px;
  width: 490px;
}

rect.venn-all {
  fill: @palette-white;
  stroke: @chart-color-axis-line;
  stroke-width: 2;
}

text.venn-all-text{
  fill: @chart-color-axis-text;
  font-size: 10px;
  text-anchor: end;
}

text.venn-button{
  fill: @chart-color-axis-text;
  font-size: 10px;
  cursor: pointer;
  text-anchor: end;
  text-decoration: underline;

  &:hover{
    fill: @active-color;
  }
}

circle.venn-circle {
  fill: none;
  stroke: @chart-color-empty;
  stroke-width: 2;
  cursor: pointer;
  stroke-opacity: 1;

  &.selected, &:hover{
    stroke: @highlight-color;
  }
}

.venn-set {
  fill: rgba(254, 153, 21, 0.1);
  opacity: 0;

  &.selected {
    opacity: 1;
  }
}

text.venn-circle-text {
  fill: @chart-color-axis-text;
  font-size: 10px;
  text-anchor: middle;
  alignment-baseline: middle;
}

/* criteria overview */

/* criteria box */

.criteria-back {
  position: absolute;
  cursor: pointer;
  top: 20px;
  height: 20px;
  width: 30px;
  left: 680px;

  &:before {
    position: relative;
    top: -4px;
    .font-icon;
    color: @chart-color-axis-text;
    font-size: 24px;
    content: @icon-long-arrow-left;
  }

  &:hover:before {
    color: @active-color;
  }
}


.criteria-navigation {
  position: absolute;
  top: 20px;
  height: 20px;
  width: ~"calc(100% - 800px)";
  left: 710px;
}

.criteria-navigation-item {
  float: left;
  padding-right: 20px;
  text-decoration: underline;
  color: @chart-color-axis-text;
  cursor: pointer;

  &:hover {
    color: @active-color;
  }

  &:last-child {
    color: @highlight-color;
    cursor: default;
  }

  &:after{
    .font-icon;
    content:  @icon-angle-right;
    position: relative;
    left: 10px;
    display: inline-block;
  }

 &:last-child:after {
    content: "";
    left: 0px;
  }

}

.criteria-search {
  position: absolute;
  top: 20px;
  height: 20px;
  width: 100px;
  right: 20px;
  min-height: 20px;
  font-size: 13px;
}

.criteria-container {
  position: absolute;
  top: 45px;
  height: 275px;
  width: ~"calc(100% - 700px)";
  left: 680px;
}

.criteria-attribute, .criteria-entity {
position: absolute;
background-color: #e2e2e2;
border: 1px solid white;
padding: 2px 4px 2px 4px;
font-size:12px;
white-space: normal;
cursor: pointer;
word-wrap: break-word;
}

.criteria-attribute-container {
border: 0;
}

.criteria-attribute{
background-color: #f2f2f2;
color: #f2f2f2;
}

.criteria-attribute:hover {
background-color: #ccc;
color: #ccc;
}

.criteria-entity:hover {
background-color: #ccc;
}
