.control-chart:before {
  content:@icon-chart;
}

.control-chart-content {
  padding: @table-control-content-padding;
}

/* chart - type select */
.chart-select{
  float: left;
  padding: 10px 40px 10px 30px;
}

svg.select-chart{
  height: 60px;
  width: 65px;
  display: block;
}

rect.select-events{
  cursor: pointer;
}

rect.select-fill, circle.select-fill {
  fill: @chart-color-empty;
}

path.select-fill-line, line.select-fill-line {
  stroke: @chart-color-empty;
  fill: @palette-white;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

path.select-fill-pie {
  stroke: @palette-white;
  fill: @chart-color-empty;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

svg.select-chart:hover {
  & rect.select-fill, & circle.select-fill, & path.select-fill-pie {
    fill: @active-color;
  }

  & path.select-fill-line, & line.select-fill-line {
    stroke: @active-color;
  }
}

svg.select-chart.selected {
  & rect.select-fill, & circle.select-fill, & path.select-fill-pie {
    fill: @highlight-color;
  }

  & path.select-fill-line, & line.select-fill-line {
    stroke: @highlight-color;
  }
}

/* chart - axis and data select */

.xaxis-select, .yaxis-select, .data-select {
  float: left;
  margin-top: 10px;
  width: 175px;
  display: inline-block;
  overflow: hidden;
}

.xaxis-select{
  margin-right: 15px;
}

.yaxis-select {
  width: 0px;
}

.data-select{
  margin-left: 15px;
  margin-right: 15px;
}


.select-axis, .select-data {
  position: relative;
  padding-left: 8px;
  padding-right: 20px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-top: 1px solid @color-bench-light-border;
  border-left: 1px solid @color-bench-light-border;
  border-right: 1px solid @color-bench-light-border;

  text-overflow: ellipsis;

  &:hover {
    color: @active-color;
  }

  &:last-child{
    border-bottom: 1px solid @color-bench-light-border;
  }

  &.selected {
    background-color: @highlight-color;
    color: @palette-white;
    border-top: 1px solid transparent;
    border-left: 1px solid @highlight-color;
    border-right: 1px solid @highlight-color;
    border-bottom: 1px solid transparent;
  }

  &.selected + & {
    border-top: 1px solid transparent;
  }

  & .select-axis-group {
    position: relative;
    top: -7px;
    font-size: 10px;
    line-height: 12px;
    display: none;
  }

  &.selected > .select-axis-group {
    display: block;
  }

  &:before {
    color: @palette-white !important;
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    right: 9px;
    top: 6px;
    .font-icon;
  }


  &.axis-ver.selected:before {
  content: @icon-long-arrow-down;
  }

  &.axis-hor.selected:before {
    content: @icon-long-arrow-right;
    right: 5px;
  }

  &.axis-around.selected:before {
    content: @icon-rotate-right;
    right: 6px;
  }

  &.axis-up.selected:before {
    content: @icon-long-arrow-up;
  }

  &.data-count.selected:before {
    content: @icon-count;
    top: 3px;
    right: 7px;
  }

  &.data-sum.selected:before {
    content: @icon-sum;
    top: 4px;
    right: 8px;
  }

  &.data-median.selected:before {
    content: @icon-median;
    top: 4px;
    right: 8px;
  }
}

/* chart - main */
.chart-main {
  width: 1000px;
  height: 320px;

  & :focus {
      outline: none;
    }
}

.main-chart {

  rect&, circle& {
    fill: @chart-color-bar;
    stroke: @palette-white;
    stroke-width: 0px;
    cursor: pointer;
  }

  circle& {
    opacity: 0.7;
  }

  path& {
    fill: @chart-color-bar;
    stroke: @palette-white;
    stroke-width: 2px;
    cursor: pointer;
  }

  line& {
    stroke: @chart-color-bar;
    stroke-width: 4px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  &:hover {
    fill: @active-color;
  }

  &.selected {
    fill: @highlight-color;
  }
}


line.main-axis {
  stroke: @chart-color-axis-line;
  stroke-width: 1px;
}

text.main-axis {
  fill: @palette-white;
  text-anchor: middle;
  dominant-baseline: middle;
}

text.main-axis-y {
  fill: @chart-color-axis-text;
  text-anchor: end;
  dominant-baseline: central;
  font-size: 10px;
  }

text.main-axis-x, textPath.main-axis-x {
  fill: @chart-color-axis-text;
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 10px;
}
