.control-graph:before {
  content:@icon-graph;
}

.graph-container {
  width: 100%;
  height: 100%;
  overflow:visible;
}

.graph-node {
  stroke: #fff;
  stroke-width: 2px;
  cursor: pointer;
  
  &.center {fill: @highlight-color;}
  &.internal {fill: @palette-light-gray-1;}
  &.person {fill: @palette-gray;}
  &.department {fill: #80c1d0;}
  &.company {fill: #ffcc8a;}
}

.graph-node-text{
  fill: #fff;
  text-anchor: middle;
  dominant-baseline: central;
  
  &:hover{
    cursor: pointer;
  }
}

.graph-link {
  stroke: #bfbfbf;
  stroke-width: 2;
}

.graph-link-text{
  fill: #9C9C9C;
  text-anchor: middle;
  dy: 20px;
}
