.control-graph:before {content:"\F0E8";}

#GraphContainer {
width: 100%;
height: 100%;
}

.graph-node {
stroke: #fff;
stroke-width: 2px;
cursor: pointer;
}

.graph-node.center {fill: #fe9915;}
.graph-node.internal {fill: #bfbfbf;}
.graph-node.person {fill: #0082a1;}
.graph-node.department {fill: #80c1d0;}
.graph-node.company {fill: #ffcc8a;}

.graph-node-text{
fill: #fff;
text-anchor: middle;
dominant-baseline: central;
}

.graph-node-text:hover{
cursor: pointer;
}

.graph-link {
stroke: #bfbfbf;
stroke-width: 2;
}

.graph-link-text{
fill: #9C9C9C;
text-anchor: middle;
dy: 20px;}
