.control-map:before {
  content: @icon-world;
}

#MapContainer {
width: 100%;
height: 100%;
}

.map-item {
fill: #bfbfbf;
cursor: pointer;
stroke-width: 100;
stroke: #fff;
}

.map-item.has-data {
fill: #0082a1;
}

.map-item:hover {
fill: #7f7f7f;
}

.map-item.selected {
fill: #fe9915
}

.map-item.has-data:hover {
fill: #fe9915 !important;
}
