.control-map:before {
  content: @icon-world;
}

.map-container {
  width: 100%;
  height: 100%;
}

.map-item {
  fill: @chart-color-empty;
  cursor: pointer;
  stroke-width: 100;
  stroke: #fff;

  &.has-data {
    fill: @chart-color-data;
  }

  &:hover {
    fill: @active-color;
  }

  &.selected {
    fill: @highlight-color;
  }
}

