.table-control {
	position: absolute;
	bottom: 0px;
	height: @size-table-footer;
	width: 100%;
	white-space: nowrap;
	border-top: 1px solid @color-bench-light-border;
}


.control-resize{
	position: absolute;
	width: 100%;
	left: 0px;
	height: 16px;
	cursor: row-resize;
	z-index: 10;
}


.control-container {
	position: absolute;
	overflow: hidden;
	background-color: @color-bench;
	bottom: @size-table-footer;
	border-top: 1px solid @color-bench-light-border;
	width: 100%;
	height: 0px;
	display: none;
}


.control-filter{
	width: 200px;
	border: 1px solid @color-bench-midi;
	min-height: 26px;
	font-size: 14px;
	margin-top: 11px;
	padding-left: 6px;
	&:hover{
		border: 1px solid @color-bench-semi;
	}
	
	&:focus{
		border-color: @color-bench-select-border;
	}
}




.control-group {
display: inline;
float: left;
position: relative;
padding-left: 10px;
margin-right: 7px;
border-right: 1px solid #CCC;
margin-top: 6px;
height: 38px;
}

.control-group:before {
content: attr(data-title);
position: absolute;
color: #ccc;
font-size: 8px;
width: 100%;
top: -2px;
left: 12px;
}

.control{
padding: 9px 18px 10px 2px;
float: left;
cursor: pointer;
position: relative;
}

.control:hover:before, .control:hover:after {
color: #FE9915;
}

.control.disabled:hover, .control.disabled:before, .control.disabled:after{
cursor: default;
color:#CCC;
}

.control.selected:before, .control.selected:after {
color: #FE9915 !important;
}


.control:before{
font-family: fontAwesome;
font-size: 24px;
color:#0082A1;
}

.control-label {
float: left;
padding-top: 18px;
padding-left: 4px;
color: #0082A1;
}

#InfoLoad, #InfoMore, #InfoFilter, #InfoSelect {
position:relative;
float: right;
margin-top: 6px;
margin-left: 7px;
padding: 0px 0px 0px 7px;
display: none;
width: 0px;
height: 38px;
border-left: 1px solid #CCC;
color: #bfbfbf;
white-space: nowrap;
cursor: pointer;
line-height: 21px;
}


#InfoLoad:hover, #InfoMore:hover, #InfoFilter:hover, #InfoSelect:hover {
color: #444;
}



.control-query:before {content:"\F002";}
.control-category:before {content:"\F02B";}

