/* TODO AWE: evtl. können wir das auch für andere fields brauchen */
div[disabled="disabled"] {
  border: 1px solid #999;
  color: #666;
  background-color: #ccc;
}

.checkbox {
  border: 1px solid black;
  height: 16px;
  width: 16px;
  cursor: pointer;
  left: 138px;
  margin-top: 4px;
  position: absolute;
}

.checkbox_checked:before {
  content:"X";
  margin-left:3px;
}
