.check-box-field > .field {
  padding: @borderless-field-padding-y 0px @borderless-field-padding-y 0px;
}

.check-box-field > span {
  & label {
    cursor: pointer;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
  }

  & label::before {
    .checkboxLabelBefore(0px, 0px, 0px, 10px, -2px);
  }

  & input[type=checkbox] {
    /* no visiblity and display change to be focusable */
    position: absolute;
    width: 22px;
    height: 22px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
  }

  & input[type=checkbox]:disabled + label:hover::before {
    .checkboxLabelBeforeDisabledBorder;
  }

  & input[type=checkbox]:focus + label::before {
    .checkboxLabelBeforeFocus;
  }

  & input[type=checkbox]:checked + label::before {
    .checkboxLabelBeforeChecked;
  }

  & label::before {
    .checkboxLabelBeforeBorder;
  }

  & input[type=checkbox]:disabled + label::before {
    .checkboxLabelBeforeDisabled;
  }

  & input[type=checkbox]:disabled + label {
    .checkboxLabelDisabled;
  }
}
