.radio-button > label {
  padding: @borderless-field-padding-y 0 @borderless-field-padding-y 25px;
  /* reset mandatory indicator margin set in FormField.css */
  margin-left: 0;
}

.radio-button {
  & label {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    font-size: 13px;
  }

  & label::before {
    content: " ";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 5px;
    border: 2px solid @palette-gray-4;
    border-radius: 50%;

  }

  & input[type=radio] {
    /* no visiblity and display change to be focusable */
    position: absolute;
    width: 23px;
    height: 23px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
  }

  & input[type=radio]:checked + label::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 6px;
    top: 11px;
    width: 7px;
    height: 7px;
    background-color: @palette-gray-8;
    border: 2px solid @palette-gray-8;
    border-radius: 100%;
  }

  & input[type=radio]:focus + label::before {
    border-color: @focus-border-color;
  }

  & input[type=radio]:disabled + label::before {
    background-color: @control-disabled-background-color;
  }

  & input[type=radio]:disabled + label {
    cursor: default;
  }
}
