.radio-button > .field {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: @borderless-field-padding-y 0 @borderless-field-padding-y 25px;
  margin-left: @mandatory-indicator-width;
  margin-right: 15px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &::before {
    content: " ";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 5px;
    border: 2px solid @palette-gray-4;
    border-radius: 50%;
  }

  &.checked::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 6px;
    top: 11px;
    width: 7px;
    height: 7px;
    background-color: @palette-gray-8;
    border: 2px solid @palette-gray-8;
    border-radius: 100%;
  }

  &:focus::before {
    border-color: @focus-border-color;
  }

  &.disabled::before {
    background-color: @control-disabled-background-color;
  }

  &.disabled {
    cursor: default;
  }
}
