@table-cell-inset: 5px;
@table-selection-border-width: 2px;
@table-header-height: 40px;
@table-footer-height: 52px;
@table-row-padding-y: 12px;
@table-row-padding-left: 8px;

.table {
  height: 100%;
  width: 100%;
  /* necessary for children (table footer) */
  position: relative;

  & .scrollbar {
    right: 3px;
  }

  &:focus {
    outline: none;
  }
}

.table-data {
  position: relative;
  overflow: hidden;

  /* Draw the .table-data DIV one pixel higher, over the header (for selection border). */
  /* - To make height calculation correct, this margin has to be subtracted again */
  /*   from .table-data's height. See TableLayout.layout(). */
  margin-top: -1px;
  padding-top: 1px;
}

/* table rows */

.table-row,
.table-row-sum {
  position:relative;
  overflow: hidden;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid @desktop-border-color;

  /* Selected rows */
  /* Hint: The definition of the 2px selection border is written in desktop.css because it is */
  /* not possible to prevent the creation of the additional selection div in tablefield.css*/
  &.selected {
    background-color: @selection-row-background-color;
    border-color: @selection-row-border-color;

    &::after {
      background-color: red;
    }

    .disabled & {
      background-color: @selection-row-background-disabled-color;
      border-color: @selection-row-border-disabled-color;
    }

    &.select-top,
    &.select-middle {
      /* Disable bottom-border. Instead, we add the border in the ::after pseudo element, because otherwise */
      /* it would interfere with the 2px left border (missing control of 'border join behaviour' in CSS) */
      border-bottom: 0;
    }

    &.select-top::after,
    &.select-middle::after {
      border-bottom: 1px solid @desktop-border-color;
      content: '';
      display: block;
    }
  }

  &.select-single,
  &.select-top {
    border-top: 1px solid @selection-row-border-color;
    /* Move the row 1px up to cover the bottom border of the previous row. */
    margin-top: -1px;
  }
}

.table-cell {
  display: table-cell;
  padding: @table-row-padding-y 4px @table-row-padding-y @table-row-padding-left;
  .overflow-ellipsis-nowrap;
  mix-blend-mode: multiply; /* experimental support, currently only in FF */

  .table-row-sum & {
    font-weight: bold;
  }

  & label {
    cursor: pointer;
  }
  & label::before {
    .checkboxLabelBefore(inherit, inherit, -18px);
  }
  & label:hover::before {
    .checkboxLabelBeforBorderHover;
  }
  & input[type=checkbox] {
    visibility: hidden;
  }
  & input[type=checkbox]:disabled + label:hover::before {
    .checkboxLabelBeforeDisabledBorder;
  }
  & input[type=checkbox]:focus + label::before {
    .checkboxLabelBeforeFocus;
  }
  & input[type=checkbox]:checked + label::before {
    .checkboxLabelBeforeChecked;
  }
  & label::before {
    .checkboxLabelBeforeBorder;
  }
  & input[type=checkbox]:disabled + label::before {
    .checkboxLabelBeforeDisabled;
  }
  & input[type=checkbox]:disabled + label {
    .checkboxLabelDisabled;
  }
}

/* key box */

.table .key-box {
  right: 24px;
  width: 32px;
}

.table .key-box.top3 { top: 10px;}
.table .key-box.top2 { top: 32px;}
.table .key-box.top1 { top: 54px;}
.table .key-box.bottom1 { bottom: 54px;}
.table .key-box.bottom2 { bottom: 32px;}
.table .key-box.bottom3 { bottom: 10px;}
.table .key-box.char { bottom: 8px; }
