.table-header-menu {
  position: absolute;
  z-index: 6;
  border-top: 1px solid @desktop-background-color;
  .menu-context;
  width: 225px;
  background-color: @desktop-background-color;
  padding-bottom: 5px;
}

.table-header-menu-whiter {
  height: 1px;
  position: absolute;
  top: -1px;
  left: 0px;
  max-width: 223px;
  background-color: @desktop-background-color;
}

.header-group {
  padding: 10px 0px 35px 10px;
}

.header-group-filter {
  padding: 10px 0px 7px 10px;
}

.header-text {
  .font-text-normal(@bold);
  font-weight:bold;
  color: @text-color;
  line-height: 22px;
  height: 22px;
  overflow: hidden;
}

.header-command {
  float: left;
  width: 43px;
  margin-right: 10px;
  height: 29px;
  .font-icon;
  font-size: 17px;
  line-height: 29px;
  color: @text-color;
  border: 1px solid @desktop-border-color;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: @hover-color;
  }

  &:after {
    position: relative;
    left: 3px;
    top: -6px;
    font-size: 10px;
    line-height: 10px;
  }

  &.selected {
    background-color: @palette-bsi-disabled;
    border: 1px solid @palette-bsi-disabled;
  }

  &.selected:before,
  &.selected:after {
    color: @desktop-background-color;
  }

  &.move-top:before,
  &.move-up:before,
  &.move-down:before,
  &.move-bottom:before {
    font-size: 20px;
    line-height: 20px;
  }

  &.move-top:before {
    content: @icon-angle-double-left;
  }
  &.move-up:before {
    content: @icon-angle-left;
  }
  &.move-down:before {
   content: @icon-angle-right;
  }
  &.move-bottom:before {
    content: @icon-angle-double-right;
  }

  &.sort-asc:before,
  &.sort-asc-add:before {
    content: @icon-long-arrow-up;
  }

  &.sort-desc:before,
  &.sort-desc-add:before {
    content: @icon-long-arrow-down;
  }

  &.sort-asc-add:after,
  &.sort-desc-add:after {
    content: attr(data-icon);
  }

  &.sort-asc:before,
  &.sort-asc-add:before {
    content: @icon-long-arrow-up;
  }

  &.sort-asc.selected:hover:before,
  &.sort-asc-add.selected:hover:before,
  &.sort-desc.selected:hover:before,
  &.sort-desc-add.selected:hover:before,
  &.group-all.selected:hover:before,
  &.group-sort.selected:hover:before {
    top: 0px;
    font-size: 17px;
    line-height: 20px;
    .font-icon;
    content: @icon-remove;
  }

  &.sort-asc.selected:hover:after,
  &.sort-asc-add.selected:hover:after,
  &.sort-desc.selected:hover:after,
  &.sort-desc-add.selected:hover:after,
  &.group-all.selected:hover:after,
  &.group-sort.selected:hover:after {
    content: '';
  }

  &.group-all:before,
  &.group-sort:before {
    position: relative;
    top: 0px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 20px;
    content: @icon-sum;
  }

  &.group-sort:after {
    content: @icon-th-list;
  }

  &.color-red:after {
    content: @icon-nbsp;
  }
  &.color-red {
    background-image: linear-gradient(to right, @palette-red-disabled, @palette-green-disabled);
  }

  &.color-green:after {
    content: @icon-nbsp;
  }
  &.color-green {
    background-image: linear-gradient(to right, @palette-green-disabled, @palette-red-disabled);
  }

  &.color-bar:after {
    content: @icon-nbsp;
  }
  &.color-bar {
    background-image: linear-gradient(to right, @palette-bsi-disabled 0%, @palette-bsi-disabled 65%, @palette-white 65%, @palette-white 100% );
    border: 1px solid @palette-bsi-disabled;
    width: 43px;
    line-height: 29px;
  }

  &.color-remove:after {
    content: @icon-nbsp;
  }
  &.color-remove {
    background: @palette-white;
    border: 1px solid @palette-bsi-disabled;
    width: 43px;
    line-height: 29px;
  }

  &.column-add:before {
    content: @icon-add;
  }

  &.column-remove:before {
    content: @icon-remove;
  }
}

.header-filter-container {
  position: relative;
  overflow:hidden;
  height: 226px;
  padding: 0px;
}

.header-filter-container > .scrollbar {
  right: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header-filter {
  position:relative;
  width: 200px;
  float: left;
  clear: both;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  padding: 0px 20px 0px 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-top: 1px solid @desktop-border-color;

  &:last-child {
    border-bottom: 1px solid @desktop-border-color;
  }

  &:hover {
    color: @hover-color;
  }

  &:after {
    position: absolute;
    right: 14px;
    content: attr(data-value);
  }

  &.selected {
    background-color:  @palette-bsi-disabled;
    border-top: 1px solid  @palette-bsi-disabled;
    color: @desktop-background-color;
  }

  &.selected + .header-filter {
    border-top: 1px solid @desktop-background-color;
  }

  &.selected:last-child {
    border-bottom: @highlight-color;
  }
}
