@table-cell-inset: 5px;
@table-selection-border-width: 2px;
@table-header-height: 40px;
@table-footer-height: 52px;
@table-row-padding: 12px;

.table {
  height: 100%;
  width: 100%;
  /* necessary for children (table footer) */
  position: relative;

  & .scrollbar {
    right: 3px;
  }
}

/* main table header */

.table-header {
  height: @table-header-height;
  position: relative;
  background-color: @color-bench-light;
  border-top: 1px solid @color-bench-light-border;
  border-bottom: 1px solid @color-bench-light-border;
  white-space: nowrap;
  overflow: hidden;
}

.sort-icon(@icon) {
  .font-icon;
  content: @icon;
  margin-left: 4px;
  line-height: normal;
}

.header-item {
  position: relative;
  display: inline-block;
  .font-text-normal(@bold);
  padding: 0px 6px 0px 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: @table-header-height;
  cursor:pointer;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;

  &.sort-asc, &.sort-desc,  &.filter, &.group-all,   &.group-sort {
    color: @active-color;
  }

  &.sort-desc:after {
    .sort-icon(@icon-caret-down);
  }

  &.sort-asc:after {
    .sort-icon(@icon-caret-up);
  }

  &:hover, &.header-move{
    color: @hover-color;
  }

  &.menu-open {
    border-left: 1px solid @color-bench-light-border;
    border-right: 1px solid @color-bench-light-border;
    background-color: @color-bench;
    color: @active-color;
    z-index: 2;
  }

}

.header-resize {
  position: absolute;
  display: inline-block;
  top: 0px;
  height: @table-header-height;
  width: 17px;
  padding: 8px;
  margin-left: -8px;
  background-color: @color-bench-light-border;
  background-clip: content-box;
  cursor: col-resize;
  z-index: 4;

  .header-move & {
    background-color: @color-bench-light;
  }

  .menu-open + &.header-resize{
    background-color: @color-bench-light;
  }
}

/* main table data */

.table-data {
  position: relative;
  overflow: hidden;
}

/* table rows */

.table-row, .table-row-sum {
  position:relative;
  overflow: hidden;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid @color-bench-light-border;
}

.table-row:first-child {
  border-top: 1px solid transparent;
}

.table-row .table-cell,
.table-row-sum .table-cell {
  display: table-cell;
  padding: @table-row-padding 4px @table-row-padding 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: @text-color;
}

.table-row-sum .table-cell {
  font-weight: bold;
}

/* Selected rows */
/* Hint: The definition of the 2px selection border is written in desktop.css because it is not possible to prevent the creation of the additional selection div in tablefield.css*/

.table-row.selected {
  background-color: @selection-background-color;
  border-color: @selection-border-color;
}

.table-row.select-single,
.table-row.select-top {
  border-top: 1px solid @selection-border-color;
  /* Move the row 1px up to cover the bottom border of the previous row. */
  margin-top: -1px;
}

.table-row:first-child.selected {
  /* The first row has a 1px transparent border-top because it is not possible to move the row 1px up due to the overlapping header. */
  margin-top: 0px;
}

/* key box */

.table .key-box{
  right: 24px;
  width: 32px;
}

.table .key-box.top3 { top: 10px;}
.table .key-box.top2 { top: 32px;}
.table .key-box.top1 { top: 54px;}
.table .key-box.bottom1 { bottom: 54px;}
.table .key-box.bottom2 { bottom: 32px;}
.table .key-box.bottom3 { bottom: 10px;}
.table .key-box.char { bottom: 8px; }
