@table-control-padding: 14px;
@table-control-content-padding: 10px;

.table-footer {
  position: absolute;
  bottom: 0px;
  height: @table-footer-height;
  width: 100%;
  white-space: nowrap;
  border-top: 1px solid @color-bench-light-border;
}

.control-resize {
  position: absolute;
  width: 100%;
  left: 0px;
  height: 16px;
  cursor: row-resize;
  z-index: 10;
}

.control-container {
  position: absolute;
  overflow: hidden;
  background-color: @color-bench;
  bottom: @table-footer-height;
  border-top: 3px solid @color-bench-light-border;
  width: 100%;
  height: 0px;
  display: none;
}

.control-content {
  height: 100%;
  width: 100%;
}

.control-group {
  float: left;

  .table-footer > & ~ & {
    margin-left: -1px;
  }
}

.control{
  position: relative;
  display: inline-block;
  padding: 0 @table-control-padding;
  cursor: pointer;
  margin-top: -1px;
  height: @table-footer-height;
  line-height: @table-footer-height;
  border: 1px solid transparent;

  &:before {
    .font-icon;
    font-size: 22px;
    color: @footer-color;
  }

  &:last-child:after{
  content: ' ';
    position: absolute;
    top: @table-control-padding / 2  + 2px;
    right: -1px;
    height: @table-footer-height - @table-control-padding - 4px;
    border-right: 1px solid @color-bench-light-border;
  }

  &:hover:before {
    color: @active-color;
  }

  &.disabled:hover, &.disabled:before{
    cursor: default;
    color: @footer-disabled-color;
  }

  &.selected:before {
    color: @active-color !important;
  }

  &.selected{
    border-left: 1px solid @color-bench-light-border;
    border-right: 1px solid @color-bench-light-border;
    border-top: 1px solid @palette-white;
    background-color: @palette-white;
  }
}

.control-query:before {
  .font-icon;
  content:@icon-search;
}
.control-category:before {
  .font-icon;
  content: @icon-category;
}

.control-filter {
  float: left;
  width: 200px;
  min-height: 26px;
  font-size: 13px;
  margin-top: (@table-footer-height - 26px) / 2;
  margin-left: @table-control-padding;
  .text-field;
}

.control-info {
  float: right;
}

.table-info-load,
.table-info-filter,
.table-info-selection{
  float: left;
  padding: @table-control-padding / 2 @table-control-padding 0px @table-control-padding;
  position: relative;
  display: none;
  width: 0px;
  height: @table-footer-height;
  color: @footer-color;
  cursor: pointer;
  line-height: 19px;

  &:before{
  content: ' ';
    position: absolute;
    top: @table-control-padding / 2  + 2px;
    left: 0px;
    height: @table-footer-height - @table-control-padding - 4px;
    border-right: 1px solid @color-bench-light-border;
  }

  & span.info-button{
   text-decoration: underline;
  }

  &:hover span.info-button{
   color: @active-color;
  }

}

