@padding-control: 12px;
@size-table-header: 40px;
@size-table-row: 45px;
@size-table-footer: 52px;

.table-footer {
  position: absolute;
  bottom: 0px;
  height: @size-table-footer;
  width: 100%;
  white-space: nowrap;
  border-top: 1px solid @color-bench-light-border;
}

.control-resize {
  position: absolute;
  width: 100%;
  left: 0px;
  height: 16px;
  cursor: row-resize;
  z-index: 10;
}

.control-container {
  position: absolute;
  overflow: hidden;
  background-color: @color-bench;
  bottom: @size-table-footer;
  border-top: 1px solid @color-bench-light-border;
  width: 100%;
  height: 0px;
  display: none;
}

.control-filter {
  width: 200px;
  border: 1px solid @border-color;
  min-height: 26px;
  font-size: 14px;
  margin-top: 11px;
  margin-left: @padding-control;
  padding-left: 6px;

  &:hover{
    border-color: @hover-color;
  }

  &:focus{
    border-color: @focus-color;
  }
}

.control-group {
  display: inline;
  float: left;
  position: relative;
  padding: 0 @padding-control;
  border-right: 1px solid #CCC;
  margin-top: 6px;
  height: 38px;
}

.control{
  padding: 9px @padding-control 10px @padding-control;
  float: left;
  cursor: pointer;
  position: relative;
}

.control:hover:before, .control:hover:after {
  color: @highlight-color;
}

.control.disabled:hover, .control.disabled:before, .control.disabled:after{
  cursor: default;
  color:#CCC;
}

.control.selected:before, .control.selected:after {
  color: @highlight-color !important;
}

.control:before {
  .font-icon;
  font-size: 24px;
  color: @active-color;
}

.control-query:before {
  content:@icon-search;
}
.control-category:before {
  .font-icon;
  content: @icon-category;
}

.table-info-load,
.table-info-filter,
.table-info-selection{
  position:relative;
  float: right;
  margin-top: 6px;
  margin-left: 7px;
  padding: 0px 0px 0px 7px;
  display: none;
  width: 0px;
  height: 38px;
  border-left: 1px solid #CCC;
  color: #bfbfbf;
  white-space: nowrap;
  cursor: pointer;
  line-height: 21px;

    &:hover{
      color: #444;
    }
}
