@table-control-padding: 14px;
@table-control-content-padding: 10px;

.table-footer {
  position: absolute;
  bottom: 0px;
  height: @table-footer-height;
  width: 100%;
  white-space: nowrap;
  border-top: 1px solid @color-bench-light-border;
}

.control-resize {
  position: absolute;
  width: 100%;
  left: 0px;
  height: 16px;
  cursor: row-resize;
  z-index: 10;
}

.control-container {
  position: absolute;
  overflow: hidden;
  background-color: @color-bench;
  bottom: @table-footer-height;
  border-top: 3px solid @color-bench-light-border;
  width: 100%;
  height: 0px;
  display: none;
  z-index: 5;
}

.control-content {
  height: 100%;
  width: 100%;
}

.control-group {
  float: left;

  .table-footer > & ~ & {
    margin-left: -1px;
  }
}

.control-filter {
  float: left;
  width: 200px;
  min-height: 26px;
  font-size: 13px;
  margin-top: (@table-footer-height - 26px) / 2;
  margin-left: @table-control-padding;
}

.control-info {
  float: right;
}

.table-info-load,
.table-info-filter,
.table-info-selection{
  float: left;
  padding: @table-control-padding / 2 @table-control-padding 0px @table-control-padding;
  position: relative;
  display: none;
  width: 0px;
  height: @table-footer-height;
  color: @footer-color;
  cursor: pointer;
  line-height: 19px;

  &:before{
    content: ' ';
    position: absolute;
    top: @table-control-padding / 2  + 2px;
    left: 0px;
    height: @table-footer-height - @table-control-padding - 4px;
    border-right: 1px solid @color-bench-light-border;
  }

  & span.info-button{
   text-decoration: underline;
  }

  &:hover span.info-button{
   color: @active-color;
  }
}
