.table-menu-organize {
  background-color: @palette-white;

  & .group {
    padding: 10px 0px 10px 10px;
    width: 364px;
    overflow: hidden;
  }

  & .text {
    .font-text-normal(@bold);
    overflow: hidden;
  }

  & .slot, & .minus, & .plus {
    float: left;
    width: 80px;
    margin: 5px 5px 0px 2px;
    height: 24px;
    line-height: 24px;
    border: 1px solid @desktop-border-color;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      color: @palette-bsi-normal;
      border: 1px solid @palette-bsi-normal;
    }

    &.empty, &.empty:hover {
      color: @palette-gray-5;
      border: 1px solid @palette-gray-8;
      cursor: default;
    }

    &.rename-active {
      border-radius: @border-radius;
      cursor: text;
      color: @text-color;
      border: 1px solid @palette-gray-6;
      .glow(@palette-gray-6);
    }

    &:focus {
      .focus-border();
    }

    &::selection {
      .selection();
    }

    &::-moz-selection {
      .selection();
    }
  }

  & .rename{
    .font-text-small();
    float: left;
    width: 50px;
    margin: 6px 10px 0px 6px;
    height: 24px;
    line-height: 11px;
    cursor: pointer;

    &:hover {
      color: @palette-bsi-normal;
    }
  }


  & .fixed{
    float: left;
    width: 50px;
    margin: 5px 0px 4px 2px;
    height: 29px;
    line-height: 25px;
    .font-text-normal();
    text-align: center;
  }


  & .minus, & .plus {
    width: 50px;
  }


  & .minus:before, & .plus:before{
    color: @icon-color;
    .font-icon;
    font-size: 17px;
  }

  & .minus:hover:before, & .plus:hover:before {
     color: @palette-bsi-normal !important;
   }

  & .minus:before {
    content: @icon-minus;
  }

  & .plus:before{
    content: @icon-add;
  }

}
