<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/${rootArtifactId}.db/src/main/java/${packageInPathFormat}/db/generator/GeneratorApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="${package}.db.generator.GeneratorApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="${rootArtifactId}.db"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dscout.jandex.rebuild=true&#13;&#10;-Dconfig.properties=../${rootArtifactId}.app.dev/src/main/resources/dev.db.config.properties&#13;&#10;-Dpersistence.sql.jdbc.mapping.name=jdbc:derby:./../${rootArtifactId}.app.dev/db"/>
</launchConfiguration>
