<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="services" name="services" schema="schema/services.exsd"/>
   <extension point="org.eclipse.scout.service.services">
      <serviceInitializerFactory class="org.eclipse.scout.service.DefaultServiceInitializerFactory" />
   </extension>
</plugin>
