.button > button {
  position: relative;
  height: 30px;
  color: @text-color;
  background-color: @button-background-color;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  cursor: pointer;
  .overflow-ellipsis-nowrap;

  &:hover {
    color: @hover-color;
  }

  &:focus {
    outline: none;
  }

  &:focus::before {
    .button-focus;
  }

  &:disabled {
    background-color: @palette-white;
    color: @disabled-color;
    cursor: default;
  }

  &.selected {
    border-style: inset;
    border-right-color: @border-color;
    border-bottom-color: @border-color;
  }
}

.button.default-button button:not(:disabled),
.button button.default-button:not(:disabled) {
  .font-text-normal(@bold);
  background-color: @palette-bsi-normal;
  color: @palette-white;
  border-width: 0;

  &:hover {
    background-color: @default-button-background-color;
  }
}

button > img {
  vertical-align: middle;
  margin-bottom: 1px;

  &.with-label {
    margin-right: 8px;
  }
}

.form-field.button,
.form-field.link-button {
  margin-left: @mandatory-indicator-width;
}

/* Link buttons in a form must have an underline, but link buttons in the menubar shouldn't */
.form-field.link-button > div {
  text-decoration: underline;
}

.table .button > .key-box {
  top: 8px;
}

.button > .key-box {
  position: absolute;
  top: 8px;
}
