@planner-header-height: 45px;
@planner-resource-minheight: 30px;
@planner-resource-title-width: 150px;
@resource-padding-x: 5px;

.planner-icon(@icon, @size) {
  .font-icon;
  display: inline-block;
  position: relative;
  font-size: @size;
  line-height: 29px;
  width: 29px;
  content: @icon;
  color: @icon-color;
  text-align: center;
}

.planner {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;

  & > .menubar {
    padding-left: @resource-padding-x;
    padding-right: @resource-padding-x;
    background-color: @control-background-color;
  }

  & > .menubar.bottom {
    position: absolute;
    bottom: 0;
  }
}

.planner-header {
  height: @planner-header-height;
  min-width: 100px;
  overflow: hidden;

  & .planner-range {
    display:inline-block;

    & .planner-minus,
    & .planner-plus {
      cursor: pointer;
      display: inline-block;
    }

    & .planner-select {
      display: inline-block;
      font-size: 17px;
      position: relative;
      top: -5px;
      left: 2px;
    }

    & .planner-minus:hover::before,
    & .planner-plus:hover::before {
      color: @hover-color;
    }

    & .planner-minus::before {
      .planner-icon(@icon-angle-left, 29px);
    }

    & .planner-plus::before {
      .planner-icon(@icon-angle-right, 29px);
    }
  }

  & .planner-commands {
    float: right;

    & * {
      display: inline-block;
      cursor: pointer;
    }

    & .planner-today::before {
      .planner-icon(@icon-target, 20px);
    }

    & .planner-mode-day::before {
      .planner-icon("1", 20px);
     }

    & .planner-mode-work::before {
      .planner-icon("5", 20px);
     }

    & .planner-mode-week::before {
      .planner-icon("7", 20px);
     }

    & .planner-mode-month::before {
      .planner-icon("31", 20px);
     }

     & .planner-mode-cw::before {
      .planner-icon("52", 20px);
     }

     & .planner-mode-year::before {
      .planner-icon("365", 20px);
      padding: 0 35px 0px 8px;
     }


    & .planner-toggle-year::before {
      .planner-icon(@icon-clock, 20px);
     }

    & .planner-toggle-list::before {
      .planner-icon(@icon-menu, 20px);
     }

    & .planner-separator {
      box-sizing: content-box;
      width: 20px;
      height: 25px;
    }

    & *:hover::before, & *:hover,
    & .selected::before, & .selected {
      color: @hover-color;
    }

  }

}

.planner-year-container {
  display: inline-block;
  width: 0%;
  padding: 0;
  background-color: @palette-white;
  overflow: hidden;

  & .planner-year {
    width: 270px;
    padding: 0px 10px;
    height: 100%;

    & .year-title {
      position: relative;
      width: calc(~"100%" - 20px);
      height: 45px;
    }

    & .year-title-item {
      display: inline-block;
      padding-right: 15px;
      line-height: 45px;
      font-size: 17px;
      color: @palette-gray-4;
      cursor: pointer;

      &.selected {
        color: @palette-gray-6;
        cursor: default;
      }

      &:hover {
        color: @palette-gray-6;
      }
    }


     & .year-title::after{
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0px;
      bottom: 0px;
      content: " ";
      background-color: @palette-gray-4;
    }

    & .year-month{
      margin-top: 18px;
      position: relative;
      padding-top: 20px;
      padding-right: 15px;
      float: left;
      height: 85px;
      width: 125px;

      font-size: 17px;
      color: red;
    }

      & .year-month::before{
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100px;
      width: 100%;
      content: attr(data-title);
      font-size: 17px;
      color: @palette-green-4;
    }

    & .year-day{
      position: relative;
      float: left;
      width: 15px;
      text-align: right;
      color: @palette-gray-6;
      font-size: 10px;
      height: 12px;
      padding: 1px;
      line-height: 12px;
      cursor: pointer;
    }

    & .year-range{
      background-color: @palette-green-0;
    }

    & .year-range-day{
      background-color: @palette-green-3;
    }

    & .year-hover{
      background-color: @palette-orange-0 !important;
    }

    & .year-hover-day{
      background-color: @palette-orange-2 !important;
    }
  }

}

.planner-scale {
  position: absolute;
  right: 0px;
  height: @planner-header-height;
  border-bottom:  1px solid @palette-gray-4;
  width: 100%;
  /* for horizontal scrollbars */
  overflow: hidden;
  white-space: nowrap;

  & .scale-item {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 0px 5px;

    &.selected {
      background-color: @item-selection-background-color;
    }
  }

  & > .timeline {
    display: inline-block;
    width: calc(~"100%" - @planner-resource-title-width);

    & > .timeline-large {
      height: 50%;
      background-color: @palette-gray-2;
      line-height: @planner-header-height / 2;

      & > .scale-item::after{
        position: absolute;
        height: 1000px;
        width: 1px;
        left: 0px;
        top: 0px;
        content: " ";
        background-color: rgba(0, 0, 0, 0.10);
      }

    }

    & > .timeline-small {
      height: 50%;
      //background-color: @palette-gray-1;
      line-height: @planner-header-height / 2;

      & > .scale-item::after{
        position: absolute;
        height: 1000px;
        width: 1px;
        left: 0px;
        top: 0px;
        content: " ";
        background-color: rgba(0, 0, 0, 0.07);
      }
    }
  }
}

.planner-scale-title {
   height: 100%;
   float: left;
   padding: 0px @resource-padding-x;
   font-size: 17px;
   color: @palette-gray-6;
   line-height: @planner-header-height;
   width: @planner-resource-title-width;
 }

.planner-grid {
  position: absolute;
  right: 0px;
  width: 100%;
  overflow: hidden;

  & > .resource {
    height: @planner-resource-minheight;
    width: 100%;
    border-bottom: 1px solid @palette-gray-4;

    & > .resource-title {
      line-height: @planner-resource-minheight;
      height: 100%;
      width: @planner-resource-title-width;
      padding: 0px @resource-padding-x;
      float: left;
      .overflow-ellipsis-nowrap;
    }

    &.selected > .resource-title{
      background-color: @item-selection-background-color;
    }

    & > .resource-cells {
      position: relative;
      height: 100%;
      width: calc(~"100%" - @planner-resource-title-width);
      float: left;

      & > .activity {
        position: absolute;
        top: 1px;
        width: 0px;
        height: @planner-resource-minheight - 3px;
        line-height: @planner-resource-minheight - 3px;
        background-color: @palette-cyan-4;
        text-align: center;
        border: 1px solid @palette-gray-4;

        &.selected {
          outline: 2px solid @item-selection-border-color;
        }
      }

      & > .selector {
        position: absolute;
        border-top: 2px solid @item-selection-border-color;
        border-bottom: 2px solid @item-selection-border-color;
        z-index: 2;
        top: 0;

        & > .selector-resize-left {
          background-color: @palette-white;
          border-left: 2px solid @item-selection-border-color;
          border-right: 2px solid @item-selection-border-color;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 6px;
          height: 100%;
          cursor: col-resize;
        }

        & > .selector-resize-right {
          background-color: @palette-white;
          border-left: 2px solid @item-selection-border-color;
          border-right: 2px solid @item-selection-border-color;
          position: absolute;
          top: 0px;
          right: 0px;
          width: 6px;
          height: 100%;
          cursor: col-resize;
        }
      }
    }
  }
}



