<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.scout.service.services">
      <service
            class="org.eclipse.scout.rt.client.officeonline.wopi.WopiRequestInterceptor"
            createImmediately="false">
      </service>
      <service
            class="org.eclipse.scout.rt.client.officeonline.OfficeWebAppsService"
            createImmediately="false">
      </service>
      <service
            class="org.eclipse.scout.rt.client.officeonline.CobaltImplementationService"
            createImmediately="false">
      </service>
   </extension>
</plugin>
