.cell-editor-popup {
  /* make sure it is behind the scrollbar */
  z-index: 0;

  .first& {
    /* Hide the left border of the field */
    margin-left: -1px;
  }
}

.cell-editor-field {
  /* -1px correction is necessary because the table-cell does not have a border but the fields have */
  padding: @table-row-padding-y @table-cell-padding-right - 1px @table-row-padding-y @table-cell-padding-left - 1px;
  border-radius: 0;

  &:focus {
   box-shadow: none;
  }

  .first& {
    /* correction for margin-left -1px */
    padding-left: @table-cell-padding-left;
  }
}

.check-box-field.cell-editor-form-field {
  & > .field {
    /* same padding for left and right, it's by purpose */
    padding-left: @table-cell-padding-left;
    padding-right: @table-cell-padding-left;
    margin: 0;
  }

  & > .field::before {
    position: static;
    margin: 0;
    margin-top: -1px;
  }
}
