.cell-editor-field {
  /* -1px correction is necessary because the table-cell does not have a border but the fields have */
  padding: @table-row-padding-y @table-cell-padding-right - 1px @table-row-padding-y @table-cell-padding-left - 1px;
}

.check-box-field.cell-editor-form-field {
  & > .field > label {
    /* same padding for left and right, it's by purpose */
    padding-left: @table-cell-padding-left;
    padding-right: @table-cell-padding-left;
    margin: 0;
  }

  & > .field > label::before {
    position: static;
    margin: 0;
    margin-top: -1px;
  }
}
