@view-buttons-height: 50px;

/* main element */

.desktop-navigation {
  position: relative;
  height: 100%;
  width: @size-desktop-navigation;
  background-color: @navigation-background-color;
  color: @navigation-color;
}

.view-buttons {
  width: 100%;
  height: @view-buttons-height;
  background-color: @view-button-tab-background-color;
  .font-text-large;

  /* XXX AWE: check 2x */
  .navigation-breadcrumb & {
    height: 2 * @view-buttons-height;
  }
}

.view-button-tab {
  display: inline-block;
  height: @view-buttons-height;
  padding: 10px;
  background-color: @view-button-tab-background-color;
  color: @view-button-tab-color;
  border-right: solid 1px @navigation-background-color;
  white-space: nowrap;
  min-width: 50px;
  vertical-align: top;

  &.selected {
    background-color: @view-button-tab-active-background-color;
    color: @view-button-tab-active-color;
  }

  &:not(.selected) {
    text-align: center;

    & > .icon {

    }
  }

  & > .icon {
    font-size: 20px;
    padding-top: 3px;
  }

  & .view-button-tab-title {
    .font-text-large;
    .overflow-ellipsis-nowrap;
    /*display: none; */

    /*
    .tab-active > & {
      display: block;
    }

    .navigation-breadcrumb & {
      width: 200%;
      text-align: center;
      border-bottom: 1px solid @navigation-color;
    }
    */

    &:hover {
      cursor: pointer;
    }
  }
}

& .view-menu-button {
  float: right;

  &::before {
    .font-icon;
    content: @icon-caret-down;
  }

  &:hover {
  color: @palette-orange-3;
  }
}

.navigation-container {
  width: 100%;
  height: calc(~"100%" - @view-buttons-height);

  /* XXX AWE: check 2x */
  .navigation-breadcrumb & {
    height: calc(~"100%" - 2 * @view-buttons-height);
  }
}
