.notifications {
  position: fixed;
  right: 10px;
  top: 0;
  height: 100%;
  margin-top: 60px;
  width: 0; /* Don't block access to the elements in the background */

/*  overflow: hidden; */
}

@-webkit-keyframes notification-slide-in { .keyframes-notification-slide-in(); }
@keyframes notification-slide-in { .keyframes-notification-slide-in(); }

.keyframes-notification-slide-in() {
  0%   { left: 250px; }
  80%  { left: 15px; }
  100% { left: 0; }
}

.animation-notification-slide-in() {
  #scout.animation-name(notification-slide-in);
  #scout.animation-duration(0.3s);
  #scout.animation-iteration-count(1);
  #scout.animation-timing-function(ease-out);
}

.notification-slide-in {
  .animation-notification-slide-in();
}

.notification {
  position: relative;
  width: 250px;
  float: right;
  border-left: 3px solid @active-color;
  background-color: @palette-white;
  margin-bottom: 20px;
  #scout.drop-shadow();

  &.ok {
    border-left-color: @palette-green-3;
  }

  &.info {
    border-left-color: @palette-blue-4;
  }

  &.warning {
    border-left-color: @palette-orange-3;
  }

  &.error {
    border-left-color: @palette-red-3;
  }

  & > .notification-content {
    border: 1px solid @border-color;
    border-left-width: 0;
    padding: 10px;

    & > .close {
      position: absolute;
      right: 10px;
      top: 10px;
      color: @icon-light-color;

      &:hover {
        color: @icon-color;
        cursor: pointer;
      }
      &::before {
        #scout.font-icon();
        content: @icon-remove;
      }
    }
  }
}

.offline-message > .reconnect-animated::after {
  #scout.animation(rotation 0.9s linear infinite);
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top-color: @palette-gray-9;
  border-left-color: @palette-gray-9;
  width: 14px;
  height: 14px;
  margin-top: -3px;
}
