@view-buttons-height: 50px;

/* main element */

.desktop-navigation {
  position: relative;
  height: 100%;
  width: @size-desktop-navigation;
  background-color: @navigation-background-color;
  color: @navigation-color;
}

.view-buttons {
  width: 100%;
  height: @view-buttons-height;
  background-color: @view-button-tab-background-color;
  .font-text-large;
}

.view-button-tab {
  display: inline-block;
  height: @view-buttons-height;
  padding: 10px;
  background-color: @view-button-tab-background-color;
  color: @view-button-tab-color;
  border-right: solid 1px @navigation-background-color;
  white-space: nowrap;
  min-width: 50px;
  vertical-align: top;

  &.selected {
    background-color: @view-button-tab-active-background-color;
    color: @view-button-tab-active-color;

    & > .view-button-tab-title {
      margin-left: 8px;
    }
  }

  &:not(.selected) {
    text-align: center;
  }

  & > .icon {
    font-size: 20px;
    padding-top: 3px;
  }

  & .view-button-tab-title {
    .font-text-large;
    .overflow-ellipsis-nowrap;

    &:hover {
      cursor: pointer;
    }
  }
}

& .view-menu-button {
  margin-left: 8px;

  &::before {
    .font-icon;
    content: @icon-caret-down;
  }

  &:hover {
    color: @palette-orange-3;
  }
}

.navigation-container {
  width: 100%;
  padding-top: 10px;
  height: calc(~"100%" - @view-buttons-height);
}
