@view-buttons-height: 50px;

/* main element */

.desktop-navigation {
  position: relative;
  height: 100%;
  width: @size-desktop-navigation;
  background-color: @navigation-background-color;
  color: @navigation-color;
}

.view-buttons {
  width: 100%;
  height: @view-buttons-height;
  white-space: nowrap;
  .font-text-large;
}

.view-button-tab {
  display: inline-block;
  height: @view-buttons-height;
  padding: 10px;
  background-color: @panel-background-color;
  color: @view-button-tab-color;
  border-right: solid 1px @border-color;
  white-space: nowrap;
  min-width: 50px;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    background-color: @view-button-tab-active-background-color;
    color: @view-button-tab-active-color;

    & > .view-button-tab-title {
      display: inline-block;
       /* subtract icon-width and gap */
      width: calc(~"100%" - 20px);
      margin-left: 8px;

      &.has-menu {
        /* subtract icon-width and gap and menu-button width and gap */
        width: calc(~"100%" - 48px);
      }
    }

    &.last {
      border-right: none;
    }
  }

  &:not(.selected) {
    text-align: center;
  }

  & > .icon {
    display: inline-block;
    font-size: 20px;
    padding-top: 3px;
  }
}

.view-button-tab-title {
  display: none;
  vertical-align: text-bottom;
  .font-text-large;
  .overflow-ellipsis-nowrap;
}

.view-menu-button {
  display: inline-block;
  margin-left: 8px;

  &::before {
    .font-icon;
    font-size: 17px;
    content: @icon-angle-down;
  }

  &:hover {
    color: @palette-orange-3;
  }
}

.navigation-container {
  width: 100%;
  padding-top: 11px;
  height: calc(~"100%" - @view-buttons-height);
}
