.outline-menu-item {
  padding: 0px 15px 0px 15px;
  line-height: 50px;
  border-bottom: 1px solid @border-color;
  cursor: pointer;
  color: @text-color;
  font-size: 16px;

  &:hover {
    color: @hover-color;
  }

  &.disabled {
    color: @disabled-color;
    cursor: default;
  }

  &.selected {
    color: @active-color;
    cursor: default;
  }

  &:last-child {
    border-bottom: 1px solid transparent;
  }
}
