.search-panel {
  @search-panel-height: 70px;
  height: @search-panel-height;

  & ~ .tree {
    height: calc(~'100%' - 70px);
  }
}

.search-field {
  border: 1px solid @navigation-background-color;
  height: 35px;
  border-radius: 5px;
  margin: 3px 13px 8px 10px;
  background-color: @palette-gray-2;
  width: calc(~'100%' - (13px + 10x));

  &:focus {
    border-color: @navigation-background-color;
    #scout.glow(@palette-white);
  }
}

& .search-status {
  #scout.overflow-ellipsis-nowrap();
  padding-right: 13px;
  text-align: right;
  color: @palette-blue-2;
}

.navigation-breadcrumb & .search-status {
  padding-top: 0px;
  padding-right: 14px;
}
