.view-button-menu {
  padding: 0px 15px 0px 15px;
  line-height: @desktop-taskbar-height - 1px;
  border-top: solid 1px @border-color;
  cursor: pointer;
  color: @text-color;
  font-size: 16px;
  .overflow-ellipsis-nowrap;

  &:first-child {
    border-top-color: transparent;
  }

  &:hover {
    color: @hover-color;
  }

  &.disabled {
    color: @disabled-color;
    cursor: default;
  }

  &.selected {
    border-top: 1px solid @item-selection-border-color;
    background-color: @item-selection-background-color;
    border-color: @item-selection-border-color;
  }

  &.selected + .view-button-menu {
    border-top-color: @item-selection-border-color;
  }

  &.selected:last-child {
    border-color: @item-selection-border-color;
  }

  &:last-child {
    border-bottom: 1px solid @border-color;
  }
}
