@color-messagebox-border: @palette-gray-4;
@messagebox-label-padding: 20px;

.messagebox {
  position: absolute;
  top: 25%;
  left: 50%;
  max-width: 300px;
  .drop-shadow;
  border-top: 5px solid @active-color;
  border-radius: @border-radius;

  &.severity-error {
    border-top-color: @error-border-color;
  }

  /* Helper class used during width calculation - required on very narrow screens (e.g. Word AddIn) */
  &.calc-helper {
    top: 0;
    left: 0;
  }

  &.shown {
    .animation-name(fade-slidein-top);
    .animation-duration(0.5s);
  }
}

.messagebox-content {
  border-left: 1px solid @color-messagebox-border;
  border-right: 1px solid @color-messagebox-border;
  background-color: @control-background-color;
  padding: (26px - @messagebox-label-padding) / 2 26px 26px 26px;
}

.messagebox-label {
  padding-top: @messagebox-label-padding;
  word-wrap: break-word;
}

.messagebox-header {
  font-weight: bold;
}

.messagebox-buttons {

  & button {
    position: relative;
    padding: 12px;
    background-color: @palette-gray-2;
    border: 1px solid @color-messagebox-border;
    cursor: pointer;
    .overflow-ellipsis-nowrap;
  }

  & > button:first-child {
    border-bottom-left-radius: @border-radius;
  }

  & > button:last-child {
    border-bottom-right-radius: @border-radius;
  }

  & > button:first-child ~ button {
    border-left-width: 0px;
  }

  & > button:focus {
    outline: none;
  }

  & > button:focus::before {
    .focus-border;
    .overlay(2px, 2px, -4px, -4px);
    z-index: 1;
  }

  & > button:first-child:focus::before {
    border-bottom-left-radius: @border-radius;
  }

  & > button:last-child:focus::before {
    border-bottom-right-radius: @border-radius;
  }

  .severity-error & > button:focus::before {
    border-color: @error-border-color;
    .glow(@error-glow-color);
  }
}
