/* Widget - Default for all widgets */
* {
  color: #000000;
  background-color: white;
  background-image: none;
  font: 12px Arial, Helvetica, sans-serif;
}

*:disabled {
  color: #CFCFCF;
}

Group-Label, CCombo, Combo, DateTime {
  font: bold 11px Arial, Helvetica, sans-serif;
}

DateTime-Calendar-Navbar, ToolTip-Text {
  font: bold 12px Arial, Helvetica, sans-serif;
}

Widget-ToolTip {
  padding: 1px 3px 2px 3px;
  background-color: #dae9f7;
  border: 1px solid #00589f;
  border-radius: 2px 2px 2px 2px;
  color: #4a4a4a;
  opacity: 1;
  animation: fadeIn 200ms linear, fadeOut 600ms ease-out;
}

Display {
  rwt-shadow-color: #a7a6aa;
  rwt-highlight-color: #ffffff;
  rwt-darkshadow-color: #85878c;
  rwt-lightshadow-color: #dcdfe4;
  rwt-thinborder-color: #aca899;
  rwt-selectionmarker-color: #fec83c;
  rwt-infobackground-color: #ffffff;
/* Rayo no icons in messageboxes */
/*   rwt-error-image: url( theme/img/dialog/error.png ); */
/*   rwt-information-image: url( theme/img/dialog/information.png ); */
/*   rwt-question-image: url( theme/img/dialog/question.png ); */
/*   rwt-warning-image: url( theme/img/dialog/warning.png ); */
/*   rwt-working-image: url( theme/img/dialog/information.png ); */
  rwt-fontlist: 12px Arial, Helvetica, sans-serif;

/*
 background-image: url( theme/img/display/browser_bg.png );
 */
}

/* Control - Default for all controls */
* {
  border: none;
  padding: 0px;
}

*[BORDER] {
  border: 1px solid #a4a4a4;
}

/* Composite - Default for all composites */
Composite {
  padding: 0px;
  opacity: 1;
  background-color: transparent;
  background-image: none;
  border: none;
}

Composite[BORDER] {
  background-color: white;
  background-image: none;
}

/* Browser */
Browser {
  border: none;
}

Browser[BORDER] {
  border: 1px solid #a4a4a4;
}

Button[CHECK], Button[RADIO] {
  color: #000000;
  font: 12px Arial, Helvetica, sans-serif; /* not bold */
}

Button[CHECK]:disabled, Button[RADIO]:disabled {
  color: #2a5a76;
}

Button[CHECK][BORDER], Button[RADIO][BORDER] {
  background-image: none;
}

Button-CheckIcon {
  background-image: url( theme/img/button/check_box.png );
}

Button-FocusIndicator[CHECK] {
/* XXX hstaudacher Its not possible atm tochange the icon when the widget is focused.
   we need to fix this when bug 346501 is fixed.
  background-image: url( theme/img/button/check_box_focused.png );
 */
/* XXX hstaudacher we need to add a border radius when bug 346436 is fixed */
  background-color: transparent;
  border: 1px dotted #b0cce3;
  margin: 3px;
  padding: 0px;
  opacity: 1;
}

Button-FocusIndicator[RADIO] {
/* XXX hstaudacher Its not possible atm tochange the icon when the widget is focused.
   we need to fix this when bug 346501 is fixed.
  background-image: url( theme/img/button/check_box_focused.png );
 */
/* XXX hstaudacher we need to add a border radius when bug 346436 is fixed */
  background-color: transparent;
  border: 1px dotted #b0cce3;
  margin: 3px;
  padding: 0px;
  opacity: 1;
}

Button-CheckIcon:disabled {
  background-image: url( theme/img/button/check_box_disabled.png );
}

Button-CheckIcon:selected {
  background-image: url( theme/img/button/check_box_selected.png );
}

Button-CheckIcon:selected:disabled {
  background-image: url( theme/img/button/check_box_disabled_selected.png );
}

Button-RadioIcon {
  background-image: url( theme/img/button/radio_button.png );
}

Button-RadioIcon:disabled {
  background-image: url( theme/img/button/radio_button_disabled.png );
}

Button-RadioIcon:selected {
  background-image: url( theme/img/button/radio_button_selected.png );
}

/* CCombo */
CCombo {
  border: none;
  background-color: #fcfcfc;
  color: #464a4e;
  border-radius: 2px;
}

CCombo[BORDER] {
  border: 1px solid #c1c1c1;
  border-radius: 2px;
}

CCombo-Button {
  cursor: default;
  background-color: transparent;
  border: none;
  border-radius: 0px 2px 2px 0px;
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 48%, #f0f0f0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #cccccc )
  );
  width: 18px;
}

CCombo-Button:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #e0e0e0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

CCombo-Button-Icon {
  background-image: url( theme/img/ccombo/down.png );
}

CCombo-Button-Icon:hover {
  background-image: url( theme/img/ccombo/down-hover.png );
}

CCombo-Button[FLAT] {
  border: none;
}

CCombo-Button[FLAT]:hover {
  border: 1px outset;
}

CCombo-List {
  border: 1px solid #c1c1c1;
  border-radius: 0px 0px 2px 2px;
}

CCombo-Field {
  padding: 2px 3px;
}

CCombo-FocusIndicator {
  background-color: transparent;
  border: 1px dotted #b8b8b8;
  margin: 1px 19px 1px 1px;
  opacity: 1;
}

/* Combo */
Combo {
  border: 1px solid #c1c1c1;
  background-color: #fcfcfc;
  color: #464a4e;
  border-radius: 2px;
}

Combo[BORDER] {
  border: 1px solid #c1c1c1;
  border-radius: 2px;
}

Combo-Button {
  cursor: default;
  background-color: transparent;
  border: none;
  border-radius: 0px 2px 2px 0px;
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 48%, #f0f0f0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #cccccc )
  );
  width: 18px;
}

Combo-Button:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #e0e0e0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

Combo-Button-Icon {
  background-image: url( theme/img/ccombo/down.png );
}

Combo-Button-Icon:hover {
  background-image: url( theme/img/ccombo/down-hover.png );
}

Combo-List {
  border: 1px solid #c1c1c1;
  border-radius: 0px 0px 2px 2px;
}

Combo-Field {
  padding: 2px 3px;
}

Combo-FocusIndicator {
  background-color: transparent;
  border: 1px dotted #b8b8b8;
  margin: 1px 19px 1px 1px;
  opacity: 1;
}

/* CoolBar */
CoolBar {
  background-image: none;
}

CoolItem-Handle {
  border: 1px outset;
  width: 4px;
}

/* CTabFolder */
CTabFolder {
  border-color: #bbcddb;
  border-radius: 8px 8px 0px 0px;
}

CTabItem {
  color: #000000;
  background-color: white;
  background-image: none;
  padding: 2px 4px;
  spacing: 4px;
}

CTabItem:selected {
  color: white;
  background-color: #ffffff;
}

/* Do not gray out disabled CTabItems, this is SWT behavior */
CTabItem:disabled {
  color: black;
}

CTabFolder-DropDownButton-Icon {
  background-image: url( theme/img/ctabfolder/ctabfolder-dropdown.png );
}

CTabFolder-DropDownButton-Icon:hover {
  background-image: url( theme/img/ctabfolder/ctabfolder-dropdown-hover.png );
}

/* DateTime */
DateTime {
  color: #464a4e;
  background-color: #fcfcfc;
  border: none;
  padding: 1px 2px;
}

DateTime-Field {
  padding: 2px 3px;
}

DateTime[BORDER] {
  border: 1px solid #a4a4a4;
  border-radius: 2px 2px 2px 2px;
}

DateTime-Field:selected, DateTime-Calendar-Day:selected {
  background-color: #D2D2D2;
  color: #4a4a4a;
}

DateTime-Calendar-Day:selected:hover {
  background-color: #00569c;
  color: white;
}

DateTime-Calendar-Day:selected:unfocused {
  background-color: #c0c0c0;
}

DateTime-Calendar-Day:otherMonth {
  background-color: transparent;
  color: #808080;
}

DateTime-Calendar-Day:hover {
  background-color: #d9e3f3;
}

DateTime-Calendar-Navbar {
  border: none;
  background-color: #00569c;
  color: white;
}

DateTime-Calendar-PreviousMonthButton {
  background-image: url( theme/img/datetime/left-month.png );
  cursor: default;
}

DateTime-Calendar-PreviousMonthButton:hover {
  background-image: url( theme/img/datetime/left-month-hover.png );
}

DateTime-Calendar-NextMonthButton {
  background-image: url( theme/img/calendar/nextMonth.png );
  cursor: default;
}

DateTime-Calendar-NextMonthButton:hover {
  background-image: url( theme/img/calendar/nextMonth-hover.png );
}

DateTime-Calendar-PreviousYearButton {
  background-image: url( theme/img/calendar/lastYear.png );
  cursor: default;
}

DateTime-Calendar-PreviousYearButton:hover {
  background-image: url( theme/img/calendar/lastYear-hover.png );
}

DateTime-Calendar-NextYearButton {
  background-image: url( theme/img/calendar/nextYear.png );
  cursor: default;
}

DateTime-Calendar-NextYearButton:hover {
  background-image: url( theme/img/calendar/nextYear-hover.png );
}

DateTime-UpButton {
  background-color: transparent;
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    to( #e0e0e0 )
  );
  width: 18px;
  border: none;
  border-radius: 0px 2px 0px 0px;
  cursor: default;
}

DateTime-UpButton:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 52%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

DateTime-UpButton-Icon {
  background-image: url( theme/img/spinner/up.png );
}

DateTime-UpButton-Icon:hover {
  background-image: url( theme/img/spinner/up-hover.png );
}

DateTime-DownButton {
  background-color: transparent;
  background-image: gradient(
    linear, left top, left bottom,
    from( #e0e0e0 ),
    to( #ffffff )
  );
  width: 18px;
  border: none;
  border-radius: 0px 0px 2px 0px;
  cursor: default;
}

DateTime-DownButton:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #b0b0b0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #ffffff )
  );
}

DateTime-DropDownButton {
  cursor: default;
  background-color: transparent;
  border: none;
  border-radius: 0px 2px 2px 0px;
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 48%, #f0f0f0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #cccccc )
  );
  width: 18px;
}

DateTime-DropDownButton-Icon {
  background-image: url( theme/img/spinner/down.png );
}

DateTime-DropDownButton-Icon:hover {
  background-image: url( theme/img/spinner/down-hover.png );
}

DateTime-DownButton-Icon {
  background-image: url( theme/img/spinner/down.png );
}

DateTime-DownButton-Icon:hover {
  background-image: url( theme/img/spinner/down-hover.png );
}

DateTime-DropDownCalendar {
  border: 1px #a7a6aa;
}

/* ExpandBar */
ExpandBar {
  color: #4a4a4a;
  background-color: white;
}

ExpandBar[BORDER] {
  border: 1px solid #C1C1C1;
}

ExpandItem {
  border: 1px solid #c1c1c1;
}

ExpandItem-Header {
  border: none;
  cursor: pointer;
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 55%, #e0e0e0 ),
    to( #f0f0f0 )
  );
}

ExpandItem-Header:disabled {
  cursor: default;
}

ExpandItem-Button {
  background-image: url( theme/img/expanditem/expanditem-expand.png );
}

ExpandItem-Button:hover {
  background-image: url( theme/img/expanditem/expanditem-expand-hover.png );
}

ExpandItem-Button:expanded {
  background-image: url( theme/img/expanditem/expanditem-collapse.png );
}

ExpandItem-Button:expanded:hover {
  background-image: url( theme/img/expanditem/expanditem-collapse-hover.png );
}

/* List */
List {
  background-color: white;
  border: none;
  color: #4a4a4a;
}

List[BORDER] {
  border: 1px solid #a4a4a4;
}

List-Item {
  background-color: transparent;
  color: #4a4a4a;
  background-image: none;
}

List-Item:hover {
  background-color: #f1f8fe;
}

List-Item:selected {
  color: #4a4a4a;
  background-color: #e5f3fe;
}

List-Item:selected:unfocused {
  color: #4a4a4a;
  background-color: #e5f3fe;
}

/* Menu */
Menu {
  background-image: none;
  padding: 4px 0px 4px 0px;
  opacity: 1;
  animation: none;
  color: #000000;
  background-color: #fafdff;
  border: 1px solid #bbcddb;
  border-radius: 0px;
}

MenuItem {
  background-image: none;
  color: black;
  background-color: transparent;
  opacity: 1;
  padding: 7px 6px 7px 6px;
}

MenuItem[SEPARATOR] {
  color: #eaf1f6;
  padding: 2px 0px;
}

MenuItem:hover {
  background-color: #e5f3fe;
  color: #000000;
}

MenuItem-CheckIcon {
  background-image: url( theme/img/menu/checkbox.gif );
}

MenuItem-RadioIcon {
  background-image: url( theme/img/menu/radiobutton.gif );
}

MenuItem-CascadeIcon {
  background-image: url( theme/img/menu/arrow.gif );
}

/* ProgressBar */
ProgressBar {
  background-color: white;
  background-image: none;
  border: none;
  padding: 0px 0px;
  border-radius: 5px;
}

ProgressBar-Indicator {
  background-color: #67A8CE;
  background-image: none;
  border: none;
  opacity: 1;
}

ProgressBar-Indicator:paused {
  background-color: #ebebeb;
}

ProgressBar-Indicator:error {
  background-color: #cb2020;
}

/* Sash */
Sash {
  border: none;
  background-image: none;
  background-color: transparent;
}

Sash[BORDER] {
/* XXX hstaudacher we need to set the border-radius when bug 346620 is fixed */
  border: 1px solid #bbcddb;
}

Sash-Handle {
  background-image: none;
}

/* Scale */
Scale {
  background-color: white;
}

Scale-Thumb {
  background-color: #00589f;
}

/* Slider */
Slider {
  border: none;
  background-color: #f3f3f4;
}

/* Thumb */
Slider-Thumb {
  background-color: transparent;
  border: 1px solid #a4a4a4;
  border-radius: 2px 2px 2px 2px;
  background-image: none;
}

Slider-Thumb[HORIZONTAL] {
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 48%, #f0f0f0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #cccccc )
  );
}

Slider-Thumb[HORIZONTAL]:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #e0e0e0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

Slider-Thumb[VERTICAL] {
  background-image: gradient(
    linear, left top, right top,
    from( #ffffff ),
    color-stop( 48%, #f0f0f0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #cccccc )
  );
}

Slider-Thumb[VERTICAL]:pressed {
  background-image: gradient(
    linear, left top, right top,
    from( #e0e0e0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

/* Buttons */
Slider-UpButton, Slider-DownButton {
  background-color: transparent;
  border: 1px solid #a4a4a4;
  cursor: default;
}

Slider-UpButton[HORIZONTAL], Slider-DownButton[HORIZONTAL] {
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 48%, #f0f0f0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #cccccc )
  );
}

Slider-UpButton[VERTICAL], Slider-DownButton[VERTICAL] {
  background-image: gradient(
    linear, left top, right top,
    from( #ffffff ),
    color-stop( 48%, #f0f0f0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #cccccc )
  );
}

Slider-UpButton[HORIZONTAL]:pressed, Slider-DownButton[HORIZONTAL]:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #e0e0e0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

Slider-UpButton[VERTICAL]:pressed, Slider-DownButton[VERTICAL]:pressed {
  background-image: gradient(
    linear, left top, right top,
    from( #e0e0e0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

/* Rounded Borders */
Slider-UpButton[HORIZONTAL] {
  border-radius: 0px 2px 2px 0px;
}

Slider-UpButton[VERTICAL] {
  border-radius: 0px 0px 2px 2px;
}

Slider-DownButton[HORIZONTAL] {
  border-radius: 2px 0px 0px 2px;
}

Slider-DownButton[VERTICAL] {
  border-radius: 2px 2px 0px 0px;
}

/* Button Icons */
Slider-UpButton-Icon[HORIZONTAL] {
  background-image: url( theme/img/slider/right.png );
}

Slider-UpButton-Icon[HORIZONTAL]:hover {
  background-image: url( theme/img/slider/right-hover.png );
}

Slider-UpButton-Icon[VERTICAL] {
  background-image: url( theme/img/spinner/down.png );
}

Slider-UpButton-Icon[VERTICAL]:hover {
  background-image: url( theme/img/spinner/down-hover.png );
}

Slider-DownButton-Icon[HORIZONTAL] {
  background-image: url( theme/img/slider/left.png );
}

Slider-DownButton-Icon[HORIZONTAL]:hover {
  background-image: url( theme/img/slider/left-hover.png );
}

Slider-DownButton-Icon[VERTICAL] {
  background-image: url( theme/img/spinner/up.png );
}

Slider-DownButton-Icon[VERTICAL]:hover {
  background-image: url( theme/img/spinner/up-hover.png );
}

/* Spinner */
Spinner {
  border: none;
  padding: 1px 2px;
  color: #464a4e;
  background-color: #fcfcfc;
}

Spinner-Field {
  padding: 2px 3px;
}

Spinner[BORDER] {
  border: 1px solid #a4a4a4;
  border-radius: 2px 2px 2px 2px;
}

Spinner-UpButton {
  background-color: transparent;
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    to( #e0e0e0 )
  );
  width: 18px;
  border: none;
  border-radius: 0px 2px 0px 0px;
  cursor: default;
}

Spinner-UpButton:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 52%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

Spinner-UpButton-Icon {
  background-image: url( theme/img/spinner/up.png );
}

Spinner-UpButton-Icon:hover {
  background-image: url( theme/img/spinner/up-hover.png );
}

Spinner-DownButton {
  background-color: transparent;
  background-image: gradient(
    linear, left top, left bottom,
    from( #e0e0e0 ),
    to( #ffffff )
  );
  width: 18px;
  border: none;
  border-radius: 0px 0px 2px 0px;
  cursor: default;
}

Spinner-DownButton:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #b0b0b0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #ffffff )
  );
}

Spinner-DownButton-Icon {
  background-image: url( theme/img/spinner/down.png );
}

Spinner-DownButton-Icon:hover {
  background-image: url( theme/img/spinner/down-hover.png );
}

/* TabFolder */
TabItem {
  background-color: white;
  border-top-color: white;
  border-bottom-color: white;
  background-image: none;
}

TabItem:selected {
  background-color: white;
  border-top-color: #00589f;
  border-bottom-color: #00589f;
  background-image: none;
}

TabItem:hover {
  background-color: #dae9f7;
  background-image: none;
}

/* ToolBar */
ToolBar {
  color: black;
  padding: 0px;
  spacing: 0px;
  background-color: #ffffff;
  background-image: none;
  border: none;
  opacity: 1;
}

ToolBar[BORDER] {
  border: 1px solid #a4a4a4;
  border-radius: 2px;
}

ToolItem {
  color: inherit;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0px;
  padding: 2px 3px;
  spacing: 4px;
  opacity: 1;
  animation: none;
}

ToolItem[FLAT] {
  border: none;
  padding: 3px 4px;
}

ToolItem:hover {
  background-color: white;
  border: 1px solid #a4a4a4;
  border-radius: 2px 2px 2px 2px;
  padding: 2px 3px;
}

ToolItem:pressed, ToolItem:selected {
  border: 1px solid #a4a4a4;
  border-radius: 2px;
  padding: 3px 2px 1px 4px;
  background-image: url( theme/img/dotted_white.gif );
}

ToolItem-DropDownIcon {
  background-image: url( theme/img/arrows/down.gif );
  border: none;
}

ToolItem-DropDownIcon:hover {
  border: 1px inset;
}

ToolItem-Separator {
  width: 4px;
}

Composite.viewsArea {
  background-color: #FFFFFF;
  padding: 3px 3px 3px 3px;
}

Composite.viewPart {
  background-color: transparent;
  border: 1px solid #bbcddb;
  border-radius: 8px 8px 0px 0px;
}

Composite.viewPartNoRadius {
  background-color: transparent;
  border: 1px solid #bbcddb;
  border-radius: 0px 0px 0px 0px;
}

Composite.form {
  background-color: transparent;
/* XXX hstaudacher We need to add the box-shadow when bug 346645 is fixed */
  padding: 0px 0px 0px 0px;
}

Composite.listbox {
  background-color: white;
  border: 1px solid #95b7c1;
  border-radius: 4px;
  padding: 2px;
}

Composite.listboxDisabled {
  background-color: white;
  border: 1px solid #c9dadf;
  border-radius: 4px;
  padding: 2px;
}

Composite.formbarContainer {
  background-color: #DDEBF4;
}

Button.formButton {
  background-image: none;
  color: #000000;
  padding: 6px 15px;
}

Button.formButton:selected, Button.formButton:selected:hover,
Button.formButton:pressed, Button.formButton:hover {
  background-image: none;
}

Button.formButton-active {
  background-image: none;
  background-color: #F1F7FB;
  border-radius: 0px 0px 5px 5px;
  color: #000000;
/*   font: bold 12px Arial, Helvetica, sans-serif; */
  padding: 0px 15px;
}

Button-FocusIndicator.formButton-active {
  border: none;
}

Button.formButton-active:pressed, Button.formButton-active:selected,
Button.formButton-active:selected:hover, Button.formButton-active:hover {
  background-image: none;
}
