<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scout.service.services">
      <service
            class="org.eclipse.scout.rt.client.mobile.services.TextProviderService"
            createImmediately="false"
            factory="org.eclipse.scout.rt.client.mobile.services.MobileServiceFactory"
            ranking="-25">
      </service>
      <service
            class="org.eclipse.scout.rt.client.mobile.navigation.BreadCrumbsNavigationService"
            createImmediately="false"
            factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"
            ranking="-1000">
      </service>
      <service
            class="org.eclipse.scout.rt.client.mobile.transformation.DeviceTransformationService"
            createImmediately="false"
            factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"
            ranking="-1000">
      </service>
   </extension>

</plugin>
