<?xml version="1.0" encoding="utf-8" standalone="no"?>
<?pde version="3.6"?>
<target name="only-scout-rt.target" sequenceNumber="10">
  <locations>
    <!-- Scout Nightly update site containing only RT features -->
    <location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository id="scout_nightly" location="http://download.eclipse.org/scout/nightly"/>

      <unit id="org.eclipse.scout.rt.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.scout.rt.testing.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.scout.rt.spec.source.feature.group" version="0.0.0"/>

      <unit id="org.eclipse.scout.rt.rap.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.scout.rt.rap.testing.source.feature.group" version="0.0.0"/>
    </location>
  </locations>
</target>
