<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="only-scout-rt.target" sequenceNumber="1438759001">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.scout.rt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.scout.rt.testing.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.scout.rt.spec.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.scout.rt.rap.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.scout.rt.rap.testing.feature.group" version="0.0.0"/>
      <repository id="scout_nightly_5.0" location="http://download.eclipse.org/scout/nightly/5.0/"/>
    </location>
  </locations>
</target>
