.table-control-content-graph {
  padding: @table-control-content-padding;
}

.graph-container {
  width: 100%;
  height: 100%;
  overflow:visible;
}

.graph-node {
  stroke: @palette-white;
  stroke-width: 2px;
  cursor: pointer;

  &.center { fill: @highlight-color; }
  &.internal { fill: @palette-gray-4; }
  &.person { fill:@palette-gray-5; }
  &.department { fill: @palette-blue-2 ; }
  &.company { fill: @palette-orange-2; }
}

.graph-node-text {
  fill: @palette-white;
  text-anchor: middle;
  dominant-baseline: central;

  &:hover {
    cursor: pointer;
  }
}

.graph-link {
  stroke: @palette-gray-4;
  stroke-width: 2;
}

.graph-link-text {
  fill:@palette-gray-5;
  text-anchor: middle;
  dy: 20px;
}
