.control-content-map {
  padding: @table-control-content-padding;
}

.map-container {
  width: 100%;
  height: 100%;
}

.map-item {
  fill: @map-item-color;
  cursor: pointer;
  stroke-width: 100;
  stroke: @palette-white;

  &.has-data {
    fill: @map-item-data-color;
  }

  &:hover {
    fill: @map-item-active-color;
  }

  &.selected {
    fill: @map-item-active-color;
  }
}

