.control {
  position: relative;
  display: inline-block;
  padding: 0 @table-control-padding;
  cursor: pointer;
  height: @table-footer-height;
  line-height: @table-footer-height;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  /* draw over border-top of .table-footer */
  margin-top: -1px;
  padding-top: 1px;

  & > .font-icon {
    font-size: 22px;
    color: @icon-light-color;
  }

  &:hover > .font-icon {
    color: @hover-color;
  }

  &.disabled:hover,
  &.disabled > .font-icon {
    cursor: default;
    color: @icon-disabled-color;
  }

  &.selected > .font-icon {
    color: @active-color;
  }

  &.selected {
    border-left-color: @border-color;
    border-right-color: @border-color;
    background-color: @background-color;

    &:first-child {
      border-left-color: transparent;
    }
  }
}

.tooltip.table-control {
  margin-top: 10px;
}
