/* -------------------------------- */
/* Default color palette definition */
/* -------------------------------- */

@palette-black: #000;
@palette-white: #fff;

@palette-red-0: #FEE0E0;
@palette-red-1: #FECAC8;
@palette-red-2: #FEB1AB;
@palette-red-3: #FF6060;
@palette-red-4: #DF2632;

@palette-green-0: #DDF4EA;
@palette-green-1: #B6ECD3;
@palette-green-2: #86D9B2;
@palette-green-3: #0DAF66;
@palette-green-4: #1F7C5D;

@palette-blue-0: #E9F0F6;
@palette-blue-1: #D2DDE6;
@palette-blue-2: #BAC9D5;
@palette-blue-3: #8CA1B1;
@palette-blue-4: #2B73B3;
@palette-blue-5: #576B7C;
@palette-blue-6: #465A6A;
@palette-blue-7: #2F3C45;

@palette-gray-0: #FEFEFE;
@palette-gray-1: #F6F6F6;
@palette-gray-2: #EFEFEF;
@palette-gray-3: #DDDDDD;
@palette-gray-4: #CCCCCC;
@palette-gray-5: #999999;
@palette-gray-6: #666666;
@palette-gray-7: #5C5C5C;
@palette-gray-8: #4C4C4C;
@palette-gray-9: #333333;

@palette-cyan-0: #DDFFF9;
@palette-cyan-1: #BAF3E8;
@palette-cyan-2: #93EDDC;
@palette-cyan-3: #3EE1C3;
@palette-cyan-4: #24B499;

@palette-orange-0: #FCF0E5;
@palette-orange-1: #FEE6C0;
@palette-orange-2: #FFDB9D;
@palette-orange-3: #FDAD4F;
@palette-orange-4: #FE9915;

/* ------------- */
/* Global colors */
/* ------------- */

@active-color: @palette-blue-6;
@active-inverted-color: @palette-white;
@active-inverted-background-color: @palette-blue-3;
@background-color: @palette-gray-0;
@border-color: @palette-gray-4;
@control-color: @text-color;
@control-background-color: @palette-white;
@control-disabled-color: @text-disabled-color;
@control-disabled-background-color: @palette-gray-2;
@disabled-color: @palette-gray-5;
@error-color: @palette-red-3;
@error-background-color: @palette-red-0;
@error-border-color: @palette-red-3;
@error-glow-color: @palette-red-3;
@focus-color: @palette-blue-6;
@focus-border-color: @palette-blue-6;
@focus-glow-color: fade(@focus-border-color, 50%);
@highlight-color: @palette-orange-4;
@hover-color: @palette-blue-6;
@icon-color: @palette-gray-6;
@icon-inverted-color: @palette-white;
@icon-light-color: @palette-gray-5;
@icon-disabled-color: @palette-gray-4;
@item-selection-background-color: @palette-blue-0;
@item-selection-border-color: @palette-blue-6;
@item-selection-nonfocus-background-color: @palette-gray-1;
@item-selection-nonfocus-border-color: @palette-gray-4;
@item-selection-disabled-background-color: @palette-gray-3;
@item-selection-disabled-border-color: @palette-gray-5;
@text-color: @palette-gray-9;
@text-disabled-color: @palette-gray-6;
@text-selection-color: @palette-white;
@text-selection-background-color: @palette-blue-6;
@text-selection-disabled-color: @palette-gray-2;
@text-selection-disabled-background-color: @palette-gray-6;
@title-color: @palette-gray-9;

/* ------------------------- */
/* Component specific colors */
/* ------------------------- */

@applink-color: @palette-blue-6;
@button-background-color: @palette-gray-2;
@calendar-day-color: @palette-gray-6;
@calendar-out-color: @palette-gray-4;
@calendar-weekend-color: @palette-blue-6;
@calendar-weekend-out-color: @palette-blue-2;
@calendar-mode-active-text-color: @palette-blue-7;
@calendar-week-axis-color: @palette-gray-5;
@calendar-out-background-color: none;
@calendar-weekend-out-background-color: none;
@chart-axis-line-color: @palette-gray-4;
@chart-axis-text-color: @palette-gray-6;
@chart-data-color: @palette-blue-3;
@chart-data-color-one: @palette-blue-7;
@chart-data-color-two: @palette-blue-6;
@chart-data-color-three: @palette-blue-5;
@chart-data-color-four: @palette-blue-3;
@chart-data-color-five: @palette-blue-0;
@chart-data-color-one-inverted: @palette-blue-7;
@chart-data-color-two-inverted: @palette-blue-5;
@chart-data-color-three-inverted: @palette-blue-3;
@chart-data-color-four-inverted: @palette-blue-2;
@chart-data-color-five-inverted: @palette-blue-0;
@chart-data-active-color: @palette-blue-7;
@chart-data-text-color: @palette-white;
@chart-empty-color: @palette-gray-4;
@chart-type-color: @palette-gray-4;
@chart-selected-color: @active-inverted-background-color;
@checkbox-disabled-color: @palette-gray-5;
@group-box-title-border-color: @border-color;
@map-item-color: @chart-empty-color;
@map-item-active-color: @chart-data-active-color;
@map-item-data-color: @chart-data-color;
@default-button-color: @palette-white;
@default-button-background-color: @palette-blue-6;
@default-button-hover-background-color: @palette-blue-5;
@navigation-color: @palette-gray-2;
@navigation-background-color: @palette-blue-7;
@outline-selection-color: @text-color;
@outline-selection-background-color: @background-color;
@outline-group-background-color: @palette-blue-6;
@outline-control-button-background-color: @palette-blue-6;
@outline-in-background-selection-background-color: @palette-blue-5;
@panel-background-color: @palette-gray-2;
@planner-timeline-background-color: @panel-background-color;
@planner-mode-active-text-color: @palette-blue-7;
@popup-border-color: @palette-blue-6;
@scrollbar-thumb-color: @palette-gray-5;
@scrollbar-thumb-inverted-color: @palette-gray-4;
@table-header-background-color: @panel-background-color;
@table-header-menu-background-color: @control-background-color;
@table-header-cmd-border-color: @border-color;
@table-header-cmd-active-color: @active-inverted-color;
@table-header-cmd-active-background-color: @active-inverted-background-color;
@table-header-cmd-active-border-color: @active-inverted-background-color;
@table-aggregate-cell-selection-color: @palette-blue-4;
@table-aggregate-row-background-color: @palette-gray-1;
@table-info-color: @palette-gray-5;
@table-info-hover-color: @palette-gray-6;
@table-info-warning-color: @palette-blue-4;
@table-info-warning-hover-color: @palette-blue-6;
@table-info-error-color: @error-color;
@table-info-error-hover-color: @palette-red-4;
@table-row-border-color: @border-color;
@text-field-icon-color: @palette-gray-5;
@text-field-icon-error-color: @error-border-color;
@text-field-icon-focus-color: @focus-border-color;
@text-field-placeholder-opacity: 0.54; /* see https://developer.mozilla.org/de/docs/Web/CSS/::-moz-placeholder */
@tooltip-color: @palette-gray-9;
@tooltip-background-color: @palette-gray-2;
@tooltip-border-color: @palette-gray-5;
@tooltip-info-color: @tooltip-color;
@tooltip-info-background-color: @tooltip-background-color;
@tooltip-info-border-color: @tooltip-border-color;
@tooltip-warning-color: @tooltip-color;
@tooltip-warning-background-color: @palette-blue-0;
@tooltip-warning-border-color: @palette-blue-3;
@view-button-tab-color: @palette-gray-7;
@view-button-tab-active-background-color: @navigation-background-color;
@view-button-tab-active-color: @active-inverted-color;
