/* ------------------------ */
/* Color Palette Definition */
/* ------------------------ */
@palette-black: #000;
@palette-white: #fff;

@palette-red-0: #FEE0E0;
@palette-red-1: #FECAC8;
@palette-red-2: #FEB1AB;
@palette-red-3: #FF6060;
@palette-red-4: #DF2632;

@palette-green-0: #DDF4EA;
@palette-green-1: #B6ECD3;
@palette-green-2: #86D9B2;
@palette-green-3: #0DAF66;
@palette-green-4: #1F7C5D;

@palette-blue-0: #ECF3F7;
@palette-blue-1: #C8E4F2;
@palette-blue-2: #B0DAEE;
@palette-blue-3: #389DB6;
@palette-blue-4: #4D98AB;
@palette-blue-5: #0082A1;
@palette-blue-6: #006C86;
@palette-blue-7: #005164;

@palette-gray-0: #FEFEFE;
@palette-gray-1: #F6F6F6;
@palette-gray-2: #EFEFEF;
@palette-gray-3: #DDDDDD;
@palette-gray-4: #CCCCCC;
@palette-gray-5: #999999;
@palette-gray-6: #666666;
@palette-gray-7: #5C5C5C;
@palette-gray-8: #4C4C4C;
@palette-gray-9: #333333;

@palette-cyan-0: #DDFFF9;
@palette-cyan-1: #BAF3E8;
@palette-cyan-2: #93EDDC;
@palette-cyan-3: #3EE1C3;
@palette-cyan-4: #24B499;

@palette-orange-0: #FCF0E5;
@palette-orange-1: #FEE6C0;
@palette-orange-2: #FFDB9D;
@palette-orange-3: #FDAD4F;
@palette-orange-4: #FE9915;


/* ------------------------ */
/* Global Colors      */
/* ------------------------ */

@active-color: @palette-blue-6;
@active-inverted-color: @palette-white;
@active-inverted-background-color: @palette-blue-3;
@background-color: @palette-gray-0;
@border-color: @palette-gray-4;
@control-color: @text-color;
@control-background-color: @palette-white;
@control-disabled-color: @text-disabled-color;
@control-disabled-background-color: @palette-gray-2;
@disabled-color: @palette-gray-5;
@error-color: @palette-red-3;
@error-background-color: @palette-red-0;
@error-border-color: @palette-red-3;
@error-glow-color: @palette-red-3;
@focus-color: @palette-blue-6;
@focus-border-color: @palette-blue-6;
@focus-glow-color: fade(@focus-border-color, 50%);
@highlight-color: @palette-orange-4;
@hover-color: @palette-blue-6;
@icon-color: @palette-gray-6;
@icon-inverted-color: @palette-white;
@icon-light-color: @palette-gray-5;
@icon-disabled-color: @palette-gray-4;
@item-selection-background-color: @palette-blue-0;
@item-selection-border-color: @palette-blue-6;
@item-selection-nonfocus-background-color: @palette-gray-1;
@item-selection-nonfocus-border-color: @palette-gray-4;
@item-selection-disabled-background-color: @palette-gray-3;
@item-selection-disabled-border-color: @palette-gray-5;
@text-color: @palette-gray-9;
@text-disabled-color: @palette-gray-6;
@text-selection-color: @palette-white;
@text-selection-background-color: @palette-blue-6;
@text-selection-disabled-color: @palette-gray-2;
@text-selection-disabled-background-color: @palette-gray-6;
@title-color: @palette-gray-9;

/* --------------------------- */
/* Component Specific Colors   */
/* --------------------------- */

@applink-color: @palette-blue-6;
@button-background-color: @palette-gray-2;
@chart-axis-line-color: @palette-gray-4;
@chart-axis-text-color: @palette-gray-6;
@chart-data-color: @palette-blue-3;
@chart-data-active-color: @palette-blue-6;
@chart-empty-color: @palette-gray-4;
@chart-type-color: @palette-gray-4;
@chart-selected-color: @active-inverted-background-color;
@default-button-color: @palette-white;
@default-button-background-color: @palette-blue-6;
@default-button-hover-background-color: @palette-blue-3;
@navigation-color: @palette-gray-2;
@navigation-background-color: @palette-blue-7;
@outline-selection-color: @text-color;
@outline-selection-background-color: @background-color;
@outline-group-background-color: @palette-blue-6;
@panel-background-color: @palette-gray-2;
@popup-border-color: @palette-blue-6;
@table-header-menu-background-color: @control-background-color;
@table-header-cmd-border-color: @border-color;
@table-header-cmd-active-color: @active-inverted-color;
@table-header-cmd-active-background-color: @active-inverted-background-color;
@table-header-cmd-active-border-color: @active-inverted-background-color;
@table-info-color: @palette-gray-5;
@table-info-active-color: @palette-gray-6;
@text-field-icon-color: @palette-gray-5;
@text-field-icon-error-color: @error-border-color;
@text-field-icon-focus-color: @focus-border-color;
@tooltip-color: @palette-gray-9;
@tooltip-background-color: @palette-orange-0;
@tooltip-border-color: @palette-orange-3;
@view-button-tab-color: @palette-gray-7;
@view-button-tab-active-background-color: @navigation-background-color;
@view-button-tab-active-color: @active-inverted-color;

