/* Font face definition for custom icon font:

See GIT history for font-face definitions. Some how it wasn't possible
to produce a consistent look on all browsers with the font-face definition.
Simply using font-family works better and is more reliable. However, we still
could use 'Open Sans' in the font-family (when it's installed on the client
system) and fall back to Arial otherwise, without downloading a WOFF file.

Try these to switch between fonts:

@defaultFont: 'Open Sans', OpenSans, Arial, sans-serif;
@defaultFont: Arial, sans-serif;
 */
@font-default-family: Arial, sans-serif;
@font-weight-normal: normal;
@font-weight-bold: bold;

@font-size-small: 11px;
@font-size-normal: 13px;
@font-size-plus: 14px;
@font-size-large: 16px;
@font-size-extra-large: 32px;

@font-face {
  font-family: scoutIcons;
  font-weight: normal;
  src: url('scoutIcons.woff') format('woff');
}
