@size-desktop-navigation: 290px;
@desktop-taskbar-height: 51px;
@bench-margin-x: 20px;

@text-field-padding: 10px;
@button-padding: 7px;

@border-radius: 3px;
/* also defined in scout.HtmlEnvironment (graphics.js) */
@logical-grid-height: 30px;
@mandatory-indicator-width: 8px;
@borderless-field-padding-y: 7px;

@tree-node-control-size: 15px;
@outline-node-control-size: 20px;
@group-box-control-size: 20px;

@tree-node-control-checkbox-size: 20px + @tree-node-control-size;
@tree-node-checkbox-size: 20px;
