.rich-text-color(@color) {
  width: 26px;
  height: 26px;
  padding: 2px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid transparent;
  background-clip: content-box;
  background-color: @color;

  &:hover {
    border: 1px solid @hover-color;
  }
}

.rich-text-icon(@icon) {
  &::before {
    position: relative;
    left: 1px;
    .font-icon;
    font-size: 22px;
    color: @palette-gray-6;
    content: @icon;
  }
}

.rich-text-editor-content {
  overflow: hidden;
  margin-right: 124px;
  height: 100%;

  & .scrollbar {
    right: 124px;
    z-index: 10;
  }
}

.rich-text-editor-content {
  counter-reset: hr;
  line-height: 20px;
  white-space: pre-wrap;
  padding: 5px 5px 5px @text-field-padding;
  color: @text-color;
  background-color: @control-background-color;
  -moz-user-select: text;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  & * {
    line-height: 20px;
    -moz-user-select: text;
  }

  &::selection, & *::selection{
    .text-selection();
  }

  &::-moz-selection, & *::-moz-selection {
    .text-selection();
  }
}

.rich-text-editor {
  width: 100%;
  border: 1px solid @border-color;
  border-radius: @border-radius;

  &.focused{
    .focus-border;
  }

  & ol {
    counter-reset:li;
    margin: 0;
    padding-left: 15px;
  }

  & ol > li {
    position: relative;
    list-style: none;

    &::before {
      content: counter(li) ".";
      counter-increment: li;
      position :absolute;
      left: -15px;
    }
  }

  & ul {
    margin: 0;
    padding-left: 15px;
  }

  & ul > li {
    position: relative;
    list-style: none;

    &::before {
      .font-icon;
      content: @icon-angle-double-right;
      position :absolute;
      left: -15px;
    }
  }

  & .nice-header {
    background-color: red;
  }

  & .rich-text-bar {
    position: absolute;
    top: 0;
    background-color: @palette-gray-3;
    border: 1px solid transparent;
    border-left: 1px solid @border-color;
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
    top: 1px;
    right: 1px;
    height: ~"calc(100% - 2px)";
  }

  & .rich-text-bar-group {
    display: block;
    border-bottom: 1px solid @border-color;
    padding: 0 5px;
  }

  & .rich-text-command {
    display: inline-block;
    position: relative;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: @hover-color;
    }

    &:hover::before {
      color: @hover-color;
    }
  }

  & .rich-text-bar-bold {
    font-size: 20px;
    font-weight: 900;
  }

  & .rich-text-bar-underline {
    font-size: 20px;
    text-decoration: underline;
  }

  & .rich-text-bar-strike {
    font-size: 20px;
    text-decoration: line-through;
  }

  & .rich-text-bar-white {
    .rich-text-color(@palette-white);
  }

  & .rich-text-bar-yellow {
    .rich-text-color(@palette-orange-3);
  }

  & .rich-text-bar-green {
    .rich-text-color(@palette-green-4);
  }

  & .rich-text-bar-plain {
    .rich-text-icon(@icon-menu);
  }

  & .rich-text-bar-bullet {
    .rich-text-icon(@icon-list-ul);
  }

  & .rich-text-bar-number {
    .rich-text-icon(@icon-list-ol);
  }
}
