.form-field {
  box-sizing:border-box;
  white-space:nowrap;
  border-spacing:0;
  position:absolute;
}

.form-field > label {
  position:absolute;
  text-overflow:ellipsis;
  overflow:hidden;
  max-width:130px;
}

.form-field > span.status {
  position:absolute;
}

.form-field > .field {
  position:absolute;
}

/* Form-Fields */
.form-field > textarea {
  width:100%;
}

/* Image-field hack, resize per JS */
.form-field > img {
  height:1px;
}
