.form-grid {
  width:100%;
  border-spacing:15px;
}

/* form-grid of root-group-box must be 0 
 * because group-box header underline must
 * have no margins left and right.
 */
div.root-group-box > table.form-grid {
   border-spacing:0;
}

.form-field {
  box-sizing:border-box;
  /* DEBUG border:1px dotted red;*/
  white-space:nowrap;
}

.form-field > label {
  width : 33%;
  display:inline-block;
}

.form-field > span.status {
  width : 1%;
  display:inline-block;
}

.form-field > .field {
  width : 66%;
  display:inline-block;
}

/* Form-Fields */
.form-field > textarea {
  width:100%;
}

/* Image-field hack, resize per JS */
.form-field > img {
  height:1px;
}
