.dropdown-field-popup, .smart-field-popup {
  &.animate-open {
    #scout.transform-origin(top);
    #scout.transform(scaleY(0));
    #scout.animation-name(grow-y);
    #scout.animation-duration(0.3s);
  }

  &.removed {
    #scout.transform-origin(top);
    #scout.animation-name(shrink-y);
    #scout.animation-duration(0.15s);
  }
}

.dropdown-field-popup {
  border: 1px solid @popup-border-color;
  border-top-color: @border-color;
  border-bottom-left-radius: @border-radius;
  border-bottom-right-radius: @border-radius;
  background-color: @palette-white;
  #scout.drop-shadow();
  min-width: 200px;

  & > .table {
    & > .table-data > .table-row {

      /* Use text-field-padding-x for the first cell, so the text in the
       * table is exactly left-aligned with the text in the text-field above */
      & > .table-cell.first {
        padding-left: @text-field-padding-x;
      }

      &.last {
        border-bottom-color: transparent;
      }

      &.selected.last {
        /* Change color of last element to avoid double-border effect */
        border-bottom-color: @item-selection-background-color;
      }
    }
  }
}
