.dropdown-field {

  & > .icon {
    cursor: pointer;

    &::before {
      content: @icon-caret-down;
    }
  }

  &.popup-open > .icon::before {
    content: @icon-caret-up;
  }

  & > .field {
    cursor: pointer;

    &:focus,
    &.focused {
      #scout.focus-border();
    }

    &.disabled {
      cursor: default;
    }
  }
}

.proposal-field.loading,
.smart-field.loading {

  & > .icon {
    #scout.animation(rotation 1.25s linear infinite);

    &::before {
      content: @icon-spinner;
    }
  }

  & > input,
  & > .input-field,
  & > .field > input,
  & > .field > .input-field {
    & ~ .icon {
      margin-right: @text-field-padding-x;
      padding-right: 0;
    }
  }

}
