.key-box {
  position: absolute;
  height: 17px;
  min-width: 34px;
  padding: 0 3px;
  z-index: 100;
  color: @text-color;
  line-height: 17px;
  text-align: center;
  background-color: @tooltip-background-color;
  border: @tooltip-border;
  font-size: 11px;
}


.key-box.key-box-mnemonics {
  font-size: inherit;
}
