.key-box {
  position: absolute;
  height: 25px;
  width: 25px;
  z-index: 100;
  color: @text-color;
  line-height: 25px;
  text-align: center;
  background-color: @desktop-background-color;
  border: 1px solid @border-color;
  border-radius: 4px;
  opacity: 0.9;
  font-weight: bold;
  .glow(@focus-color-glow);
}


.key-box-additional{
  position: absolute;
  height: 25px;
  width: 20px;
  z-index: 100;
  color: @text-color;
  line-height: 25px;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  font-weight: bold;
}
