.key-box {
  .font-text-small;
  position: absolute;
  height: 14px;
  z-index: 100;
  padding-top: 3px;
  color: #FFF;
  line-height: 11px;
  text-align:center;
  background-color:@highlight-color;
}

.key-box.large {
  font-size: 20px;
}
