.scrollbar {
  position: absolute;
  width: 10px;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  right: 6px;
  margin-top: 8px;
  margin-bottom: 8px;

  &.borderless {
    right: -2px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.scrollbar-thumb {
  position: absolute;
  width: 8px;
  top: 0px;
  z-index: 2;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(153, 153, 153, 0.3);

  &.inverted {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.scrollbar-thumb-move,
.scrollbar-thumb:hover {
    background-color: rgba(153, 153, 153, 0.6);

  &.inverted {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.scrollable {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}
