.scrollbar {
  position: absolute;
  width: 10px;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  right: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.scrollbar-thumb {
  position: absolute;
  width: 8px;
  top: 0px;
  z-index: 2;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(153, 153, 153, 0.3);

  &.scrollbar-thumb-move,
  &:hover{
    background-color: rgba(153, 153, 153, 0.6);
  }
}


.viewport {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}
