.breadcrumbs {
  white-space: nowrap;
  padding: 10px;
  color: #9C9C9C;
}

.breadcrumbs > .scrollable-x {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.breadcrumb {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 35px;
  font-size: 16px;
}

.breadcrumb:before {
  .font-icon;
  font-size: 14px;
  content: @icon-chevron-left;
  padding-right: 5px;
}
