/* main element */
.desktop-navigation {
	position: relative;
	height: 100%;
    width: @size-desktop-navigation;
    background-color: @color-nav;
    color: @color-bench;
}

.navigation-header{
    width: 100%;
    height: @size-desktop-tools;
    .font-text-large;
    white-space: nowrap;
}

.navigation-container{
    top: @size-desktop-tools;
    height: calc(~"100%" - @size-desktop-tools);
    width: 100%;
}

.navigation-splitter-vertical{
	position: absolute;
	top: 0px;
	right: -8px;
	height: 100%;
	width: 16px;
	cursor: col-resize;
	z-index: 1;
}

.navigation-tab-outline,
.navigation-tab-search {
	float: left;
	
	&.tab-active {
		width: calc(~"100%" - @size-desktop-tools);
	}
	
    &:not(.tab-active) {
        background-color: @color-nav-light;
    	color: @color-bench-text;
    	width: 50px;
    	
    }    	
}

/* navigation header outline */

.navigation-tab-outline-button,
.navigation-tab-search-button,
.navigation-tab-outline-title,
.navigation-tab-search-field {
	padding: 0px 5px 0px 10px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
	cursor: pointer;
	.font-text-large;
	line-height: 50px;
	height: 50px;
}

.navigation-tab-outline-button {
	float: left;
	padding: 0px 15px 0px 15px;

	&.tab-menu-open {
		color: @color-bench-text-hover;
		background-color: @color-bench;
	}
	
	&:before{
		.font-icon;
		font-size: 24px;
		content: "\F0C9";
	}
}

.navigation-tab-search-button {
	float: right;
	padding: 0px 15px 0px 15px;
	
	&:before{
		.font-icon;
		font-size: 24px;
		content: "\F002";
	}
	
}

.navigation-tab-outline-title {
	overflow: hidden;
	display: none;

	.tab-active > & {
	    display: initial;
    }
	
}
.navigation-tab-search-field {
	width: calc(~"100% - 4px" - @size-desktop-tools );
	
	outline:0;
	border: 0;
	display: none;
	
    background-color: @color-nav;
    color: @color-bench;

	.tab-active > & {
	    display: initial;
    }
}
	
/* outline menu */

.navigation-tab-outline-menu {
	position: absolute;
	display: none;
	background-color: @color-bench;
	z-index: 2;
	.mixin-shadow;
}

.outline-menu-item {
	padding: 0px 15px 0px 15px;
	line-height: 50px;
	border-bottom: 1px solid @color-bench-light-border;
	cursor: pointer;
	color: @color-bench-text;
	
	&:hover{
		color: @color-bench-text-hover;
	}
}
