.desktop-taskbar{
position: absolute;
right: 0px;
z-index: 10;
height: calc(100% - 100px);
width: 100px;
border-left: 1px solid #CCC;
overflow: hidden;
}

.taskbar-item{
position: relative;
float: right;
height: 62px;
width: 100px;
padding: 15px 15px 15px 15px;
text-align: center;
cursor: pointer;
color:#FFF;
}

.taskbar-item:before{
font-family: fontAwesome;
font-size: 30px;
color:#0082A1;
content: attr(data-icon) '\A';
display: block;
}

.taskbar-item.selected, .taskbar-item.selected:before{
color:#FE9915 !important;
}

.taskbar-item.disabled:before{
color:#CCC;
}

.taskbar-item.selected:hover:before{
content: "\f00d" '\A';
}

/* FIXME CGU this would be the real disabled state, not the modal dialog disable */
.tool-item.disabled:hover, .tool-item.disabled:before{
cursor: default;
}

.taskbar-item:hover{
color:#0082A1;
}

.taskbar-item .key-box {
left: 4px;
top: 8px;
width: 22px;
}

/* FIXME CGU this would be the real disabled state, not the modal dialog disable */
.tool-item.disabled .key-box{
background-color:#CCC;
}


.form-thumbnails {
  display:inline-block;
}

.form-thumbnail {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
