/* main elements */
.desktop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &:focus {
    outline: none;
  }
}

.desktop-bench {
  position: absolute;
  top: @size-desktop-tools;
  left: @size-desktop-navigation;
  right: 0;
  bottom: 0;
  background-color: @body-background-color;
}

.desktop-tool-container {
  position: absolute;
  top: @size-desktop-tools;
  z-index: 10;
  .menu-context;
  background-color: @body-background-color;
  border-top: 1px solid transparent;
}

/* taskbar */

.desktop-taskbar {
  position: absolute;
  top: 0px;
  left: @size-desktop-navigation;
  right: 0px;
  height: @size-desktop-tools;
  border-bottom: 1px solid @color-bench-light-border;
}

.taskbar-tabs, .taskbar-tools {
  display:inline-block;
  word-wrap: none;
  vertical-align:top;
}

.taskbar-tools {
   float: right;
}

.taskbar-tab-item,
.taskbar-tool-item {
  vertical-align: top;
  display: inline-block;
  height: @size-desktop-tools;
  padding: 6px 20px 0 20px;

  cursor: pointer;
  background-color: @color-bench-light;
  color: @text-color;
  border-bottom: 1px solid @color-bench-light-border;

  &:hover {
    color: @hover-color;
  }

  &.disabled {
    color: @disabled-color;
    cursor: default;
  }

  &.selected {
    cursor: default;
    background-color: @body-background-color;
    color: @active-color;
    border-bottom: 1px solid @body-background-color;
  }

  &> div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &> .title {
    .font-text-large;
  }

  &> .sub-title {
    .font-text-normal;
  }

}

.taskbar-tab-item {
  border-right: 1px solid @color-bench-light-border;
  width: 220px;
}

.taskbar-tool-item {
  position: relative;
  .font-text-plus;
  background-color: @color-bench;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding-top:16px;

  &:before {
    .font-icon;
    color: @icon-color;
    font-size: 17px;
    vertical-align: -3px;
    padding-right: 11px;
    content: attr(data-icon);
  }

  &:hover:before {
    color: @hover-color;
  }

  &.selected {
    border-left: 1px solid @color-bench-light-border;
    border-right: 1px solid @color-bench-light-border;
    border-bottom: 1px solid @body-background-color;
    cursor: pointer;

    &:before {
      color: @active-color;
    }
  }

  &.disabled:before {
    color: @disabled-color;
  }
}

.taskbar-tab-item .key-box,
.taskbar-tool-item .key-box {
  left: 4px;
  top: 8px;
  width: 22px;

  &.disabled{
    background-color: @disabled-color;
  }
}

.taskbar-logo {
  float: right;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 13px;
  width: 40px;
  height: 33px;
  background: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* table / form */

.desktop-bench > .table > .table-header,
.desktop-bench > .table > .table-data {
  margin-left: @bench-margin-x;
  margin-right: @bench-margin-x;
}

/* Desktop table has a 2px border. For this we create a div which spans the full row and has border-top/bottom set to 1px.
Middle rows dont have 2px border so no need to do it for those. */
.desktop-bench > .table .table-row,
.desktop-bench > .table .table-row-sum {
  border-left-width: 2px;
  border-right-width: 2px;
}

.desktop-bench > .table .table-row.select-single:before,
.desktop-bench > .table .table-row.select-top:before,
.desktop-bench > .table .table-row.select-bottom:before {
   position: absolute;
   display: block;
   content: '';
   height: 100%;
   width: 100%;
}

.desktop-bench > .table .table-row.select-top:before {
   border-top: 1px solid @selection-border-color;
}

.desktop-bench > .table .table-row.select-bottom:before {
   border-bottom: 1px solid @selection-border-color;
}

.desktop-bench > .table .table-row.select-single:before {
   border-top: 1px solid @selection-border-color;
   border-bottom: 1px solid @selection-border-color;
}

/* base desktop */

.timeout-message {
  border: 1px solid red;
  background-color: rgb(255, 200, 200);
  padding: 5px;
  color: rgb(150,0,0);
  max-width: 300px;
  margin: 20px auto;
}

.offline-message {
  border: 1px solid @palette-bsi-green;
  background-color: #eee;
  padding: 6px 5px;
  margin: 20px auto;
  z-index: 1;
  position: fixed;
  right: 10px;
  top: 55px;
}

.offline-message.reconnect-successful {
  border: 1px solid #00A507;
  background-color: #E1FDE3;
}

.reconnect {
  display: inline-block;
  float: right;
}

.reconnect-animated:before {
  .animation(rotation 0.9s linear infinite);
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top-color: @palette-bsi-green;
  border-left-color: @palette-bsi-green;
  width: 14px;
  height: 14px;
}

.glasspane {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.1);
}
