@desktop-taskbar-height: 50px;
@navigation-tab-button-size: @desktop-taskbar-height;

/* main element */

.desktop-navigation {
  position: relative;
  height: 100%;
  width: @size-desktop-navigation;
  background-color: @navigation-background-color;
  color: @navigation-light-color;
}

.navigation-header {
  width: 100%;
  height: @desktop-taskbar-height;
  .font-text-large;

  .navigation-breadcrumb & {
    height: 2 * @desktop-taskbar-height;
  }
}

.navigation-container {
  width: 100%;
  height: calc(~"100%" - @desktop-taskbar-height);

  .navigation-breadcrumb & {
    height: calc(~"100%" - 2 * @desktop-taskbar-height);
  }

  & .search-status {
    padding: 10px;
    padding-left: 15px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .navigation-breadcrumb & .search-status {
    padding-top: 0px;
    padding-right: 14px;
  }
}

.navigation-splitter-vertical {
  position: absolute;
  top: 0px;
  right: -8px;
  height: 100%;
  width: 16px;
  cursor: col-resize;
  z-index: 1;
}

.navigation-tab-outline,
.navigation-tab-search {
  position: relative;
  float: left;
  cursor: pointer;
  display: inline-block;

  &.tab-active {
    width: 100%;
  }

  .search-available > &.tab-active {
    width: calc(~"100%" - @navigation-tab-button-size);
  }

  &:not(.tab-active) {
    background-color: @palette-gray-6;
    color: @text-color;
    width: @navigation-tab-button-size;
  }

  .navigation-breadcrumb > .navigation-header > & {
    width: 50%;
  }
}

/* navigation header buttons*/

.navigation-tab-outline-button,
.navigation-tab-search-button {
  padding: 0px 10px 0px 10px;
  text-align: center;
  height: @navigation-tab-button-size;
  width: @navigation-tab-button-size;
  line-height: @navigation-tab-button-size;
  .font-text-large;

  &:before {
    .font-icon;
    font-size: 24px;
  }

  .navigation-breadcrumb & {
    width: 100%;
  }
}

.navigation-tab-outline-button {
  float: left;

  .tab-menu-open & {
    color: @hover-color;
    background-color: @navigation-light-color;
  }

  &:before {
    content: @icon-menu;
  }
}

.navigation-tab-search-button {
  float: right;

  &:before {
    content: @icon-search;
  }
}

/* navigation header fields */

.navigation-tab-outline-title {
  padding: 0px 10px 0px 10px;
  height: 100%;
  line-height: @desktop-taskbar-height;
  white-space: nowrap;
  .font-text-large;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;

  .tab-active > & {
    display: block;
  }

  .navigation-breadcrumb & {
    width: 200%;
    text-align: center;
    border-bottom: 1px solid @navigation-light-color;
  }
}

.navigation-tab-search-field {
  float: left;
  border: 1px solid @navigation-background-color;
  height: 32px;
  border-radius: 5px;
  margin: 10px 2px 10px 12px;
  width: calc(~"100%" - (@navigation-tab-button-size + 2px + 12x));
  display: none;
  background-color: @palette-gray-8;
  .tab-active > & {
    display: block;
  }

   &:focus {
    border-color: @navigation-background-color;
    .glow(@palette-white);
  }

  .navigation-breadcrumb & {
    position: absolute;
    margin-right: 12px;
    top:  @desktop-taskbar-height;
    left: -100%;
    width: calc(~"200%" - (12px + 12x));
  }

}

/* navigation outline menu */

.navigation-tab-outline-menu {
  position: absolute;
  top: @desktop-taskbar-height;
  background-color: @navigation-light-color;
  z-index: 10;
  white-space: nowrap;
  .menu-context;
  border-top: 1px solid transparent;
  display: none;

  .tab-menu-open & {
    display: block;
  }
}
