#Desktop {
width: 100%;
height: 100%;
}

.desktop-area-W {
width: 300px;
}

.desktop-area-C {
left: 300px;
top: 58px;
height: ~"calc(100% - 58px)";
overflow:hidden;
}

.desktop-area-E {
width: 600px;
right: 0px;
}
