#DesktopTools{
position: absolute;
right: 0px;
top: 0px;
z-index: 10;
height: 60px;
width: 100%;
overflow: hidden;
}

.tool-item{
position: relative;
float: right;
width: 65px;
padding: 15px 15px;
text-align: center;
}

.tool-item:before{
font-family: fontAwesome;
font-size: 30px;
color:#0082A1;
content: attr(data-icon) '\A';
}

.tool-item:active{
color:#0082A1;
}

.tool-item.selected, .tool-item.selected:before{
color:#FE9915 !important;
}

.tool-open{
position: absolute;
left: 0px;
top: 65px;
width: 100%;
height: 0;
border-left:1px solid #CCC;
background-color: rgba(255, 255, 255, 0.95);
overflow: hidden;
z-index: 11;
}
