<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${symbol_dollar}{workspace_loc:/${rootArtifactId}.app/js build.sh}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${symbol_dollar}{workspace_loc:/${rootArtifactId}.app}"/>
</launchConfiguration>
