.basic-field.clearable {

  & > input,
  & > .input-field,
  & > .field > input,
  & > .field > .input-field {

    &.halign-right {
      padding-left: @text-field-padding-x + 15px;
      padding-right: @text-field-padding-x;

      ~ .clear-icon {
        padding-left: @text-field-padding-x;
        padding-right: 0;
      }
    }

    &.compact {
      padding-left: @text-field-padding-x;
    }
  }
}
