.form-field {
  border-spacing: 0;
  position: absolute;

  & > label {
    position: absolute;
    .overflow-ellipsis-nowrap;
    padding-top: @borderless-field-padding-y;
    padding-bottom: @borderless-field-padding-y;
    margin-left: @mandatory-indicator-width;

    &.empty {
      /* explicitly disable ellipsis, because IE would display it for very narrow columns even if content is '&nbsp;' */
      text-overflow: clip;
    }
  }

  & > .field {
    position: absolute;
  }

  & > .mandatory-indicator {
    position: absolute;
    visibility: hidden;
    margin-right: 2px;

    &::before {
      content: '*';
      font-size: 15px;
    }
  }

  &.mandatory > .mandatory-indicator {
    visibility: visible;
  }

  /* keep space so that fields don't move when changing from disabled to enabled */
  &.disabled > .mandatory-indicator {
    visibility: hidden;
  }

  & > .status {
    position: absolute;
    right: 0;
    margin-left: 10px;
    visibility: hidden;
    cursor: pointer;

    &::before  {
      .font-icon();
      /* set (invisible) info icon to reserve space */
      content: @icon-info;
      font-size: 16px;
    }
  }

  &.has-tooltip > .status {
    visibility: visible;

    &::before  {
      content: @icon-info;
      color: @icon-light-color;
    }

    &:hover::before {
      color: @icon-color;
    }
  }

  &.has-error > .status {
    visibility: visible;

    &::before  {
      content: @icon-error;
      color: @error-color;
    }
  }
}
