.label-field > .field {
  padding-top: @borderless-field-padding-y;
  padding-bottom: @borderless-field-padding-y;
  margin-left: @mandatory-indicator-width;
  #scout.user-select(text);
  #scout.overflow-ellipsis();

  &.has-inner-alignment {

    &.halign-left {
      text-align: left;
    }

    &.halign-center {
      text-align: center;
    }

    &.halign-right {
      text-align: right;
    }
  }
}
