/* SCOUT GUI 0.2 */
/* (c) Copyright 2013-2014, BSI Business Systems Integration AG */
/* position, size, look, others */

/* font definition */

@font-face {
font-family: fontAwesome;
src: url('awesome.woff') format('woff');
}

@font-face {
font-family: fontDax;
src: url('dax.woff') format('woff');
}

/* global section, narrow to .scout for usage as portlet*/

*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

html, body {
height: 100%;
width: 100%;
margin: 0px;
overflow: hidden;
font-family: fontDax, Arial, sans-serif;
font-size: 14px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: default;
}

/* for all classes */

body.col-resize *, body.col-resize {
cursor:col-resize !important;
}

body.row-resize *, body.row-resize {
cursor:row-resize !important;
}

/* desktop */

#Desktop {
width: 100%;
height: 100%;
}

/* views */

#DesktopViews {
width: 100%;
height: 57px;
white-space: nowrap;
border-bottom: 1px solid #CCC;
background: #FFF;
overflow: hidden;
}

.view-item {
position: relative;
float: left;
margin: 18px 0px 0px 40px;
padding-bottom: 10px;
font-size: 18px;
line-height: 26px;
color: #9C9C9C;
cursor: pointer;
white-space: nowrap;}

.view-item:hover{
color: #595959;
border-bottom: 2px solid #595959;
}

.view-item.selected {
color: #FE9915 !important;
border-bottom: 2px solid #FE9915;
}

#ViewAdd {
float: left;
height: 57px;
width: 45px;
padding: 22px 0px 0px 20px;
margin-left: 15px;
cursor: pointer;
}

#ViewAdd:before{
font-family: fontAwesome;
font-size: 14px;
color: #0082A1;
content: "\f067";
}

#ViewAdd:hover:before{
color:#FE9915;
}

.view-remove{
position: absolute;
top: -10px;
right: -10px;
height: 25px;
width: 10px;
padding-left: 5px;
}

.view-item:hover .view-remove:after{
font-family: fontAwesome;
font-size: 9px;
color: #0082A1;
content: "\f00d";
}

.view-remove:hover:after {
color:#FE9915 !important;
}

#ViewLogo {
float: right;
margin-top: 13px;
width: 225px; /*animate to 57px;*/
height: 33px;
background: url("logo.png");
background-size: cover;
}

/* tools */

#DesktopTools{
position: absolute;
right: 0px;
top: 58px;
z-index: 10;
height: calc(100% - 58px);
width: 80px;
border-left: 1px solid #CCC;
background-color: #FFF;
overflow: hidden;
}

.tool-item{
position: relative;
float: right;
height: 58px;
width: 80px;
padding: 15px 15px 15px 15px;
text-align: center;
cursor: pointer;
color:#FFF;}

.tool-item:before{
font-family: fontAwesome;
font-size: 30px;
color:#0082A1;
content: attr(data-icon) '\A';
}

.tool-item:hover{
color:#0082A1;
}

.tool-item.selected, .tool-item.selected:before{
color:#FE9915 !important;
}

.tool-item.selected:hover:before{
content: "\f00d" '\A';
}

.tool-item.disabled:hover, .tool-item.disabled:before{
cursor: default;
color:#CCC;
}

.tool-open{
position: absolute;
right: 80px;
top: 58px;
width: 0px;  /*animate to 300px;*/
height: calc(100% - 58px);
border-left:1px solid #CCC;
background-color: rgba(255, 255, 255, 0.95);
overflow: hidden;
z-index: 11;
}

#DesktopDialogs{
}

/* tree */

#DesktopTree{
position: relative;
width: 300px;
height: calc(100% - 58px);
overflow:hidden;
min-height: 100px;}

#DesktopTree > .scrollbar{
right: 18px;
margin-top: 10px;
margin-bottom: 10px;
}

#DesktopTreeScroll{
position: absolute;
top: 0px;
width: calc(100% - 11px);
height: 100%;
padding: 12px 0px 0px 10px;
}

#DesktopTreeResize{
position: absolute;
top: 0px;
right: 0px;
height: 100%;
width:21px;
background-color: #CCC;
border: 10px solid #FFF;
cursor: col-resize;
}

.tree-item{
position: relative;
float: left;
width: 100%;
line-height: 32px;
padding-left: 30px;
white-space: nowrap;
cursor: pointer;
overflow: hidden;
}

.tree-item-control{
position: absolute;
left: -1px;
top: -1px;
width: 29px;
height: 30px;
line-height: 24px;
padding: 4px 4px 4px 4px;
}

.tree-item-control:before{
font-family: fontAwesome;
font-size: 24px;
content: "\F111";
color: #CCC;
}

.tree-item.can-expand > .tree-item-control:before{
content:"\F0A9";
}

.tree-item:hover > .tree-item-control:before{
color:#9C9C9C;
}

.tree-item.selected > .tree-item-control:before{
color:#FE9915 !important;
}

.tree-item.expanded > .tree-item-control:hover:before{
content:"\F057" !important;
}

.tree-item-menu{
position: absolute;
right: 1px;
top: -1px;
}

.selected > .tree-item-menu:before{
font-family: fontAwesome;
font-size: 24px;
content:"\F0C9";
color: #CCC;
background-color: #fff;
padding: 3px 3px 3px 3px;
}

.tree-item-menu:hover:before{
color:#9C9C9C !important;
}

#TreeItemAnimate{
width: 100%;}

/* bench: form and table */

#DesktopBench{
position: absolute;
left: 300px;
top: 58px;
height: calc(100% - 58px);
width: calc(100% - 380px);
}

#DesktopTable {
height: 100%;
width: 100%;
overflow: hidden;
padding-top: 12px;
}

/* main table header */

#TableHeader {
border-bottom: 1px solid #EEE;
border-left: 2px solid #FFF;
white-space: nowrap;
padding: 0px 0px 0px 10px;
}


.header-item {
position: relative;
display: inline-block;
padding: 7px 0px 0px 0px;
font-weight: bold;
cursor:pointer;
overflow: hidden;
text-overflow: ellipsis;
line-height: 14px;
}

.header-item.sort-up,
.header-item.sort-down,
.header-item.filter,
.header-item.group {
color:#0082A1;
}

.header-item:hover, .header-move{
color:#FE9915
}

.header-resize {
display: inline-block;
position: relative;
top: 0px;
cursor: col-resize;
height: 25px;
width: 17px;
background-color: #FFF;
border-left: 8px solid #FFF;
border-right: 8px solid #FFF;
}

.header-item:hover + .header-resize, .header-resize:hover {
background-color: #EEE;
}

.header-item.header-move + .header-resize{
background-color: #FFF ! important;
}


#HeaderOrganize{
position: absolute;
top: 18px;
right: 0px;
width: 20px;
heigth: 20px;
cursor: pointer;
font-family: fontAwesome;
font-size: 17px;
line-height: 17px;
color:#D4D4D4;
}

#HeaderOrganize:before {
content:"\F013";
}

#HeaderOrganize:hover{
color:#FE9915
}


/* main table data */

#TableData {
position: relative;
height: calc(100% - 85px);
width: 100%;
overflow: hidden;
padding-left: 4px;
}

#TableData > .scrollbar {
right: 7px;
margin-top: 10px;
margin-bottom: 10px;
height: calc(100% - 23px);
}

#TableDataScroll {
position: absolute;
top: 0px;
height: 100%;
width: calc(100% - 11px);
}


.table-row, .table-row-sum {
position:relative;
overflow: hidden;
border-right: 2px solid #FFF;
border-left: 2px solid #FFF;
line-height: 26px;
padding: 2px 0px 2px 0px;
margin-bottom: -2px;
}

.table-row > div, .table-row-sum > div {
display: inline-block;
padding: 3px 6px 0px 6px;
background-color: #FFF;
white-space: nowrap;
border-bottom: 1px solid #EEE;
overflow: hidden;
text-overflow: ellipsis;
vertical-align: top;
}

.table-row-sum > div {
font-weight: bold;
}

.table-row-sum:last-child > div {
border-bottom: none;
}

.table-row.select-top {
padding: 0px 0px 2px 0px !important;
border-top: 2px solid #0082a1;
border-left: 2px solid #0082a1;
border-right: 2px solid #0082a1;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
}

.table-row.select-middle {
border-left: 2px solid #0082a1;
border-right: 2px solid #0082a1;
}

.table-row.select-bottom {
padding: 2px 0px 0px 0px !important;
border-bottom: 2px solid #0082a1;
border-left: 2px solid #0082a1;
border-right: 2px solid #0082a1;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}

.table-row.select-single {
padding: 0px 0px 0px 0px !important;
border-top: 2px solid #0082a1;
border-bottom: 2px solid #0082a1;
border-left: 2px solid #0082a1;
border-right: 2px solid #0082a1;
border-radius: 7px;
}

#RowMenu {
position: absolute;
left: -25px;
top: 0px;
background-color: #FFF;
width: 29px;
height: 27px;
padding: 3px 5px 0px 5px;
cursor: pointer;
border: 2px solid #0082a1;
border-radius: 7px;}

#RowMenu:before {
font-family: fontAwesome;
font-size: 18px;
line-height: 18px;
content:"\F0C9";
color: #0082a1;
}

#RowMenu:hover:before {
color:#fe9915;
}


#RowDrill {
position: absolute;
left: -25px;
top: 0px;
background-color: #FFF;
width: 29px;
height: 27px;
padding: 3px 5px 0px 5px;
cursor: pointer;
border: 2px solid #0082a1;
border-radius: 7px;}

#RowDrill:before {
font-family: fontAwesome;
font-size: 18px;
line-height: 18px;
content:"\F063";
color: #0082a1;
}

#RowDrill:hover:before {
color:#fe9915;
}

/* main table control */

#TableControl {
position: absolute;
bottom: 0px;
height: 50px;
width: 100%;
padding-right: 15px;
padding-left: 10px;
white-space: nowrap;
}

#ControlGraph, #ControlChart, #ControlMap {
padding: 14px 18px 10px 2px;
float: left;
cursor: pointer;
}

#ControlGraph:before, #ControlChart:before, #ControlMap:before {
font-family: fontAwesome;
font-size: 24px;
color:#0082A1;
}

#ControlGraph:before {content:"\F0E8";}
#ControlChart:before {content:"\F080";}
#ControlMap:before {content:"\F0AC";}


#ControlGraph:hover:before, #ControlChart:hover:before, #ControlMap:hover:before  {
color: #FE9915;
}

#ControlGraph.disabled:hover, #ControlGraph.disabled:before,
#ControlChart.disabled:hover, #ControlChart.disabled:before,
#ControlMap.disabled:hover, #ControlMap.disabled:before{
cursor: default;
color:#CCC;
}

#ControlLabel {
float: left;
padding-top: 18px;
color: #0082A1;
}

.selected:before {
color: #FE9915 !important;
}

#InfoLoad, #InfoMore, #InfoFilter, #InfoSelect {
position:relative;
float: right;
margin-top: 6px;
margin-left: 7px;
padding: 0px 0px 0px 7px;
display: none;
width: 0px;
height: 38px;
border-left: 1px solid #CCC;
color: #bfbfbf;
white-space: nowrap;
cursor: pointer;
line-height: 21px;
}


#InfoLoad:hover, #InfoMore:hover, #InfoFilter:hover, #InfoSelect:hover {
color: #444;
}

#ControlResizeTop, #ControlResizeBottom {
position: absolute;
width: 100%;
left: 0px;
height: 17px;
background-color: #CCC;
border-top: 8px solid #FFF;
border-bottom: 8px solid #FFF;
border-right: 10px solid #FFF;
}

.resize-on #ControlResizeTop, .resize-on #ControlResizeBottom{
cursor: row-resize;
}

#ControlResizeTop{
top: -8px;
}

#ControlResizeBottom {
top: 42px;
}

#ControlContainer {
position: absolute;
top: 60px;
left: 0px;
width: calc(100% - 20px);
height: 340px;
margin: 0px 20px 10px 10px;
}

/* chart - type select */

#ChartSelect{
float: left;
}

svg.select-chart{
height: 65px;
width: 80px;
display: block;
}

rect.select-events{
cursor: pointer;
}

rect.select-fill, circle.select-fill{
fill: #e2e2e2;
}

path.select-fill-line, line.select-fill-line{
stroke: #e2e2e2;
fill: #fff;
stroke-width: 3px;
stroke-linejoin: round;
stroke-linecap: round;
}

path.select-fill-pie{
stroke: #fff;
fill: #e2e2e2;
stroke-width: 1px;
stroke-linejoin: round;
stroke-linecap: round;
}

svg.select-chart:hover rect.select-fill,
svg.select-chart:hover circle.select-fill,
svg.select-chart:hover path.select-fill-pie{
fill: #ccc;
}

svg.select-chart:hover path.select-fill-line,
svg.select-chart:hover line.select-fill-line{
stroke: #ccc;
}

svg.select-chart.selected rect.select-fill,
svg.select-chart.selected circle.select-fill,
svg.select-chart.selected path.select-fill-pie{
fill: #fe9915;
}

svg.select-chart.selected path.select-fill-line,
svg.select-chart.selected line.select-fill-line{
stroke: #fe9915;
}

/* chart - axis and data select */

#XAxisSelect, #YAxisSelect, #DataSelect{
float: left;
width: 175px;
display: inline-block;
overflow: hidden;
}

#YAxisSelect {
width: 0px;
}

.select-axis, .select-data{
position: relative;
margin:5px 10px 0px 15px;
padding-left: 25px;
padding-top: 4px;
height: 26px;
line-height: 21px;
width: 150px;
background-color: #e2e2e2;
cursor: pointer;
overflow: hidden;
text-overflow: ellipsis;
}

.select-axis-group{
position: relative;
font-size: 10px;
line-height: 12px;
}

.select-axis:hover, .select-data:hover{
background-color: #ccc;
}

.select-axis.selected, .select-data.selected{
background-color: #fe9915;
color: #fff;
}

.select-axis:before, .select-data:before{
color: #fff !important;
position: absolute;
font-size: 16px;
line-height: 16px;
left: 9px;
top: 6px;
}

.select-axis:before {
font-family: fontAwesome;
}

.axis-ver.selected:before{content: "\F175"; }
.axis-hor.selected:before{content: "\F178"; left: 5px; }
.axis-around.selected:before{content: "\F01E"; left: 6px; }
.axis-up.selected:before{content: "\F176"; }

.data-count.selected:before{content: "\2317"; top: 5px;}
.data-sum.selected:before{content: "\03a3"; top: 7px;}
.data-median.selected:before{content: "\2300"; left: 6px; top: 7px;}

/* chart - main */
#ChartMain {
width: 1000px;
height: 320px;
}

rect.main-chart, circle.main-chart{
fill: #0082a1;
stroke: #fff;
stroke-width: 0px;
cursor: pointer;}

circle.main-chart {
opacity: 0.7;
}

path.main-chart{
fill: #0082a1;
stroke: #fff;
stroke-width: 2px;
cursor: pointer;}


line.main-chart{
stroke: #0082a1;
stroke-width: 4px;
stroke-linejoin: round;
stroke-linecap: round;
}

.main-chart:hover, .main-chart.selected {
fill: #fe9915
}


line.main-axis{
stroke: #ddd;
stroke-width: 1px;
}

text.main-axis{
fill: #fff;
text-anchor: middle;
dominant-baseline: middle;
}

text.main-axis-y{
fill: #aaa;
text-anchor: end;
dominant-baseline: central;
font-size: 10px;
}

text.main-axis-x, textPath.main-axis-x{
fill: #aaa;
text-anchor: middle;
dominant-baseline: middle;
font-size: 10px;
}


/* graph */

#GraphContainer {
width: 100%;
height: 100%;
}

.graph-node {
stroke: #fff;
stroke-width: 2px;
cursor: pointer;
}

.graph-node.center {fill: #fe9915;}
.graph-node.internal {fill: #bfbfbf;}
.graph-node.person {fill: #0082a1;}
.graph-node.department {fill: #80c1d0;}
.graph-node.company {fill: #ffcc8a;}

.graph-node-text{
fill: #fff;
text-anchor: middle;
dominant-baseline: central;
}

.graph-node-text:hover{
cursor: pointer;
}

.graph-link {
stroke: #bfbfbf;
stroke-width: 2;
}

.graph-link-text{
fill: #9C9C9C;
text-anchor: middle;
dy: 20px;}

/* map */

#MapContainer {
width: 100%;
height: 100%;
}

.map-item {
fill: #bfbfbf;
cursor: pointer;
stroke-width: 100;
stroke: #fff;
}

.map-item.has-data {
fill: #0082a1;
}

.map-item:hover {
fill: #7f7f7f;
}

.map-item.selected {
fill: #fe9915
}

.map-item.has-data:hover {
fill: #fe9915 !important;
}



/* menu */

#MenuControl{
position: fixed;
height: 37px;
width: 37px;
z-index: 104;
border-top: 2px solid #0082A1;
border-left: 2px solid #0082A1;
border-bottom: 2px solid #0082A1;
background-color: white;
cursor: pointer;
padding-left: 8px;
}

#MenuControl:before{
font-family: fontAwesome;
font-size: 24px;
content:"\F0C9";
line-height: 34px;
color: #0082A1; }

#MenuControl:hover:before{
color: #FE9915;
}

#MenuSelect{
position: fixed;
z-index: 103;
border: 2px solid #0082A1;
background-color:white;
white-space: nowrap;
padding: 3px;}

.menu-item{
color: #0082A1;
cursor: pointer;
line-height: 23px;
padding: 4px 8px 0px 9px;
}

.menu-item:hover {
text-decoration: underline;
color: #FE9915;
}

#MenuButtons{
height: 53px;
}

#MenuButtonsLabel{
color: #FE9915;
padding: 0px 8px 0px 9px;
line-height: 20px;
}

.menu-button{
display:inline-block;
cursor: pointer;
padding: 0px 10px 0px 10px;
}

.menu-button:before{
font-family: fontAwesome;
font-size: 24px;
line-height: 31px;
color:#0082A1;
content: attr(data-icon) '\A';
}

.menu-button:hover:before{
color: #FE9915;
}

/* header menu */

#MenuHeaderTitle {
position: fixed;
z-index: 104;
border-top: 2px solid #0082A1;
border-left: 2px solid #0082A1;
border-right: 2px solid #0082A1;
padding: 6px 4px 0px 10px;
font-weight: bold;
line-height: 20px;
cursor:pointer;
overflow: hidden;
color:#FE9915;
background-color: #FFF;
white-space: nowrap;
text-overflow: ellipsis;
}

#MenuHeader {
position: fixed;
z-index: 103;
border: 2px solid #0082A1;
background-color: #FFF;
padding-bottom: 5px;
max-height: 80%;
overflow: hidden;}

#HeaderTitle{
padding: 10px 1px 10px 10px;
}

#HeaderCommand{
padding: 10px 1px 0px 10px;
}

#HeaderFilter{
padding: 0px 1px 10px 10px;
}

#HeaderModel{
padding: 10px 1px 10px 10px;
}

.header-group{
width: 250px;
height: 60px;
}

.header-text{
clear: both;
color: #0082A1;
}

.header-command{
float: left;
width: 55px;
margin-right: 7px;
heigth: 26px;
font-family: fontAwesome;
font-size: 17px;
line-height: 26px;
color: #fff;
background-color: #e2e2e2;
cursor: pointer;
text-align: center;
}


.header-command:after {
position: relative;
left: 3px;
top: -6px;
font-size: 10px;
line-height: 10px;
}


#HeaderCommandMoveTop:before,
#HeaderCommandMoveUp:before,
#HeaderCommandMoveDown:before,
#HeaderCommandMoveBottom:before {
font-size: 20px;
line-height: 20px;
}

#HeaderCommandMoveTop:before { content: "\F100";}
#HeaderCommandMoveUp:before { content: "\F104";}
#HeaderCommandMoveDown:before { content: "\F105";}
#HeaderCommandMoveBottom:before { content: "\F101";}

#HeaderCommandSortUp:before,
#HeaderCommandSortUpAdd:before {
content: "\F175";
}

#HeaderCommandSortDown:before,
#HeaderCommandSortDownAdd:before {
content: "\F176";
}

#HeaderCommandSortUpAdd:after,
#HeaderCommandSortDownAdd:after {
content: "\F067";
}

#HeaderCommandGroupAll:before,
#HeaderCommandGroupSort:before,
#HeaderCommandGroupRemove:before {
position: relative;
top: 1px;
font-family: sans-serif;
content: "\03a3";
font-size: 20px;
}

#HeaderCommandGroupSort:after {content: "\F00B";}
#HeaderCommandGroupRemove:after {content: "\F00D";}

#HeaderCommandColorRed:after {content: "\00a0";}
#HeaderCommandColorRed{
background-image: linear-gradient(to right, #ffafaf, #abd693);
}
#HeaderCommandColorGreen:after {content: "\00a0";}
#HeaderCommandColorGreen{
background-image: linear-gradient(to right, #abd693, #ffafaf);
}

#HeaderCommandColorBar:after {content: "\00a0";}
#HeaderCommandColorBar{
background-image: linear-gradient(to right, #80c1d0 0%, #80c1d0 65%, white 65%, white 100% );
border: 2px solid #80c1d0;
heigth: 20px;
width: 51px;
font-size: 22px;
line-height: 22px;
}

#HeaderCommandColorRemove:after {content: "\00a0";}
#HeaderCommandColorRemove{
background: #fff;
border: 2px solid #80c1d0;
heigth: 20px;
width: 51px;
font-size: 22px;
line-height: 22px;
}

#HeaderCommandColumnAdd:before { content: "\F067";}
#HeaderCommandColumnRemove:before { content: "\F00D";}

#HeaderCommandSetUser1:before { content: "1";}
#HeaderCommandSetUser2:before { content: "2";}
#HeaderCommandSetUser3:before { content: "3";}

#HeaderCommandResetUser1:before { content: "1";}
#HeaderCommandResetUser2:before { content: "2";}
#HeaderCommandResetUser3:before { content: "3";}
#HeaderCommandResetDefault:before { content: "BSI";}

#HeaderCommandExportExcel:before { content: "XLS";}
#HeaderCommandExportWord:before { content: "DOC";}
#HeaderCommandExportPowerpoint:before { content: "PPT";}
#HeaderCommandExportPDF:before { content: "PDF";}

#HeaderCommandShareEmail:before { content: "\F0E0";}
#HeaderCommandShareGoogle:before { content: "\F0D5";}
#HeaderCommandShareTwitter:before { content: "\F099  ";}
#HeaderCommandShareFacebook:before { content: "\F09A";}


.header-filter {
width: 241px;
float: left;
clear: both;
heigth: 26px;
line-height: 26px;
background-color: #e2e2e2;
cursor: pointer;
margin-bottom: 5px;
padding: 2px 20px 0px 6px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.header-filter:after {
position: absolute;
right: 20px;
content: attr(data-value);
}

.header-command.selected,
.header-filter.selected {
background-color: #fe9915 ! important;
}

.header-command:hover,
.header-filter:hover{
background-color: #ccc;
}

.header-command.selected:after,
.header-command.selected:before {
color: #fff !important;
}

/* table menu */

#MenuTableTitle {
position: fixed;
z-index: 104;
border-top: 2px solid #0082A1;
border-left: 2px solid #0082A1;
border-right: 2px solid #0082A1;
padding: 6px 5px 9px 6px;
font-family: fontAwesome;
font-size: 17px;
line-height: 17px;
cursor:pointer;
background-color: #FFF;
color:#FE9915
}

#MenuTableTitle:before {
content:"\F013";
}

#MenuTable {
position: fixed;
z-index: 103;
padding: 10px 1px 0px 10px;
border: 2px solid #0082A1;
background-color: #FFF;
}


/* scrollbar */

.scrollbar {
position: absolute;
width: 10px;
height: 100%;
z-index: 1;
background-color: white;
cursor: pointer;
}

.scrollbar-thumb {
position: absolute;
width: 10px;
top: 0px;
z-index: 2;
background-color: #D4D4D4;
cursor: pointer;
}

.scrollbar-thumb-move, .scrollbar-thumb:hover{
background-color: #0082A1;
}

/* key handling */

.key-box {
position: absolute;
height: 14px;
z-index: 100;
padding-top: 3px;
color: #FFF;
font-size: 11px;
line-height: 11px;
text-align:center;
background-color:#FE9915;
}

.view-item .key-box {
left: -18px;
top: -8px;
width: 14px;
}

.tool-item .key-box {
left: 4px;
top: 8px;
width: 22px;}

.tool-item.disabled .key-box{
background-color:#CCC;
}

.tree-item .key-box {
left: 3px;
top: 7px;
width: 20px;
}

.key-box.large{
font-size: 20px;
}

#TableData .key-box {
right: 24px;
width: 32px;
}

#TableData .key-box.top3 { top: 10px;}
#TableData .key-box.top2 { top: 32px;}
#TableData .key-box.top1 { top: 54px;}
#TableData .key-box.bottom1 { bottom: 54px;}
#TableData .key-box.bottom2 { bottom: 32px;}
#TableData .key-box.bottom3 { bottom: 10px;}

